Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.3

jobs:
  validate:
    docker:
      - image: quay.io/giantswarm/architect
    steps:
      - checkout
      - run:
          name: Validate releases
          command: CGO_ENABLED=0 go test ./...

workflows:
  workflow:
    jobs:
      - validate
      - path-filtering/filter:
          name: filter
          mapping: |
            aws/.* push-aws true
            azure/.* push-azure true
            kvm/.* push-kvm true
          base-revision: master
          config-path: .circleci/provider_config.yml
          requires:
            - validate

deprecate AWS v17.1.0 release
  aws/v17.1.0/release.yaml
  aws/v17.2.0/release.diff
Due: push-aws

update containerlinux release notes
  aws/v17.2.0/README.md
Due: push-aws

update Kubernetes release notes
  aws/v17.2.0/README.md
Due: push-aws

AWS v17.2.0
  aws/v17.2.0/README.md
  aws/v17.2.0/release.diff
  aws/v17.2.0/release.yaml
Due: push-aws

update release notes and announcement
  aws/v17.2.0/README.md
  aws/v17.2.0/announcement.md
Due: push-aws

AWS v17.2.0
  aws/v17.2.0/release.diff
  aws/v17.2.0/release.yaml
Due: push-aws

AWS 17.2.0 (#956)
  README.md
  aws/kustomization.yaml
  aws/v17.2.0/README.md
  aws/v17.2.0/announcement.md
  aws/v17.2.0/kustomization.yaml
  aws/v17.2.0/release.diff
  aws/v17.2.0/release.yaml
Due: push-aws

Update release.yaml
  aws/v17.2.0/release.yaml
Due: push-aws

Update release.diff
  aws/v17.2.0/release.diff
Due: push-aws

add VPA removal note to AWS v17 releases
  aws/v17.0.0/README.md
  aws/v17.0.1/README.md
  aws/v17.0.2/README.md
  aws/v17.1.0/README.md
  aws/v17.2.0/README.md
Due: push-aws

add VPA removal note to AWS v17 releases (#960)
  aws/v17.0.0/README.md
  aws/v17.0.1/README.md
  aws/v17.0.2/README.md
  aws/v17.1.0/README.md
  aws/v17.2.0/README.md
Due: push-aws

Request kube-state-metrics v1.8.0 in upcoming platform releases
  aws/requests.yaml
  azure/requests.yaml
  kvm/requests.yaml
Due: push-aws, push-azure, push-kvm

Bump to kube-state-metrics 1.9.0
  aws/requests.yaml
  azure/requests.yaml
  kvm/requests.yaml
Due: push-aws, push-azure, push-kvm

don't fiddle with old stuff
  aws/requests.yaml
Due: push-aws

fix requests
  azure/requests.yaml
  kvm/requests.yaml
Due: push-azure, push-kvm

Request kube-state-metrics v1.9.0 in upcoming platform releases (#961)
  aws/requests.yaml
  azure/requests.yaml
  kvm/requests.yaml
Due: push-aws, push-azure, push-kvm

request kiam-watchdog 0.7.0
  aws/requests.yaml
Due: push-aws

Remove old CAPI and CAPA apps from v20.0.0-alpha1 on AWS
  aws/v20.0.0-alpha1/release.yaml
Due: push-aws

Remove old CAPI and CAPA apps from v20.0.0-alpha1 on AWS (#963)
  aws/v20.0.0-alpha1/release.yaml
Due: push-aws

Request cert-manager v2.13.0 in upcoming AWS releases
  aws/requests.yaml
Due: push-aws

Request cert-manager v2.13.0 in upcoming AWS releases (#964)
  aws/requests.yaml
Due: push-aws

AWS 17.3.0
  README.md
  aws/kustomization.yaml
  aws/v17.3.0/README.md
  aws/v17.3.0/kustomization.yaml
  aws/v17.3.0/release.diff
  aws/v17.3.0/release.yaml
Due: push-aws

AWS 17.3.0
  aws/v17.3.0/README.md
  aws/v17.3.0/release.diff
  aws/v17.3.0/release.yaml
Due: push-aws

bump KSM to 1.10.0
  aws/requests.yaml
  aws/v17.3.0/README.md
  aws/v17.3.0/release.diff
  aws/v17.3.0/release.yaml
Due: push-aws

bump KSM to 1.10.0
  azure/requests.yaml
Due: push-azure

AWS 17.3.0
  aws/v17.3.0/README.md
Due: push-aws

bump aws-operator to 11.9.0
  aws/v17.3.0/README.md
  aws/v17.3.0/release.diff
  aws/v17.3.0/release.yaml
Due: push-aws

Requests: Fix indentation.
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Requests: Fix indentation. (#966)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Request cluster-operator 4.0.2 for AWS
  aws/requests.yaml
Due: push-aws

Only request for latest AWS release
  aws/requests.yaml
Due: push-aws

Azure: Fix request patterns.
  azure/requests.yaml
Due: push-azure

AWS: Fix request patterns.
  aws/requests.yaml
Due: push-aws

Requests: Update cert-manager & kube-state-metrics as intended before.
  aws/requests.yaml
  azure/requests.yaml
  kvm/requests.yaml
Due: push-aws, push-azure, push-kvm

Requests: Fix patterns. (#968)
  aws/requests.yaml
  azure/requests.yaml
  kvm/requests.yaml
Due: push-aws, push-azure, push-kvm
