Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.3

jobs:
  validate:
    docker:
      - image: quay.io/giantswarm/architect
    steps:
      - checkout
      - run:
          name: Validate releases
          command: CGO_ENABLED=0 go test ./...

workflows:
  workflow:
    jobs:
      - validate
      - path-filtering/filter:
          name: filter
          mapping: |
            aws/.* push-aws true
            azure/.* push-azure true
            kvm/.* push-kvm true
          base-revision: master
          config-path: .circleci/provider_config.yml
          requires:
            - validate

CAPA: Release v26.1.1. (#1414)
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v26.1.1/README.md
  capa/v26.1.1/announcement.md
  capa/v26.1.1/kustomization.yaml
  capa/v26.1.1/release.diff
  capa/v26.1.1/release.yaml
Due: none

CAPA: Release v27.1.1. (#1415)
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v27.1.1/README.md
  capa/v27.1.1/announcement.md
  capa/v27.1.1/kustomization.yaml
  capa/v27.1.1/release.diff
  capa/v27.1.1/release.yaml
Due: none

CAPA: Release v28.1.2. (#1416)
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v28.1.2/README.md
  capa/v28.1.2/announcement.md
  capa/v28.1.2/kustomization.yaml
  capa/v28.1.2/release.diff
  capa/v28.1.2/release.yaml
Due: none

CAPA: Archive v28.0.0.
  README.md
  capa/archived/v28.0.0/README.md
  capa/archived/v28.0.0/announcement.md
  capa/archived/v28.0.0/kustomization.yaml
  capa/archived/v28.0.0/release.yaml
  capa/kustomization.yaml
  capa/releases.json
Due: none

CAPA: Archive v28.0.0. (#1418)
  README.md
  capa/archived/v28.0.0/README.md
  capa/archived/v28.0.0/announcement.md
  capa/archived/v28.0.0/kustomization.yaml
  capa/archived/v28.0.0/release.yaml
  capa/kustomization.yaml
  capa/releases.json
Due: none

CAPA: Release v29.2.0.
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v29.2.0/README.md
  capa/v29.2.0/announcement.md
  capa/v29.2.0/kustomization.yaml
  capa/v29.2.0/release.diff
  capa/v29.2.0/release.yaml
Due: none

CAPA v29.2.0: Add test example.
  capa/v29.2.0/release.yaml
Due: none

test 1
  capa/v29.2.0/release.yaml
Due: none

Upgrade observability-bundle to 1.6.2
  capa/v29.1.0/README.md
  capa/v29.1.0/release.diff
  capa/v29.1.0/release.yaml
Due: none

test with previous version
  capa/v29.2.0/release.yaml
Due: none

test with 0.10.2-86225244e842f48cc8742313d3ccd93404d6af6e
  capa/v29.2.0/release.yaml
Due: none

vsphere
  vsphere/kustomization.yaml
  vsphere/releaseNotesTransformer.yaml
  vsphere/releases.json
  vsphere/requests.yaml
  vsphere/v27.0.0/README.md
  vsphere/v27.0.0/announcement.md
  vsphere/v27.0.0/kustomization.yaml
  vsphere/v27.0.0/release.yaml
Due: none

vsphere
  releases_test.go
  renovate.go
Due: none

test with 0.9.2-6220f861be95d1cbabcfeff32cbd0a70db905d43
  capa/v29.2.0/release.yaml
Due: none

vsphere
  README.md
  releases_test.go
Due: none

vsphere
  vsphere/archived/.gitkeep
Due: none

test with 0.10.2-8fad220578bee2472bb332efbfc73d198599b1e9
  capa/v29.2.0/release.yaml
Due: none

test v29.1.0 with 0.10.2-8fad220578bee2472bb332efbfc73d198599b1e9
  capa/v29.1.0/release.yaml
Due: none

tests with 0.10.2-784f0922be6798e7556f9c709971ecf0636847ae
  capa/v29.1.0/release.yaml
  capa/v29.2.0/release.yaml
Due: none

CAPA: Release v29.2.0. (#1419)
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v29.2.0/README.md
  capa/v29.2.0/announcement.md
  capa/v29.2.0/kustomization.yaml
  capa/v29.2.0/release.diff
  capa/v29.2.0/release.yaml
Due: none

CAPZ: Release v29.1.0.
  README.md
  azure/kustomization.yaml
  azure/releases.json
  azure/v29.1.0/README.md
  azure/v29.1.0/announcement.md
  azure/v29.1.0/kustomization.yaml
  azure/v29.1.0/release.diff
  azure/v29.1.0/release.yaml
Due: push-azure

CAPZ: Release v29.1.0. (#1389)
  README.md
  azure/kustomization.yaml
  azure/releases.json
  azure/v29.1.0/README.md
  azure/v29.1.0/announcement.md
  azure/v29.1.0/kustomization.yaml
  azure/v29.1.0/release.diff
  azure/v29.1.0/release.yaml
Due: push-azure

CAPA: Deprecate v29.1.0.
  capa/releases.json
  capa/v29.1.0/release.diff
  capa/v29.1.0/release.yaml
Due: none

CAPZ: Deprecate v29.0.0.
  azure/releases.json
  azure/v29.0.0/release.diff
  azure/v29.0.0/release.yaml
Due: push-azure

CAPA: Deprecate v29.1.0. (#1424)
  capa/releases.json
  capa/v29.1.0/release.diff
  capa/v29.1.0/release.yaml
Due: none

CAPZ: Deprecate v29.0.0. (#1423)
  azure/releases.json
  azure/v29.0.0/release.diff
  azure/v29.0.0/release.yaml
Due: push-azure

CAPA: Release v29.3.0.
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v29.3.0/README.md
  capa/v29.3.0/announcement.md
  capa/v29.3.0/kustomization.yaml
  capa/v29.3.0/release.diff
  capa/v29.3.0/release.yaml
Due: none

CAPZ: Release v29.2.0.
  README.md
  azure/kustomization.yaml
  azure/releases.json
  azure/v29.2.0/README.md
  azure/v29.2.0/announcement.md
  azure/v29.2.0/kustomization.yaml
  azure/v29.2.0/release.diff
  azure/v29.2.0/release.yaml
Due: push-azure

CAPA: Release v27.2.0.
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v27.2.0/README.md
  capa/v27.2.0/announcement.md
  capa/v27.2.0/kustomization.yaml
  capa/v27.2.0/release.diff
  capa/v27.2.0/release.yaml
Due: none

CAPA: Release v28.2.0.
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v28.2.0/README.md
  capa/v28.2.0/announcement.md
  capa/v28.2.0/kustomization.yaml
  capa/v28.2.0/release.diff
  capa/v28.2.0/release.yaml
Due: none

CAPA: Release v27.2.0. (#1425)
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v27.2.0/README.md
  capa/v27.2.0/announcement.md
  capa/v27.2.0/kustomization.yaml
  capa/v27.2.0/release.diff
  capa/v27.2.0/release.yaml
Due: none

CAPA: Release v28.2.0. (#1426)
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v28.2.0/README.md
  capa/v28.2.0/announcement.md
  capa/v28.2.0/kustomization.yaml
  capa/v28.2.0/release.diff
  capa/v28.2.0/release.yaml
Due: none

CAPA: Release v29.3.0. (#1427)
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v29.3.0/README.md
  capa/v29.3.0/announcement.md
  capa/v29.3.0/kustomization.yaml
  capa/v29.3.0/release.diff
  capa/v29.3.0/release.yaml
Due: none

CAPZ: Release v29.2.0. (#1428)
  README.md
  azure/kustomization.yaml
  azure/releases.json
  azure/v29.2.0/README.md
  azure/v29.2.0/announcement.md
  azure/v29.2.0/kustomization.yaml
  azure/v29.2.0/release.diff
  azure/v29.2.0/release.yaml
Due: push-azure

add 20.1.5 release
  aws/kustomization.yaml
  aws/v20.1.5/README.md
  aws/v20.1.5/kustomization.yaml
  aws/v20.1.5/release.diff
  aws/v20.1.5/release.yaml
Due: push-aws

add release notes
  README.md
Due: none

Update aws/v20.1.5/README.md
  aws/v20.1.5/README.md
Due: push-aws

add component version
  aws/v20.1.5/release.yaml
Due: push-aws
