Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.3

jobs:
  validate:
    docker:
      - image: quay.io/giantswarm/architect
    steps:
      - checkout
      - run:
          name: Validate releases
          command: CGO_ENABLED=0 go test ./...

workflows:
  workflow:
    jobs:
      - validate
      - path-filtering/filter:
          name: filter
          mapping: |
            aws/.* push-aws true
            azure/.* push-azure true
            kvm/.* push-kvm true
          base-revision: master
          config-path: .circleci/provider_config.yml
          requires:
            - validate

wip
  aws/v17.4.0/release.yaml
Due: push-aws

Add aws release 16.5.0
  README.md
  aws/kustomization.yaml
  aws/v16.5.0/README.md
  aws/v16.5.0/kustomization.yaml
  aws/v16.5.0/release.diff
  aws/v16.5.0/release.yaml
Due: push-aws

Add azure release 17.2.0
  README.md
  azure/kustomization.yaml
  azure/v17.2.0/README.md
  azure/v17.2.0/kustomization.yaml
  azure/v17.2.0/release.diff
  azure/v17.2.0/release.yaml
Due: push-azure

Add aws release 17.4.0
  aws/v17.4.0/README.md
  aws/v17.4.0/release.diff
  aws/v17.4.0/release.yaml
Due: push-aws

Add aws release 16.5.0
  aws/v16.5.0/README.md
  aws/v16.5.0/release.diff
  aws/v16.5.0/release.yaml
Due: push-aws

Add azure release 17.2.0
  azure/v17.2.0/README.md
  azure/v17.2.0/release.diff
  azure/v17.2.0/release.yaml
Due: push-azure

Dont touch app operator
  kvm/v16.2.1/release.diff
  kvm/v16.2.1/release.yaml
Due: push-kvm

Fix dependencies in release
  kvm/requests.yaml
Due: push-kvm

Add new release in README
  README.md
  kvm/requests.yaml
Due: push-kvm

Fix conditions
  kvm/requests.yaml
Due: push-kvm

Add azure release 17.2.0
  azure/v17.2.0/README.md
  azure/v17.2.0/announcement.md
Due: push-azure

Add azure release 17.2.0
  azure/v17.2.0/README.md
Due: push-azure

Fix aws 16.5.0 autoscaler version
  aws/v16.5.0/README.md
  aws/v16.5.0/release.diff
  aws/v16.5.0/release.yaml
Due: push-aws

Azure 17.2.0 (#1001)
  README.md
  azure/kustomization.yaml
  azure/v17.2.0/README.md
  azure/v17.2.0/announcement.md
  azure/v17.2.0/kustomization.yaml
  azure/v17.2.0/release.diff
  azure/v17.2.0/release.yaml
Due: push-azure

Fix aws 16.5.0 release
  aws/v16.5.0/README.md
  aws/v16.5.0/release.diff
  aws/v16.5.0/release.yaml
Due: push-aws

fixed release
  aws/v16.5.0/release.yaml
Due: push-aws

Fix aws 16.5.0 release + add changelog and announcement
  aws/v16.5.0/README.md
  aws/v16.5.0/announcement.md
  aws/v16.5.0/release.diff
  aws/v16.5.0/release.yaml
Due: push-aws

Update README.md
  aws/v16.5.0/README.md
Due: push-aws

Update announcement.md
  aws/v16.5.0/announcement.md
Due: push-aws

Add aws release 16.5.0 (#1000)
  README.md
  aws/kustomization.yaml
  aws/v16.5.0/README.md
  aws/v16.5.0/announcement.md
  aws/v16.5.0/kustomization.yaml
  aws/v16.5.0/release.diff
  aws/v16.5.0/release.yaml
Due: push-aws

add etcd-kubernetes-resources-count-exporter to 17.4.0
  aws/v17.4.0/README.md
  aws/v17.4.0/release.diff
  aws/v17.4.0/release.yaml
Due: push-aws

release notes
  aws/v17.4.0/README.md
  aws/v17.4.0/announcement.md
Due: push-aws

AWS v17.4.0 (#992)
  README.md
  aws/kustomization.yaml
  aws/requests.yaml
  aws/v17.4.0/README.md
  aws/v17.4.0/announcement.md
  aws/v17.4.0/kustomization.yaml
  aws/v17.4.0/release.diff
  aws/v17.4.0/release.yaml
Due: push-aws

Request to bump chart-operator to v2.25.0 or above
  aws/requests.yaml
Due: push-aws

Request to bump chart-operator to v2.25.0 or above
  azure/requests.yaml
Due: push-azure

Add AWS release v17.2.1
  aws/kustomization.yaml
  aws/v17.2.1/README.md
  aws/v17.2.1/kustomization.yaml
  aws/v17.2.1/release.diff
  aws/v17.2.1/release.yaml
Due: push-aws

Archive unused aws releases 16.1.0, 16.4.0 and 17.0.0-alpha1
  README.md
  aws/archived/v16.1.0/README.md
  aws/archived/v16.1.0/announcement.md
  aws/archived/v16.1.0/kustomization.yaml
  aws/archived/v16.1.0/release.diff
  aws/archived/v16.1.0/release.yaml
  aws/archived/v16.4.0/README.md
  aws/archived/v16.4.0/announcement.md
  aws/archived/v16.4.0/kustomization.yaml
  aws/archived/v16.4.0/release.diff
  aws/archived/v16.4.0/release.yaml
  aws/archived/v17.0.0-alpha1/README.md
  aws/archived/v17.0.0-alpha1/announcement.md
  aws/archived/v17.0.0-alpha1/kustomization.yaml
  aws/archived/v17.0.0-alpha1/release.diff
  aws/archived/v17.0.0-alpha1/release.yaml
  aws/kustomization.yaml
Due: push-aws

Archive unused aws releases 16.1.0, 16.4.0 and 17.0.0-alpha1
  aws/requests.yaml
Due: push-aws

Archive unused aws releases 16.1.0, 16.4.0 and 17.0.0-alpha1 (#1004)
  README.md
  aws/archived/v16.1.0/README.md
  aws/archived/v16.1.0/announcement.md
  aws/archived/v16.1.0/kustomization.yaml
  aws/archived/v16.1.0/release.diff
  aws/archived/v16.1.0/release.yaml
  aws/archived/v16.4.0/README.md
  aws/archived/v16.4.0/announcement.md
  aws/archived/v16.4.0/kustomization.yaml
  aws/archived/v16.4.0/release.diff
  aws/archived/v16.4.0/release.yaml
  aws/archived/v17.0.0-alpha1/README.md
  aws/archived/v17.0.0-alpha1/announcement.md
  aws/archived/v17.0.0-alpha1/kustomization.yaml
  aws/archived/v17.0.0-alpha1/release.diff
  aws/archived/v17.0.0-alpha1/release.yaml
  aws/kustomization.yaml
  aws/requests.yaml
Due: push-aws

Create AWS v17.4.1
  aws/kustomization.yaml
  aws/v17.4.1/README.md
  aws/v17.4.1/kustomization.yaml
  aws/v17.4.1/release.diff
  aws/v17.4.1/release.yaml
Due: push-aws

Re-run devctl to obtain release information for cert-manager-app 2.15.1
  aws/v17.4.1/README.md
  aws/v17.4.1/release.diff
  aws/v17.4.1/release.yaml
Due: push-aws

update chart-operator to 2.25.0
  aws/v17.4.1/README.md
  aws/v17.4.1/release.diff
  aws/v17.4.1/release.yaml
Due: push-aws

deprecate AWS v17.4.0
  aws/v17.4.0/release.yaml
Due: push-aws

Add link to release to README
  README.md
Due: none

Update README.md
  aws/v17.4.1/README.md
Due: push-aws

Create announcement.md
  aws/v17.4.1/announcement.md
Due: push-aws

Update aws/v17.4.1/README.md
  aws/v17.4.1/README.md
Due: push-aws

Update announcement.md
  aws/v17.4.1/announcement.md
Due: push-aws
