Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.3

jobs:
  validate:
    docker:
      - image: quay.io/giantswarm/architect
    steps:
      - checkout
      - run:
          name: Validate releases
          command: CGO_ENABLED=0 go test ./...

workflows:
  workflow:
    jobs:
      - validate
      - path-filtering/filter:
          name: filter
          mapping: |
            aws/.* push-aws true
            azure/.* push-azure true
            kvm/.* push-kvm true
          base-revision: master
          config-path: .circleci/provider_config.yml
          requires:
            - validate

add AWS v16.4.2 (#979)
  README.md
  aws/kustomization.yaml
  aws/requests.yaml
  aws/v16.4.2/README.md
  aws/v16.4.2/announcement.md
  aws/v16.4.2/kustomization.yaml
  aws/v16.4.2/release.diff
  aws/v16.4.2/release.yaml
Due: push-aws

add AWS v17.3.3 (#978)
  README.md
  aws/kustomization.yaml
  aws/requests.yaml
  aws/v17.3.3/README.md
  aws/v17.3.3/announcement.md
  aws/v17.3.3/kustomization.yaml
  aws/v17.3.3/release.diff
  aws/v17.3.3/release.yaml
Due: push-aws

add readme/requests
  README.md
  azure/requests.yaml
Due: push-azure

add announcement
  azure/v16.1.3/README.md
  azure/v16.1.3/announcement.md
Due: push-azure

Update README.md
  azure/v17.0.1/README.md
Due: push-azure

add announcement
  azure/v17.0.1/announcement.md
Due: push-azure

edit requests
  azure/requests.yaml
Due: push-azure

add readme entry
  README.md
Due: none

deprecate 17.0.0
  azure/v17.0.0/release.yaml
Due: push-azure

deprecate 16.1.2
  azure/v16.1.2/release.yaml
Due: push-azure

add Azure v16.1.3 (#980)
  README.md
  azure/kustomization.yaml
  azure/requests.yaml
  azure/v16.1.3/README.md
  azure/v16.1.3/announcement.md
  azure/v16.1.3/kustomization.yaml
  azure/v16.1.3/release.diff
  azure/v16.1.3/release.yaml
Due: push-azure

add Azure v17.0.1 (#982)
  README.md
  azure/kustomization.yaml
  azure/requests.yaml
  azure/v17.0.1/README.md
  azure/v17.0.1/announcement.md
  azure/v17.0.1/kustomization.yaml
  azure/v17.0.1/release.diff
  azure/v17.0.1/release.yaml
Due: push-azure

Fix changelog link
  azure/v16.1.3/announcement.md
  azure/v17.0.1/announcement.md
Due: push-azure

add azure release 17.1.0
  README.md
  azure/kustomization.yaml
  azure/v17.1.0/README.md
  azure/v17.1.0/kustomization.yaml
  azure/v17.1.0/release.diff
  azure/v17.1.0/release.yaml
Due: push-azure

bump components
  azure/v17.1.0/README.md
  azure/v17.1.0/release.diff
  azure/v17.1.0/release.yaml
Due: push-azure

revert cluster operator
  azure/v17.1.0/README.md
  azure/v17.1.0/release.diff
  azure/v17.1.0/release.yaml
Due: push-azure

bump azure operator
  azure/v17.1.0/README.md
  azure/v17.1.0/release.diff
  azure/v17.1.0/release.yaml
Due: push-azure

revert to chart operator 2.22.0
  azure/v17.1.0/README.md
  azure/v17.1.0/release.diff
  azure/v17.1.0/release.yaml
Due: push-azure

Prepare release for aws v17.3.4
  aws/kustomization.yaml
  aws/v17.3.4/README.md
  aws/v17.3.4/announcement.md
  aws/v17.3.4/kustomization.yaml
  aws/v17.3.4/release.diff
  aws/v17.3.4/release.yaml
Due: push-aws

Add aws release v17.3.4 to README.md
  README.md
Due: none

Correct generated diff for aws v17.3.4
  aws/v17.3.4/release.diff
Due: push-aws

Fix duplicated generated chart-opeartor entry in release
  aws/v17.3.4/release.yaml
Due: push-aws

Bump metrics-server to v1.7.0 in aws v17.3.4
  aws/v17.3.4/README.md
  aws/v17.3.4/announcement.md
  aws/v17.3.4/release.diff
  aws/v17.3.4/release.yaml
Due: push-aws

Bumped vertical-pod-autoscaler-app to v2.4.0 in aws v17.3.4
  aws/v17.3.4/README.md
  aws/v17.3.4/announcement.md
  aws/v17.3.4/release.diff
  aws/v17.3.4/release.yaml
Due: push-aws

Bump node-exporter to v1.12.0 in aws v17.3.4
  aws/v17.3.4/README.md
  aws/v17.3.4/release.diff
  aws/v17.3.4/release.yaml
Due: push-aws

Bump cluster-operator to v4.3.0 in aws v17.3.4
  aws/v17.3.4/README.md
  aws/v17.3.4/release.diff
  aws/v17.3.4/release.yaml
Due: push-aws

Removed the generated comments from release as it is not true anymore
  aws/v17.3.4/release.yaml
Due: push-aws

Fix name metrics-server name in aws/request.yaml
  aws/requests.yaml
Due: push-aws

Generate azure release v17.0.2
  azure/kustomization.yaml
  azure/v17.0.2/README.md
  azure/v17.0.2/kustomization.yaml
  azure/v17.0.2/release.diff
  azure/v17.0.2/release.yaml
Due: push-azure

Reference azure release v17.0.2 in README.md
  README.md
Due: none

Deduplicate wrongly generated release.yaml for azure v17.0.2
  azure/v17.0.2/README.md
  azure/v17.0.2/announcement.md
  azure/v17.0.2/release.diff
  azure/v17.0.2/release.yaml
Due: push-azure

Bump chart-operator to v2.24.0
  azure/v17.1.0/README.md
  azure/v17.1.0/release.diff
  azure/v17.1.0/release.yaml
Due: push-azure

AWS v17.4.0
  README.md
  aws/kustomization.yaml
  aws/v17.4.0/README.md
  aws/v17.4.0/kustomization.yaml
  aws/v17.4.0/release.diff
  aws/v17.4.0/release.yaml
Due: push-aws

AWS v17.4.0
  aws/v17.4.0/release.diff
  aws/v17.4.0/release.yaml
Due: push-aws

AWS v17.4.0
  aws/requests.yaml
Due: push-aws

AWS v17.4.0
  aws/v17.4.0/README.md
  aws/v17.4.0/release.diff
  aws/v17.4.0/release.yaml
Due: push-aws

aligning
  aws/v17.4.0/README.md
Due: push-aws

more changes
  aws/v17.4.0/README.md
  aws/v17.4.0/release.diff
  aws/v17.4.0/release.yaml
Due: push-aws
