Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

Azure Release 17.0.0
  README.md
  azure/kustomization.yaml
  azure/requests.yaml
  azure/v17.0.0/README.md
  azure/v17.0.0/announcement.md
  azure/v17.0.0/kustomization.yaml
  azure/v17.0.0/release.diff
  azure/v17.0.0/release.yaml
Due: push-azure

Archive AWS release v15.1.1
  README.md
  aws/archived/v15.1.1/README.md
  aws/archived/v15.1.1/announcement.md
  aws/archived/v15.1.1/kustomization.yaml
  aws/archived/v15.1.1/release.diff
  aws/archived/v15.1.1/release.yaml
  aws/kustomization.yaml
Due: push-aws

Archive AWS release v15.1.1 (#924)
  README.md
  aws/archived/v15.1.1/README.md
  aws/archived/v15.1.1/announcement.md
  aws/archived/v15.1.1/kustomization.yaml
  aws/archived/v15.1.1/release.diff
  aws/archived/v15.1.1/release.yaml
  aws/kustomization.yaml
Due: push-aws

Archive AWS release v16.2.0
  README.md
  aws/archived/v16.2.0/README.md
  aws/archived/v16.2.0/announcement.md
  aws/archived/v16.2.0/kustomization.yaml
  aws/archived/v16.2.0/release.diff
  aws/archived/v16.2.0/release.yaml
  aws/kustomization.yaml
Due: push-aws

Archive AWS release v16.2.0 (#954)
  README.md
  aws/archived/v16.2.0/README.md
  aws/archived/v16.2.0/announcement.md
  aws/archived/v16.2.0/kustomization.yaml
  aws/archived/v16.2.0/release.diff
  aws/archived/v16.2.0/release.yaml
  aws/kustomization.yaml
Due: push-aws

deprecate AWS v17.0.2 release
  aws/v17.0.2/release.yaml
Due: push-aws

update release date
  aws/v17.1.0/release.diff
  aws/v17.1.0/release.yaml
Due: push-aws

update kiam release notes
  aws/v17.1.0/README.md
Due: push-aws

update cluster-operator release notes
  aws/v17.1.0/README.md
Due: push-aws

update release description and announcement
  aws/v17.1.0/README.md
  aws/v17.1.0/announcement.md
Due: push-aws

mention required permissions in release notes
  aws/v17.1.0/README.md
Due: push-aws

mention prerequisites repo as a separate paragraph
  aws/v17.1.0/README.md
Due: push-aws

aws-17-1-0 (#948)
  README.md
  aws/kustomization.yaml
  aws/v17.1.0/README.md
  aws/v17.1.0/announcement.md
  aws/v17.1.0/kustomization.yaml
  aws/v17.1.0/release.diff
  aws/v17.1.0/release.yaml
Due: push-aws

Downgrade flatcar to 3033.2.2
  azure/v17.0.0/README.md
  azure/v17.0.0/release.diff
  azure/v17.0.0/release.yaml
Due: push-azure

bump azure-operator
  azure/v17.0.0/README.md
  azure/v17.0.0/release.yaml
Due: push-azure

Archive AWS release v16.2.1
  README.md
  aws/archived/v16.2.1/README.md
  aws/archived/v16.2.1/announcement.md
  aws/archived/v16.2.1/kustomization.yaml
  aws/archived/v16.2.1/release.diff
  aws/archived/v16.2.1/release.yaml
  aws/kustomization.yaml
Due: push-aws

Archive AWS release v16.2.1 (#955)
  README.md
  aws/archived/v16.2.1/README.md
  aws/archived/v16.2.1/announcement.md
  aws/archived/v16.2.1/kustomization.yaml
  aws/archived/v16.2.1/release.diff
  aws/archived/v16.2.1/release.yaml
  aws/kustomization.yaml
Due: push-aws

update release notes
  azure/v17.0.0/README.md
Due: push-azure

update announcement
  azure/v17.0.0/announcement.md
Due: push-azure

fix readme
  azure/v17.0.0/README.md
Due: push-azure

update last components
  azure/v17.0.0/README.md
  azure/v17.0.0/release.diff
  azure/v17.0.0/release.yaml
Due: push-azure

Azure Release 17.0.0 (#953)
  README.md
  azure/kustomization.yaml
  azure/requests.yaml
  azure/v17.0.0/README.md
  azure/v17.0.0/announcement.md
  azure/v17.0.0/kustomization.yaml
  azure/v17.0.0/release.diff
  azure/v17.0.0/release.yaml
Due: push-azure

request azure-operator for next azure release
  azure/requests.yaml
Due: push-azure

AWS 17.2.0
  README.md
  aws/kustomization.yaml
  aws/v17.2.0/README.md
  aws/v17.2.0/kustomization.yaml
  aws/v17.2.0/release.diff
  aws/v17.2.0/release.yaml
Due: push-aws

request newest kiam for next aws release
  aws/requests.yaml
Due: push-aws

request newest aws-ebs-csi-driver for next aws release
  aws/requests.yaml
Due: push-aws

AWS 17.2.0
  aws/v17.2.0/release.diff
  aws/v17.2.0/release.yaml
Due: push-aws

Request chart-operator 2.20.1 for AWS and Azure
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Request chart-operator v2.20.1 for KVM
  kvm/requests.yaml
Due: push-kvm

Request chart-operator 2.20.1 for AWS and Azure (#958)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Request chart-operator v2.20.1 for KVM (#959)
  kvm/requests.yaml
Due: push-kvm

AWS v17.2.0
  aws/v17.2.0/README.md
  aws/v17.2.0/release.diff
  aws/v17.2.0/release.yaml
Due: push-aws

bump aws operator
  aws/v17.2.0/README.md
  aws/v17.2.0/release.diff
  aws/v17.2.0/release.yaml
Due: push-aws

update release date
  aws/v17.2.0/release.diff
  aws/v17.2.0/release.yaml
Due: push-aws

Path conditions:
  push-aws: any of: aws/.*
  push-azure: any of: azure/.*
  push-kvm: any of: kvm/.*
