Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.3

jobs:
  validate:
    docker:
      - image: quay.io/giantswarm/architect
    steps:
      - checkout
      - run:
          name: Validate releases
          command: CGO_ENABLED=0 go test ./...

workflows:
  workflow:
    jobs:
      - validate
      - path-filtering/filter:
          name: filter
          mapping: |
            aws/.* push-aws true
            azure/.* push-azure true
            kvm/.* push-kvm true
          base-revision: master
          config-path: .circleci/provider_config.yml
          requires:
            - validate

add aws release 19.0.1
  README.md
  aws/kustomization.yaml
  aws/requests.yaml
  aws/v19.0.1/README.md
  aws/v19.0.1/kustomization.yaml
  aws/v19.0.1/release.diff
  aws/v19.0.1/release.yaml
Due: push-aws

add aws release 19.0.1
  aws/v19.0.1/release.diff
  aws/v19.0.1/release.yaml
Due: push-aws

add aws release 19.0.1
  aws/v19.0.1/README.md
  aws/v19.0.1/announcement.md
  aws/v19.0.1/release.diff
  aws/v19.0.1/release.yaml
Due: push-aws

add aws release 19.0.1
  aws/v19.0.0/release.yaml
Due: push-aws

add aws release 19.0.1 (#1165)
  README.md
  aws/kustomization.yaml
  aws/requests.yaml
  aws/v19.0.1/README.md
  aws/v19.0.1/announcement.md
  aws/v19.0.1/kustomization.yaml
  aws/v19.0.1/release.diff
  aws/v19.0.1/release.yaml
Due: push-aws

Hotfix VPA App in AWS v19.0.1
  aws/v19.0.1/README.md
  aws/v19.0.1/release.diff
  aws/v19.0.1/release.yaml
Due: push-aws

Hotfix VPA App in AWS v19.0.1 (#1166)
  aws/v19.0.1/README.md
  aws/v19.0.1/release.diff
  aws/v19.0.1/release.yaml
Due: push-aws

add azure release 19.2.0
  README.md
  azure/kustomization.yaml
  azure/v19.2.0/README.md
  azure/v19.2.0/kustomization.yaml
  azure/v19.2.0/release.diff
  azure/v19.2.0/release.yaml
Due: push-azure

add azure release 19.2.0
  azure/v19.2.0/README.md
  azure/v19.2.0/release.diff
  azure/v19.2.0/release.yaml
Due: push-azure

add azure release 19.2.0
  azure/v19.2.0/release.diff
  azure/v19.2.0/release.yaml
Due: push-azure

add azure release 19.2.0
  azure/v19.2.0/release.yaml
Due: push-azure

Bump cilium-servicemonitors to 0.1.2 (#1161)
  aws/requests.yaml
Due: push-aws

Update CircleCI badge in README.md
  README.md
Due: none

Update CircleCI badge in README.md (#1168)
  README.md
Due: none

Test release to test ebs-csi-driver
  README.md
  aws/kustomization.yaml
  aws/v19.0.2-jose/README.md
  aws/v19.0.2-jose/kustomization.yaml
  aws/v19.0.2-jose/release.diff
  aws/v19.0.2-jose/release.yaml
Due: push-aws

Set ebs-csi-driver version in requests
  aws/requests.yaml
Due: push-aws

Set ebs-csi-driver version in requests (#1170)
  aws/requests.yaml
Due: push-aws

archive aws releases 18.0.2 and 18.3.1
  README.md
  aws/archived/v18.0.3/README.md
  aws/archived/v18.0.3/announcement.md
  aws/archived/v18.0.3/kustomization.yaml
  aws/archived/v18.0.3/release.diff
  aws/archived/v18.0.3/release.yaml
  aws/archived/v18.3.1/README.md
  aws/archived/v18.3.1/announcement.md
  aws/archived/v18.3.1/kustomization.yaml
  aws/archived/v18.3.1/release.diff
  aws/archived/v18.3.1/release.yaml
  aws/kustomization.yaml
Due: push-aws

archive aws releases 18.0.2 and 18.3.1 (#1171)
  README.md
  aws/archived/v18.0.3/README.md
  aws/archived/v18.0.3/announcement.md
  aws/archived/v18.0.3/kustomization.yaml
  aws/archived/v18.0.3/release.diff
  aws/archived/v18.0.3/release.yaml
  aws/archived/v18.3.1/README.md
  aws/archived/v18.3.1/announcement.md
  aws/archived/v18.3.1/kustomization.yaml
  aws/archived/v18.3.1/release.diff
  aws/archived/v18.3.1/release.yaml
  aws/kustomization.yaml
Due: push-aws

Request observability-bundle bump
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Request observability-bundle bump (#1172)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Update release.yaml
  aws/v19.1.0/release.yaml
Due: push-aws

archive aws v19 alpha and beta releases
  README.md
  aws/archived/v19.0.0-alpha1/README.md
  aws/archived/v19.0.0-alpha1/announcement.md
  aws/archived/v19.0.0-alpha1/kustomization.yaml
  aws/archived/v19.0.0-alpha1/release.diff
  aws/archived/v19.0.0-alpha1/release.yaml
  aws/archived/v19.0.0-beta1/README.md
  aws/archived/v19.0.0-beta1/announcement.md
  aws/archived/v19.0.0-beta1/kustomization.yaml
  aws/archived/v19.0.0-beta1/release.diff
  aws/archived/v19.0.0-beta1/release.yaml
  aws/kustomization.yaml
Due: push-aws

archive aws v19 alpha and beta releases (#1173)
  README.md
  aws/archived/v19.0.0-alpha1/README.md
  aws/archived/v19.0.0-alpha1/announcement.md
  aws/archived/v19.0.0-alpha1/kustomization.yaml
  aws/archived/v19.0.0-alpha1/release.diff
  aws/archived/v19.0.0-alpha1/release.yaml
  aws/archived/v19.0.0-beta1/README.md
  aws/archived/v19.0.0-beta1/announcement.md
  aws/archived/v19.0.0-beta1/kustomization.yaml
  aws/archived/v19.0.0-beta1/release.diff
  aws/archived/v19.0.0-beta1/release.yaml
  aws/kustomization.yaml
Due: push-aws

patch v19.0.1 to include coredns 1.18.1
  aws/v19.0.1/README.md
  aws/v19.0.1/release.diff
  aws/v19.0.1/release.yaml
Due: push-aws

manual
  aws/v19.1.0/release.diff
  aws/v19.1.0/release.yaml
Due: push-aws

Update release 19.1.0
  aws/v19.1.0/README.md
  aws/v19.1.0/release.diff
  aws/v19.1.0/release.yaml
Due: push-aws

Update observability bundle
  aws/v19.1.0/README.md
  aws/v19.1.0/release.diff
  aws/v19.1.0/release.yaml
Due: push-aws

revert containerlinux
  aws/v19.1.0/README.md
  aws/v19.1.0/release.diff
  aws/v19.1.0/release.yaml
Due: push-aws

patch v19.0.1 to include coredns 1.18.1 (#1175)
  aws/v19.0.1/README.md
  aws/v19.0.1/release.diff
  aws/v19.0.1/release.yaml
Due: push-aws
