Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.3

jobs:
  validate:
    docker:
      - image: quay.io/giantswarm/architect
    steps:
      - checkout
      - run:
          name: Validate releases
          command: CGO_ENABLED=0 go test ./...

workflows:
  workflow:
    jobs:
      - validate
      - path-filtering/filter:
          name: filter
          mapping: |
            aws/.* push-aws true
            azure/.* push-azure true
            kvm/.* push-kvm true
          base-revision: master
          config-path: .circleci/provider_config.yml
          requires:
            - validate

Update release.yaml
  capa/v25.1.0/release.yaml
Due: none

Fix announcement
  capa/v27.0.0/announcement.md
Due: none

Update README.md
  aws/v20.1.4/README.md
Due: push-aws

Update release.yaml
  aws/v20.1.3/release.yaml
Due: push-aws

Release v20.1.4 (#1308)
  README.md
  aws/kustomization.yaml
  aws/v20.1.4/README.md
  aws/v20.1.4/announcement.md
  aws/v20.1.4/kustomization.yaml
  aws/v20.1.4/release.diff
  aws/v20.1.4/release.yaml
Due: push-aws

Update release.yaml
  capa/v25.0.0/release.yaml
Due: none

custom renovate datasource
  .github/workflows/renovate-release-json.yaml
  renovate.go
Due: none

Update announcement.md
  capa/v25.1.0/announcement.md
Due: none

Update README.md
  capa/v25.1.0/README.md
Due: none

AWS (CAPA) v27.0.0 (#1306)
  capa/kustomization.yaml
  capa/v27.0.0/README.md
  capa/v27.0.0/announcement.md
  capa/v27.0.0/kustomization.yaml
  capa/v27.0.0/release.yaml
Due: none

Added docs about running conformance tests
  README.md
  pull_request_template.md
Due: none

Added docs about running conformance tests (#1313)
  README.md
  pull_request_template.md
Due: none

custom renovate datasource (#1312)
  .github/workflows/renovate-release-json.yaml
  renovate.go
Due: none

Update releases.json
  azure/releases.json
  capa/releases.json
Due: push-azure

Patch security-bundle version in v20.1.4
  aws/v20.1.4/README.md
  aws/v20.1.4/release.diff
  aws/v20.1.4/release.yaml
Due: push-aws

Patch security-bundle version in v20.1.4 (#1314)
  aws/v20.1.4/README.md
  aws/v20.1.4/release.diff
  aws/v20.1.4/release.yaml
Due: push-aws

Update renovate.go
  renovate.go
Due: none

Update releases.json
  capa/releases.json
Due: none

Update Chart.yaml
  helm/releases-capa/Chart.yaml
Due: none

update cluster-aws
  capa/v25.1.0/README.md
  capa/v25.1.0/release.yaml
Due: none

Update Chart.yaml (#1315)
  helm/releases-capa/Chart.yaml
Due: none

CAPA: Add v28.0.0.
  capa/kustomization.yaml
  capa/v28.0.0/README.md
  capa/v28.0.0/announcement.md
  capa/v28.0.0/kustomization.yaml
  capa/v28.0.0/release.yaml
Due: none

CAPA: Add v28.0.0. (#1311)
  capa/kustomization.yaml
  capa/v28.0.0/README.md
  capa/v28.0.0/announcement.md
  capa/v28.0.0/kustomization.yaml
  capa/v28.0.0/release.yaml
Due: none

CAPA: Update `releases.json`.
  capa/releases.json
Due: none

CAPA: Update `releases.json`. (#1316)
  capa/releases.json
Due: none

GitHub: Improve `create-release.yaml`.
  .github/workflows/create-release.yaml
Due: none

GitHub: Improve `create-release.yaml`. (#1317)
  .github/workflows/create-release.yaml
Due: none

Removing the GCS app (#1309)
  azure/v25.0.0/release.yaml
Due: push-azure

CAPZ v25.0.0
  README.md
  azure/v25.0.0/kustomization.yaml
  azure/v25.0.0/release.yaml
Due: push-azure

Update release.yaml
  azure/v25.0.0/release.yaml
Due: push-azure

CAPZ v25.0.0
  releases_test.go
Due: none

CAPZ v25.0.0
  azure/v25.0.0/README.md
Due: push-azure

CAPZ v25.0.0
  azure/requests.yaml
  capa/requests.yaml
  releases_test.go
Due: push-azure

CAPZ v25.0.0
  azure/kustomization.yaml
Due: push-azure
