Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

bump observability-bundle 1.4.0
  azure/v25.0.0/release.yaml
Due: push-azure

revert bump observability-bundle 1.4.0
  azure/v25.0.0/release.yaml
Due: push-azure

Adding small changes (#1305)
  azure/v25.0.0/release.yaml
Due: push-azure

Update release.yaml
  capa/v25.1.0/release.yaml
Due: none

Update README.md
  aws/v19.3.5/README.md
Due: push-aws

Create announcement.md
  aws/v19.3.5/announcement.md
Due: push-aws

Create announcement.md
  aws/v20.1.3/announcement.md
Due: push-aws

Update README.md
  aws/v20.1.3/README.md
Due: push-aws

Release 20.1.3 (#1303)
  README.md
  aws/kustomization.yaml
  aws/v20.1.3/README.md
  aws/v20.1.3/announcement.md
  aws/v20.1.3/kustomization.yaml
  aws/v20.1.3/release.diff
  aws/v20.1.3/release.yaml
Due: push-aws

Release 19.3.5 (#1302)
  README.md
  aws/kustomization.yaml
  aws/v19.3.5/README.md
  aws/v19.3.5/announcement.md
  aws/v19.3.5/kustomization.yaml
  aws/v19.3.5/release.diff
  aws/v19.3.5/release.yaml
Due: push-aws

Deprecate 20.1.2 in favour of 20.1.3
  aws/v20.1.2/release.yaml
Due: push-aws

Deprecate 20.1.2 in favour of 20.1.3 (#1307)
  aws/v20.1.2/release.yaml
Due: push-aws

Revert app changes
  capa/kustomization.yaml
  capa/v26.0.0/kustomization.yaml
  capa/v26.0.0/release.yaml
Due: none

Add README.md
  capa/v26.0.0/README.md
Due: none

Fix CAPA kustomization
  capa/kustomization.yaml
Due: none

Add announcement
  capa/v26.0.0/announcement.md
Due: none

Update cluster-autoscaler to 1.27.3-gs10
  capa/v26.0.0/README.md
  capa/v26.0.0/release.yaml
Due: none

Bump cert-manager version to fix bug
  capa/v25.1.0/release.yaml
Due: none

Prepare AWS release v20.1.4
  aws/kustomization.yaml
  aws/v20.1.4/README.md
  aws/v20.1.4/kustomization.yaml
  aws/v20.1.4/release.diff
  aws/v20.1.4/release.yaml
Due: push-aws

Update README.md
  aws/v20.1.4/README.md
Due: push-aws

updated cloud-provider-aws to 1.26.11-gs1
  capa/v26.0.0/release.yaml
Due: none

Removing Honeybadger changes
  capa/v25.1.0/README.md
  capa/v25.1.0/release.yaml
Due: none

Removing the GCS app
  azure/v25.0.0/release.yaml
Due: push-azure

Update README
  capa/v26.0.0/README.md
Due: none

Add AWS (CAPA) v26.0.0 release (#1280)
  .github/workflows/create-draft-release.yaml
  capa/kustomization.yaml
  capa/v26.0.0/README.md
  capa/v26.0.0/announcement.md
  capa/v26.0.0/kustomization.yaml
  capa/v26.0.0/release.yaml
  renovate.json5
Due: none

add aws-v27.0.0-alpha.1 release
  capa/kustomization.yaml
  capa/v27.0.0-alpha.1/kustomization.yaml
  capa/v27.0.0-alpha.1/release.yaml
Due: none

Bump cluster-autoscaler
  capa/v27.0.0-alpha.1/release.yaml
Due: none

Add announcement
  capa/v27.0.0-alpha.1/announcement.md
Due: none

Align versions with capa v26 where possible
  capa/v27.0.0-alpha.1/release.yaml
Due: none

Rename to capa v27
  capa/kustomization.yaml
  capa/v27.0.0/README.md
  capa/v27.0.0/announcement.md
  capa/v27.0.0/kustomization.yaml
  capa/v27.0.0/release.yaml
Due: none

Update README.md
  README.md
Due: none

Fix CAPA announcement links
  capa/v25.0.0/announcement.md
  capa/v26.0.0/announcement.md
Due: none

Create announcement.md
  aws/v20.1.4/announcement.md
Due: push-aws

Updated cluster-aws version
  capa/v27.0.0/README.md
  capa/v27.0.0/release.yaml
Due: none

Fix typo
  aws/v20.1.4/announcement.md
Due: push-aws

Fix CAPA announcement links (#1310)
  capa/v25.0.0/announcement.md
  capa/v26.0.0/announcement.md
Due: none

Path conditions:
  push-aws: any of: aws/.*
  push-azure: any of: azure/.*
  push-kvm: any of: kvm/.*
