Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.3

jobs:
  validate:
    docker:
      - image: quay.io/giantswarm/architect
    steps:
      - checkout
      - run:
          name: Validate releases
          command: CGO_ENABLED=0 go test ./...

workflows:
  workflow:
    jobs:
      - validate
      - path-filtering/filter:
          name: filter
          mapping: |
            aws/.* push-aws true
            azure/.* push-azure true
            kvm/.* push-kvm true
          base-revision: master
          config-path: .circleci/provider_config.yml
          requires:
            - validate

AWS v18.4.1
  README.md
  aws/kustomization.yaml
  aws/v18.4.1/README.md
  aws/v18.4.1/kustomization.yaml
  aws/v18.4.1/release.diff
  aws/v18.4.1/release.yaml
Due: push-aws

AWS v18.4.1
  aws/v18.4.1/release.diff
  aws/v18.4.1/release.yaml
Due: push-aws

AWS v18.4.1
  aws/v18.4.1/README.md
  aws/v18.4.1/announcement.md
Due: push-aws

Update README.md
  aws/v18.4.1/README.md
Due: push-aws

Update announcement.md
  aws/v18.4.1/announcement.md
Due: push-aws

Update release.yaml
  aws/v18.4.0/release.yaml
Due: push-aws

AWS v18.4.1 (#1114)
  README.md
  aws/kustomization.yaml
  aws/v18.4.1/README.md
  aws/v18.4.1/announcement.md
  aws/v18.4.1/kustomization.yaml
  aws/v18.4.1/release.diff
  aws/v18.4.1/release.yaml
Due: push-aws

aws 18.4.2
  README.md
  aws/kustomization.yaml
  aws/v18.4.2/README.md
  aws/v18.4.2/announcement.md
  aws/v18.4.2/kustomization.yaml
  aws/v18.4.2/release.diff
  aws/v18.4.2/release.yaml
Due: push-aws

request external-dns upgrade on AWS
  aws/requests.yaml
Due: push-aws

add circle context
  .circleci/provider_config.yml
Due: none

add circle context (#1118)
  .circleci/provider_config.yml
Due: none

request external-dns upgrade on AWS (#1117)
  aws/requests.yaml
Due: push-aws

Update README.md
  aws/v18.4.2/README.md
Due: push-aws

Update announcement.md
  aws/v18.4.2/announcement.md
Due: push-aws

aws 18.4.2 (#1116)
  README.md
  aws/kustomization.yaml
  aws/v18.4.2/README.md
  aws/v18.4.2/announcement.md
  aws/v18.4.2/kustomization.yaml
  aws/v18.4.2/release.diff
  aws/v18.4.2/release.yaml
Due: push-aws

wip
  azure/kustomization.yaml
  azure/v20.0.0-beta1/release.yaml
Due: push-azure

wip
  azure/v20.0.0-beta1/release.yaml
Due: push-azure

bump
  azure/v20.0.0-beta1/README.md
  azure/v20.0.0-beta1/kustomization.yaml
  azure/v20.0.0-beta1/release.diff
  azure/v20.0.0-beta1/release.yaml
Due: push-azure

bump
  azure/requests.yaml
Due: push-azure

Update README.md
  azure/v20.0.0-beta1/README.md
Due: push-azure

bump
  README.md
Due: none

bump
  azure/v20.0.0-beta1/README.md
Due: push-azure

bump
  azure/v20.0.0-beta1/README.md
  azure/v20.0.0-beta1/release.diff
  azure/v20.0.0-beta1/release.yaml
Due: push-azure

bump
  azure/v20.0.0-beta1/release.diff
  azure/v20.0.0-beta1/release.yaml
Due: push-azure

bump
  azure/v20.0.0-beta1/release.yaml
Due: push-azure

bump
  azure/v20.0.0-beta1/release.diff
Due: push-azure

Azure v20 beta1 (#1119)
  README.md
  azure/kustomization.yaml
  azure/requests.yaml
  azure/v20.0.0-beta1/README.md
  azure/v20.0.0-beta1/kustomization.yaml
  azure/v20.0.0-beta1/release.diff
  azure/v20.0.0-beta1/release.yaml
Due: push-azure

fix readme for 20.0.0-beta1
  azure/v20.0.0-beta1/README.md
Due: push-azure

fix readme for 20.0.0-beta1 (#1120)
  azure/v20.0.0-beta1/README.md
Due: push-azure

archive v18 on azure
  README.md
  azure/archived/v18.0.1/README.md
  azure/archived/v18.0.1/announcement.md
  azure/archived/v18.0.1/kustomization.yaml
  azure/archived/v18.0.1/release.diff
  azure/archived/v18.0.1/release.yaml
  azure/kustomization.yaml
Due: push-azure

archive v18 on azure (#1121)
  README.md
  azure/archived/v18.0.1/README.md
  azure/archived/v18.0.1/announcement.md
  azure/archived/v18.0.1/kustomization.yaml
  azure/archived/v18.0.1/release.diff
  azure/archived/v18.0.1/release.yaml
  azure/kustomization.yaml
Due: push-azure

squash master
  README.md
  aws/kustomization.yaml
  aws/requests.yaml
  aws/v19.0.0/README.md
  aws/v19.0.0/kustomization.yaml
  aws/v19.0.0/release.diff
  aws/v19.0.0/release.yaml
Due: push-aws
