Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.3

jobs:
  validate:
    docker:
      - image: quay.io/giantswarm/architect
    steps:
      - checkout
      - run:
          name: Validate releases
          command: CGO_ENABLED=0 go test ./...

workflows:
  workflow:
    jobs:
      - validate
      - path-filtering/filter:
          name: filter
          mapping: |
            aws/.* push-aws true
            azure/.* push-azure true
            kvm/.* push-kvm true
          base-revision: master
          config-path: .circleci/provider_config.yml
          requires:
            - validate

add-observability-bundle-requests (#1095)
  aws/requests.yaml
Due: push-aws

bump vpa to 3.3.0
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

bump vpa to 3.3.0 (#1096)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Update requests.yaml
  aws/requests.yaml
Due: push-aws

Request to bump app-operator to v6.6.3 for Azure
  azure/requests.yaml
Due: push-azure

Request observability-bundle upgrade
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Request observability-bundle upgrade (#1098)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Readme for v19-beta1
  aws/v19.0.0-beta1/README.md
Due: push-aws

Move app-operator bump request for azure to versions beyond v19.0.1
  azure/requests.yaml
Due: push-azure

Requests to bump app-operator to v6.6.3 (#1097)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

AWS v18.3.0
  README.md
  aws/v18.3.0/README.md
  aws/v18.3.0/announcement.md
  aws/v18.3.0/kustomization.yaml
  aws/v18.3.0/release.diff
  aws/v18.3.0/release.yaml
Due: push-aws

update
  aws/kustomization.yaml
  aws/v18.3.0/release.diff
  aws/v18.3.0/release.yaml
Due: push-aws

update
  aws/v18.3.0/README.md
  aws/v18.3.0/announcement.md
  aws/v18.3.0/release.yaml
Due: push-aws

update
  aws/requests.yaml
Due: push-aws

bump
  aws/requests.yaml
  aws/v18.3.0/README.md
  aws/v18.3.0/release.diff
  aws/v18.3.0/release.yaml
Due: push-aws

bump
  aws/v18.3.0/README.md
  aws/v18.3.0/announcement.md
Due: push-aws

bump
  aws/v18.3.0/release.yaml
Due: push-aws

bump
  aws/v18.2.1/release.yaml
Due: push-aws

Align files
  LICENSE
Due: none

bump aws-operator to 14.12.0
  aws/v18.3.0/README.md
  aws/v18.3.0/release.diff
  aws/v18.3.0/release.yaml
Due: push-aws

improve release notes
  aws/v18.3.0/README.md
  aws/v18.3.0/announcement.md
Due: push-aws

aws 19.0.0 beta1
  README.md
  aws/kustomization.yaml
  aws/requests.yaml
  aws/v19.0.0-beta1/README.md
  aws/v19.0.0-beta1/kustomization.yaml
  aws/v19.0.0-beta1/release.diff
  aws/v19.0.0-beta1/release.yaml
  azure/requests.yaml
Due: push-aws, push-azure

aws 19.0.0 beta1
  aws/kustomization.yaml
Due: push-aws

reactivate v18.2.1
  aws/v18.2.1/release.yaml
Due: push-aws

AWS v18.3.0 (#1100)
  README.md
  aws/kustomization.yaml
  aws/v18.3.0/README.md
  aws/v18.3.0/announcement.md
  aws/v18.3.0/kustomization.yaml
  aws/v18.3.0/release.diff
  aws/v18.3.0/release.yaml
Due: push-aws

Align files (#1091)
  LICENSE
Due: none

add sloth-app to requests
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

aws 19.0.0 beta1
  aws/v19.0.0-beta1/README.md
  aws/v19.0.0-beta1/release.diff
  aws/v19.0.0-beta1/release.yaml
Due: push-aws

added announcement
  aws/v19.0.0-beta1/announcement.md
Due: push-aws

deprecate 19.0.0-alpha1
  aws/v19.0.0-alpha1/release.yaml
Due: push-aws

bump aws op
  aws/v19.0.0-beta1/README.md
  aws/v19.0.0-beta1/release.diff
  aws/v19.0.0-beta1/release.yaml
Due: push-aws

Aws 19.0.0 beta1 (#1101)
  README.md
  aws/kustomization.yaml
  aws/requests.yaml
  aws/v19.0.0-alpha1/release.yaml
  aws/v19.0.0-beta1/README.md
  aws/v19.0.0-beta1/announcement.md
  aws/v19.0.0-beta1/kustomization.yaml
  aws/v19.0.0-beta1/release.diff
  aws/v19.0.0-beta1/release.yaml
Due: push-aws

Upgrade observability-bundle
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Upgrade observability-bundle (#1103)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Request external-dns upgrade on AWS
  aws/requests.yaml
Due: push-aws

Request external-dns upgrade on AWS (#1104)
  aws/requests.yaml
Due: push-aws

AWS v18.4.0
  README.md
  aws/kustomization.yaml
  aws/v18.4.0/README.md
  aws/v18.4.0/kustomization.yaml
  aws/v18.4.0/release.diff
  aws/v18.4.0/release.yaml
Due: push-aws

AWS v18.4.0
  aws/v18.4.0/README.md
  aws/v18.4.0/release.diff
  aws/v18.4.0/release.yaml
Due: push-aws
