Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

deprecate 16.4.0
  aws/v16.4.0/release.yaml
Due: push-aws

deprecate 17.0.0
  aws/v17.0.0/release.yaml
Due: push-aws

fix readme/announcement
  azure/v17.0.0-alpha1/announcement.md
Due: push-azure

readme
  azure/v17.0.0-alpha1/README.md
Due: push-azure

Fix typo
  azure/v17.0.0-alpha1/announcement.md
Due: push-azure

update release notes and announcement
  aws/v17.0.1/README.md
  aws/v17.0.1/announcement.md
Due: push-aws

update release date
  aws/v17.0.1/release.diff
  aws/v17.0.1/release.yaml
Due: push-aws

update release notes and announcement
  aws/v16.4.1/README.md
  aws/v16.4.1/announcement.md
Due: push-aws

update release date
  aws/v16.4.1/release.diff
  aws/v16.4.1/release.yaml
Due: push-aws

add aws release 17.0.1 with coredns 1.8.0 (#944)
  README.md
  aws/kustomization.yaml
  aws/requests.yaml
  aws/v17.0.1/README.md
  aws/v17.0.1/announcement.md
  aws/v17.0.1/kustomization.yaml
  aws/v17.0.1/release.diff
  aws/v17.0.1/release.yaml
Due: push-aws

add aws release 16.4.1 with coredns 1.8.0 (#943)
  README.md
  aws/kustomization.yaml
  aws/requests.yaml
  aws/v16.4.1/README.md
  aws/v16.4.1/announcement.md
  aws/v16.4.1/kustomization.yaml
  aws/v16.4.1/release.diff
  aws/v16.4.1/release.yaml
Due: push-aws

add external-dns component version
  azure/v17.0.0-alpha1/release.diff
  azure/v17.0.0-alpha1/release.yaml
Due: push-azure

update release date
  azure/v17.0.0-alpha1/release.diff
  azure/v17.0.0-alpha1/release.yaml
Due: push-azure

update release description
  azure/v17.0.0-alpha1/README.md
Due: push-azure

update release announcement
  azure/v17.0.0-alpha1/announcement.md
Due: push-azure

Add Azure v17.0.0-alpha1 (#937)
  README.md
  azure/kustomization.yaml
  azure/requests.yaml
  azure/v17.0.0-alpha1/README.md
  azure/v17.0.0-alpha1/announcement.md
  azure/v17.0.0-alpha1/kustomization.yaml
  azure/v17.0.0-alpha1/release.diff
  azure/v17.0.0-alpha1/release.yaml
Due: push-azure

mark Azure v17.0.0-alpha1 as a preview release
  azure/v17.0.0-alpha1/release.diff
  azure/v17.0.0-alpha1/release.yaml
Due: push-azure

mark Azure v17.0.0-alpha1 as a preview release (#945)
  azure/v17.0.0-alpha1/release.diff
  azure/v17.0.0-alpha1/release.yaml
Due: push-azure

Move components to azure app collection
  azure/v20.0.0-alpha1/release.yaml
Due: push-azure

Move components to azure app collection (#946)
  azure/v20.0.0-alpha1/release.yaml
Due: push-azure

Upgrade v20 components
  azure/v20.0.0-alpha1/release.yaml
Due: push-azure

Upgrade v20 components (#947)
  azure/v20.0.0-alpha1/release.yaml
Due: push-azure

deprecate 16.1.1
  kvm/v16.2.0/release.diff
Due: push-kvm

drop requests
  kvm/requests.yaml
Due: push-kvm

release 16.2.0 for KVM
  kvm/kustomization.yaml
  kvm/v16.2.0/README.md
  kvm/v16.2.0/kustomization.yaml
  kvm/v16.2.0/release.diff
  kvm/v16.2.0/release.yaml
Due: push-kvm

bump cert-operator version in requests to fix CI
  README.md
  kvm/requests.yaml
Due: push-kvm

aws-17-1-0
  README.md
  aws/kustomization.yaml
  aws/v17.1.0/README.md
  aws/v17.1.0/kustomization.yaml
  aws/v17.1.0/release.diff
  aws/v17.1.0/release.yaml
Due: push-aws

include kvm-operator 3.18.5
  kvm/v16.2.0/README.md
  kvm/v16.2.0/release.diff
  kvm/v16.2.0/release.yaml
Due: push-kvm

release 16.2.0 for KVM (#927)
  README.md
  kvm/kustomization.yaml
  kvm/requests.yaml
  kvm/v16.2.0/README.md
  kvm/v16.2.0/kustomization.yaml
  kvm/v16.2.0/release.diff
  kvm/v16.2.0/release.yaml
Due: push-kvm

ask net exporter last release on aws and azure
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

ask net exporter last release on aws and azure (#949)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

update-apps
  aws/v17.1.0/README.md
  aws/v17.1.0/release.diff
  aws/v17.1.0/release.yaml
Due: push-aws

bump autoscaler for azure 17.0.0
  azure/requests.yaml
Due: push-azure

bump autoscaler for azure 17.0.0 (#950)
  azure/requests.yaml
Due: push-azure

AWS Release v17.0.2
  README.md
  aws/kustomization.yaml
  aws/requests.yaml
  aws/v17.0.2/README.md
  aws/v17.0.2/announcement.md
  aws/v17.0.2/kustomization.yaml
  aws/v17.0.2/release.diff
  aws/v17.0.2/release.yaml
Due: push-aws

downgrade-flatcar
  aws/v17.1.0/release.diff
  aws/v17.1.0/release.yaml
Due: push-aws

AWS Release v17.0.2 (#951)
  README.md
  aws/kustomization.yaml
  aws/requests.yaml
  aws/v17.0.2/README.md
  aws/v17.0.2/announcement.md
  aws/v17.0.2/kustomization.yaml
  aws/v17.0.2/release.diff
  aws/v17.0.2/release.yaml
Due: push-aws

bump-cluster-operator
  aws/v17.1.0/README.md
  aws/v17.1.0/release.diff
  aws/v17.1.0/release.yaml
Due: push-aws

deprecate old AWS releases
  aws/v14.2.2/release.yaml
  aws/v15.2.2/release.yaml
  aws/v16.0.1/release.yaml
  aws/v16.1.1/release.yaml
Due: push-aws

deprecate old AWS releases (#952)
  aws/v14.2.2/release.yaml
  aws/v15.2.2/release.yaml
  aws/v16.0.1/release.yaml
  aws/v16.1.1/release.yaml
Due: push-aws

Path conditions:
  push-aws: any of: aws/.*
  push-azure: any of: azure/.*
  push-kvm: any of: kvm/.*
