Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.3

jobs:
  validate:
    docker:
      - image: quay.io/giantswarm/architect
    steps:
      - checkout
      - run:
          name: Validate releases
          command: CGO_ENABLED=0 go test ./...

workflows:
  workflow:
    jobs:
      - validate
      - path-filtering/filter:
          name: filter
          mapping: |
            aws/.* push-aws true
            azure/.* push-azure true
            kvm/.* push-kvm true
          base-revision: master
          config-path: .circleci/provider_config.yml
          requires:
            - validate

CAPA: Release v28.0.1. (#1343)
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v28.0.1/README.md
  capa/v28.0.1/announcement.md
  capa/v28.0.1/kustomization.yaml
  capa/v28.0.1/release.diff
  capa/v28.0.1/release.yaml
Due: none

CAPA: Release v28.1.1. (#1344)
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v28.1.1/README.md
  capa/v28.1.1/announcement.md
  capa/v28.1.1/kustomization.yaml
  capa/v28.1.1/release.diff
  capa/v28.1.1/release.yaml
Due: none

CAPA: Release v29.1.0.
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v29.1.0/README.md
  capa/v29.1.0/announcement.md
  capa/v29.1.0/kustomization.yaml
  capa/v29.1.0/release.diff
  capa/v29.1.0/release.yaml
Due: none

CAPA: Release v29.1.0. (#1348)
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v29.1.0/README.md
  capa/v29.1.0/announcement.md
  capa/v29.1.0/kustomization.yaml
  capa/v29.1.0/release.diff
  capa/v29.1.0/release.yaml
Due: none

CAPA: Deprecate multiple releases.
  capa/releases.json
  capa/v25.1.0/release.yaml
  capa/v26.0.0/release.yaml
  capa/v27.0.0/release.yaml
  capa/v28.0.0/release.yaml
  capa/v28.0.1/release.yaml
  capa/v28.1.0/release.yaml
  capa/v29.0.0/release.yaml
Due: none

CAPA: Deprecate multiple releases. (#1349)
  capa/releases.json
  capa/v25.1.0/release.yaml
  capa/v26.0.0/release.yaml
  capa/v27.0.0/release.yaml
  capa/v28.0.0/release.yaml
  capa/v28.0.1/release.yaml
  capa/v28.1.0/release.yaml
  capa/v29.0.0/release.yaml
Due: none

CAPA: archive v26.0.0 release
  README.md
  capa/archived/v26.0.0/README.md
  capa/archived/v26.0.0/announcement.md
  capa/archived/v26.0.0/kustomization.yaml
  capa/archived/v26.0.0/release.yaml
  capa/kustomization.yaml
  capa/releases.json
Due: none

CAPA: archive v26.0.0 release (#1350)
  README.md
  capa/archived/v26.0.0/README.md
  capa/archived/v26.0.0/announcement.md
  capa/archived/v26.0.0/kustomization.yaml
  capa/archived/v26.0.0/release.yaml
  capa/kustomization.yaml
  capa/releases.json
Due: none

CAPA: Archive release v27.0.0
  README.md
  capa/archived/v27.0.0/README.md
  capa/archived/v27.0.0/announcement.md
  capa/archived/v27.0.0/kustomization.yaml
  capa/archived/v27.0.0/release.yaml
  capa/kustomization.yaml
  capa/releases.json
Due: none

Archive Vintage AWS unused releases
  README.md
  aws/archived/v16.5.1/README.md
  aws/archived/v16.5.1/announcement.md
  aws/archived/v16.5.1/kustomization.yaml
  aws/archived/v16.5.1/release.diff
  aws/archived/v16.5.1/release.yaml
  aws/archived/v18.4.2/README.md
  aws/archived/v18.4.2/announcement.md
  aws/archived/v18.4.2/kustomization.yaml
  aws/archived/v18.4.2/release.diff
  aws/archived/v18.4.2/release.yaml
  aws/archived/v19.0.0/README.md
  aws/archived/v19.0.0/announcement.md
  aws/archived/v19.0.0/kustomization.yaml
  aws/archived/v19.0.0/release.diff
  aws/archived/v19.0.0/release.yaml
  aws/archived/v19.0.1/README.md
  aws/archived/v19.0.1/announcement.md
  aws/archived/v19.0.1/kustomization.yaml
  aws/archived/v19.0.1/release.diff
  aws/archived/v19.0.1/release.yaml
  aws/archived/v19.2.0/README.md
  aws/archived/v19.2.0/announcement.md
  aws/archived/v19.2.0/kustomization.yaml
  aws/archived/v19.2.0/release.diff
  aws/archived/v19.2.0/release.yaml
Due: push-aws

remove kustomization
  aws/kustomization.yaml
Due: push-aws

Archive Vintage AWS unused releases (#1352)
  README.md
  aws/archived/v16.5.1/README.md
  aws/archived/v16.5.1/announcement.md
  aws/archived/v16.5.1/kustomization.yaml
  aws/archived/v16.5.1/release.diff
  aws/archived/v16.5.1/release.yaml
  aws/archived/v18.4.2/README.md
  aws/archived/v18.4.2/announcement.md
  aws/archived/v18.4.2/kustomization.yaml
  aws/archived/v18.4.2/release.diff
  aws/archived/v18.4.2/release.yaml
  aws/archived/v19.0.0/README.md
  aws/archived/v19.0.0/announcement.md
  aws/archived/v19.0.0/kustomization.yaml
  aws/archived/v19.0.0/release.diff
  aws/archived/v19.0.0/release.yaml
  aws/archived/v19.0.1/README.md
  aws/archived/v19.0.1/announcement.md
  aws/archived/v19.0.1/kustomization.yaml
  aws/archived/v19.0.1/release.diff
  aws/archived/v19.0.1/release.yaml
  aws/archived/v19.2.0/README.md
  aws/archived/v19.2.0/announcement.md
  aws/archived/v19.2.0/kustomization.yaml
  aws/archived/v19.2.0/release.diff
  aws/archived/v19.2.0/release.yaml
  aws/kustomization.yaml
Due: push-aws

CAPA: Archive release v27.0.0 (#1351)
  README.md
  capa/archived/v27.0.0/README.md
  capa/archived/v27.0.0/announcement.md
  capa/archived/v27.0.0/kustomization.yaml
  capa/archived/v27.0.0/release.yaml
  capa/kustomization.yaml
  capa/releases.json
Due: none

CAPA: Archive release v29.0.0
  README.md
  capa/archived/v29.0.0/README.md
  capa/archived/v29.0.0/announcement.md
  capa/archived/v29.0.0/kustomization.yaml
  capa/archived/v29.0.0/release.diff
  capa/archived/v29.0.0/release.yaml
  capa/kustomization.yaml
  capa/releases.json
Due: none

CAPA v29.1.0: Define catalog for `cilium-crossplane-resources`.
  capa/v29.1.0/release.diff
  capa/v29.1.0/release.yaml
Due: none

CAPA: Archive release v29.0.0 (#1354)
  README.md
  capa/archived/v29.0.0/README.md
  capa/archived/v29.0.0/announcement.md
  capa/archived/v29.0.0/kustomization.yaml
  capa/archived/v29.0.0/release.diff
  capa/archived/v29.0.0/release.yaml
  capa/kustomization.yaml
  capa/releases.json
Due: none

CAPA v29.1.0: Define catalog for `cilium-crossplane-resources`. (#1355)
  capa/v29.1.0/release.diff
  capa/v29.1.0/release.yaml
Due: none

Update security-bundle requests
  azure/requests.yaml
  capa/requests.yaml
Due: push-azure

Update security-bundle requests (#1356)
  azure/requests.yaml
  capa/requests.yaml
Due: push-azure

README: Align lists.
  README.md
Due: none

CAPA: Archive release v28.1.0
  README.md
  capa/archived/v28.1.0/README.md
  capa/archived/v28.1.0/announcement.md
  capa/archived/v28.1.0/kustomization.yaml
  capa/archived/v28.1.0/release.yaml
  capa/kustomization.yaml
  capa/releases.json
Due: none

Docs: Update CAPA version.
  .github/pull_request_template.md
  README.md
Due: none

Docs: Update CAPA version. (#1358)
  .github/pull_request_template.md
  README.md
Due: none

CAPA: Archive release v28.1.0 (#1360)
  README.md
  capa/archived/v28.1.0/README.md
  capa/archived/v28.1.0/announcement.md
  capa/archived/v28.1.0/kustomization.yaml
  capa/archived/v28.1.0/release.yaml
  capa/kustomization.yaml
  capa/releases.json
Due: none

Renovate: Fix config.
  renovate.json5
Due: none

Go: Fix version.
  go.mod
Due: none

Go: Clean dependencies.
  go.mod
  go.sum
  releases_test.go
  renovate.go
  sdk/go.mod
  sdk/go.sum
  tools.go
Due: none

Go: Clean dependencies. (#1381)
  go.mod
  go.sum
  releases_test.go
  renovate.go
  sdk/go.mod
  sdk/go.sum
  tools.go
Due: none

Go: Bump to v1.22.6.
  sdk/go.mod
Due: none

CircleCI: Fix Kustomize.
  .circleci/provider_config.yml
Due: none

CircleCI: Fix Kustomize plugins.
  .circleci/provider_config.yml
Due: none

CAPA: Archive v28.0.1.
  README.md
  capa/archived/v28.0.1/README.md
  capa/archived/v28.0.1/announcement.md
  capa/archived/v28.0.1/kustomization.yaml
  capa/archived/v28.0.1/release.diff
  capa/archived/v28.0.1/release.yaml
  capa/kustomization.yaml
  capa/releases.json
Due: none

CAPA: Archive v28.0.1. (#1368)
  README.md
  capa/archived/v28.0.1/README.md
  capa/archived/v28.0.1/announcement.md
  capa/archived/v28.0.1/kustomization.yaml
  capa/archived/v28.0.1/release.diff
  capa/archived/v28.0.1/release.yaml
  capa/kustomization.yaml
  capa/releases.json
Due: none

CAPA: Release v30.0.0.
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v30.0.0/README.md
  capa/v30.0.0/announcement.md
  capa/v30.0.0/kustomization.yaml
  capa/v30.0.0/release.diff
  capa/v30.0.0/release.yaml
Due: none

CAPZ: Release v30.0.0.
  README.md
  azure/kustomization.yaml
  azure/releases.json
  azure/v30.0.0/README.md
  azure/v30.0.0/announcement.md
  azure/v30.0.0/kustomization.yaml
  azure/v30.0.0/release.diff
  azure/v30.0.0/release.yaml
Due: push-azure

GitHub: Improve release creation.
  .github/workflows/releases.yaml
Due: none

GitHub: Improve release creation. (#1382)
  .github/workflows/releases.yaml
Due: none

Update README.md
  aws/archived/v19.3.3/README.md
Due: push-aws

Update aws/archived/v19.3.3/README.md
  aws/archived/v19.3.3/README.md
Due: push-aws

Update README.md (#1383)
  aws/archived/v19.3.3/README.md
Due: push-aws
