Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.3

jobs:
  validate:
    docker:
      - image: quay.io/giantswarm/architect
    steps:
      - checkout
      - run:
          name: Validate releases
          command: CGO_ENABLED=0 go test ./...

workflows:
  workflow:
    jobs:
      - validate
      - path-filtering/filter:
          name: filter
          mapping: |
            aws/.* push-aws true
            azure/.* push-azure true
            kvm/.* push-kvm true
          base-revision: master
          config-path: .circleci/provider_config.yml
          requires:
            - validate

Create AWS v17.4.1 (#1005)
  README.md
  aws/kustomization.yaml
  aws/v17.4.1/README.md
  aws/v17.4.1/announcement.md
  aws/v17.4.1/kustomization.yaml
  aws/v17.4.1/release.diff
  aws/v17.4.1/release.yaml
Due: push-aws

archive unused release
  README.md
  aws/archived/v17.4.0/README.md
  aws/archived/v17.4.0/announcement.md
  aws/archived/v17.4.0/kustomization.yaml
  aws/archived/v17.4.0/release.diff
  aws/archived/v17.4.0/release.yaml
  aws/kustomization.yaml
Due: push-aws

archive unused release (#1006)
  README.md
  aws/archived/v17.4.0/README.md
  aws/archived/v17.4.0/announcement.md
  aws/archived/v17.4.0/kustomization.yaml
  aws/archived/v17.4.0/release.diff
  aws/archived/v17.4.0/release.yaml
  aws/kustomization.yaml
Due: push-aws

Update kvm/v16.2.1/README.md
  kvm/v16.2.1/README.md
Due: push-kvm

AWS v18.0.0
  README.md
  aws/kustomization.yaml
  aws/v18.0.0/README.md
  aws/v18.0.0/kustomization.yaml
  aws/v18.0.0/release.diff
  aws/v18.0.0/release.yaml
Due: push-aws

AWS v18.0.0
  aws/v18.0.0/README.md
  aws/v18.0.0/release.diff
  aws/v18.0.0/release.yaml
Due: push-aws

Align files
  .nancy-ignore.generated
Due: none

Update .nancy-ignore
  .nancy-ignore
Due: none

Align files (#1008)
  .nancy-ignore.generated
Due: none

update
  aws/v18.0.0/README.md
  aws/v18.0.0/release.diff
  aws/v18.0.0/release.yaml
Due: push-aws

update
  aws/v18.0.0/README.md
Due: push-aws

aws-cloud-controller-manager
  aws/v18.0.0/README.md
  aws/v18.0.0/release.diff
  aws/v18.0.0/release.yaml
Due: push-aws

Request app-operator >= 6.3.0 and cluster-operator >= 4.3.0 for aws and azure
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Request app-operator >= 6.3.0 and cluster-operator >= 4.3.0 for aws and azure (#1009)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Correct requests for app-operator beyond aws v17.4.1
  aws/requests.yaml
Due: push-aws

AWS v18.0.0
  aws/v18.0.0/release.yaml
Due: push-aws

Define and activate release 16.2.1 for kvm (#1002)
  README.md
  kvm/kustomization.yaml
  kvm/requests.yaml
  kvm/v16.2.1/README.md
  kvm/v16.2.1/kustomization.yaml
  kvm/v16.2.1/release.diff
  kvm/v16.2.1/release.yaml
Due: push-kvm

Update kvm 16.2.1
  kvm/v16.2.1/README.md
Due: push-kvm

fix
  aws/v18.0.0/release.diff
  aws/v18.0.0/release.yaml
Due: push-aws

update aws-operator
  aws/v18.0.0/README.md
  aws/v18.0.0/release.diff
  aws/v18.0.0/release.yaml
Due: push-aws

Push temp release
  aws/v18.0.0/release.yaml
Due: push-aws

bump ebs-csi
  aws/v18.0.0/README.md
  aws/v18.0.0/release.diff
  aws/v18.0.0/release.yaml
Due: push-aws

Release 16.5.1
  aws/kustomization.yaml
  aws/v16.5.1/README.md
  aws/v16.5.1/kustomization.yaml
  aws/v16.5.1/release.diff
  aws/v16.5.1/release.yaml
Due: push-aws

Move to release 2.13.0
  aws/v16.5.1/release.diff
  aws/v16.5.1/release.yaml
Due: push-aws

Release Link
  README.md
Due: none

Update README.md
  aws/v16.5.1/README.md
Due: push-aws

Create announcement.md
  aws/v16.5.1/announcement.md
Due: push-aws

Update announcement.md
  aws/v16.5.1/announcement.md
Due: push-aws

Deprecate 16.5.0
  aws/v16.5.0/release.yaml
Due: push-aws
