Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.3

jobs:
  validate:
    docker:
      - image: quay.io/giantswarm/architect
    steps:
      - checkout
      - run:
          name: Validate releases
          command: CGO_ENABLED=0 go test ./...

workflows:
  workflow:
    jobs:
      - validate
      - path-filtering/filter:
          name: filter
          mapping: |
            aws/.* push-aws true
            azure/.* push-azure true
            kvm/.* push-kvm true
          base-revision: master
          config-path: .circleci/provider_config.yml
          requires:
            - validate

update v17.0.0-alpha1 release notes
  aws/v17.0.0-alpha1/README.md
Due: push-aws

Use actual releases for the capi components
  azure/v20.0.0-alpha1/release.yaml
Due: push-azure

fix cluster-operator
  aws/v16.4.0/README.md
  aws/v16.4.0/release.diff
  aws/v16.4.0/release.yaml
Due: push-aws

update externaldns
  aws/v16.4.0/README.md
  aws/v16.4.0/release.diff
  aws/v16.4.0/release.yaml
Due: push-aws

fix readme
  README.md
Due: none

delete openstack and vsphere
  .circleci/config.yml
  .circleci/provider_config.yml
  README.md
  helm/releases-openstack/Chart.yaml
  helm/releases-openstack/values.yaml
  helm/releases-vsphere/Chart.yaml
  helm/releases-vsphere/values.yaml
  openstack/archived/.gitkeep
  openstack/kustomization.yaml
  openstack/releaseNotesTransformer.yaml
  openstack/requests.yaml
  openstack/v20.0.0-alpha1/README.md
  openstack/v20.0.0-alpha1/kustomization.yaml
  openstack/v20.0.0-alpha1/release.yaml
  releases_test.go
  vsphere/archived/.gitkeep
  vsphere/kustomization.yaml
  vsphere/releaseNotesTransformer.yaml
  vsphere/requests.yaml
  vsphere/v20.0.0-alpha1/README.md
  vsphere/v20.0.0-alpha1/announcement.md
  vsphere/v20.0.0-alpha1/kustomization.yaml
  vsphere/v20.0.0-alpha1/release.yaml
Due: none

deprecate 16.1.0
  kvm/v16.1.0/release.yaml
Due: push-kvm

add release 16.1.1
  kvm/v16.1.1/README.md
  kvm/v16.1.1/kustomization.yaml
  kvm/v16.1.1/release.diff
  kvm/v16.1.1/release.yaml
Due: push-kvm

archive old releases
  README.md
  kvm/archived/v14.0.0/README.md
  kvm/archived/v14.0.0/announcement.md
  kvm/archived/v14.0.0/kustomization.yaml
  kvm/archived/v14.0.0/release.diff
  kvm/archived/v14.0.0/release.yaml
  kvm/archived/v14.1.0/README.md
  kvm/archived/v14.1.0/announcement.md
  kvm/archived/v14.1.0/kustomization.yaml
  kvm/archived/v14.1.0/release.diff
  kvm/archived/v14.1.0/release.yaml
  kvm/archived/v14.1.2/README.md
  kvm/archived/v14.1.2/announcement.md
  kvm/archived/v14.1.2/kustomization.yaml
  kvm/archived/v14.1.2/release.diff
  kvm/archived/v14.1.2/release.yaml
  kvm/archived/v15.0.0/README.md
  kvm/archived/v15.0.0/announcement.md
  kvm/archived/v15.0.0/kustomization.yaml
  kvm/archived/v15.0.0/release.diff
  kvm/archived/v15.0.0/release.yaml
  kvm/archived/v16.0.0/README.md
  kvm/archived/v16.0.0/kustomization.yaml
  kvm/archived/v16.0.0/release.diff
  kvm/archived/v16.0.0/release.yaml
  kvm/kustomization.yaml
Due: push-kvm

register release
  README.md
  kvm/kustomization.yaml
  kvm/requests.yaml
Due: push-kvm

keep existing external-dns version for AWS v17.0.0-alpha1
  aws/requests.yaml
Due: push-aws

KVM 16.1.1 release (#913)
  README.md
  kvm/kustomization.yaml
  kvm/requests.yaml
  kvm/v16.1.1/README.md
  kvm/v16.1.1/kustomization.yaml
  kvm/v16.1.1/release.diff
  kvm/v16.1.1/release.yaml
Due: push-kvm

set AWS v17.0.0-alpha1 as a preview release
  aws/v17.0.0-alpha1/release.diff
  aws/v17.0.0-alpha1/release.yaml
Due: push-aws

Archive old KVM releases (#912)
  README.md
  kvm/archived/v14.0.0/README.md
  kvm/archived/v14.0.0/announcement.md
  kvm/archived/v14.0.0/kustomization.yaml
  kvm/archived/v14.0.0/release.diff
  kvm/archived/v14.0.0/release.yaml
  kvm/archived/v14.1.0/README.md
  kvm/archived/v14.1.0/announcement.md
  kvm/archived/v14.1.0/kustomization.yaml
  kvm/archived/v14.1.0/release.diff
  kvm/archived/v14.1.0/release.yaml
  kvm/archived/v14.1.2/README.md
  kvm/archived/v14.1.2/announcement.md
  kvm/archived/v14.1.2/kustomization.yaml
  kvm/archived/v14.1.2/release.diff
  kvm/archived/v14.1.2/release.yaml
  kvm/archived/v15.0.0/README.md
  kvm/archived/v15.0.0/announcement.md
  kvm/archived/v15.0.0/kustomization.yaml
  kvm/archived/v15.0.0/release.diff
  kvm/archived/v15.0.0/release.yaml
  kvm/archived/v16.0.0/README.md
  kvm/archived/v16.0.0/kustomization.yaml
  kvm/archived/v16.0.0/release.diff
  kvm/archived/v16.0.0/release.yaml
  kvm/kustomization.yaml
Due: push-kvm

Use right catalogs
  azure/v20.0.0-alpha1/release.yaml
Due: push-azure

update release notes and add announcement
  aws/v17.0.0-alpha1/README.md
  aws/v17.0.0-alpha1/announcement.md
Due: push-aws

delete openstack and vsphere (#911)
  .circleci/config.yml
  .circleci/provider_config.yml
  README.md
  helm/releases-openstack/Chart.yaml
  helm/releases-openstack/values.yaml
  helm/releases-vsphere/Chart.yaml
  helm/releases-vsphere/values.yaml
  openstack/archived/.gitkeep
  openstack/kustomization.yaml
  openstack/releaseNotesTransformer.yaml
  openstack/requests.yaml
  openstack/v20.0.0-alpha1/README.md
  openstack/v20.0.0-alpha1/kustomization.yaml
  openstack/v20.0.0-alpha1/release.yaml
  releases_test.go
  vsphere/archived/.gitkeep
  vsphere/kustomization.yaml
  vsphere/releaseNotesTransformer.yaml
  vsphere/requests.yaml
  vsphere/v20.0.0-alpha1/README.md
  vsphere/v20.0.0-alpha1/announcement.md
  vsphere/v20.0.0-alpha1/kustomization.yaml
  vsphere/v20.0.0-alpha1/release.yaml
Due: none

Remove apiextensions dependency
  go.mod
  go.sum
  releases_test.go
Due: none

Remove apiextensions dependency (#914)
  go.mod
  go.sum
  releases_test.go
Due: none

archived azure release 15.1.2
  README.md
  azure/archived/v15.1.2/README.md
  azure/archived/v15.1.2/announcement.md
  azure/archived/v15.1.2/kustomization.yaml
  azure/archived/v15.1.2/release.diff
  azure/archived/v15.1.2/release.yaml
  azure/kustomization.yaml
Due: push-azure

archived azure release 15.1.2 (#915)
  README.md
  azure/archived/v15.1.2/README.md
  azure/archived/v15.1.2/announcement.md
  azure/archived/v15.1.2/kustomization.yaml
  azure/archived/v15.1.2/release.diff
  azure/archived/v15.1.2/release.yaml
  azure/kustomization.yaml
Due: push-azure

Fix dependencies
  go.mod
  go.sum
Due: none

Fix dependencies (#916)
  go.mod
  go.sum
Due: none

Add kubectl-gs commands to release readme
  azure/v20.0.0-alpha1/README.md
Due: push-azure

bump aws-operator and cluster-operator versions
  aws/v17.0.0-alpha1/README.md
  aws/v17.0.0-alpha1/release.diff
  aws/v17.0.0-alpha1/release.yaml
Due: push-aws

archive azure release 15.1.3
  README.md
  azure/archived/v15.1.3/README.md
  azure/archived/v15.1.3/announcement.md
  azure/archived/v15.1.3/kustomization.yaml
  azure/archived/v15.1.3/release.diff
  azure/archived/v15.1.3/release.yaml
  azure/kustomization.yaml
Due: push-azure

archive azure release 15.1.3 (#917)
  README.md
  azure/archived/v15.1.3/README.md
  azure/archived/v15.1.3/announcement.md
  azure/archived/v15.1.3/kustomization.yaml
  azure/archived/v15.1.3/release.diff
  azure/archived/v15.1.3/release.yaml
  azure/kustomization.yaml
Due: push-azure

Update aws/v16.4.0/README.md
  aws/v16.4.0/README.md
Due: push-aws

calico-changelog
  aws/v16.4.0/README.md
Due: push-aws

test2
  aws/v17.0.0-alpha1/release.yaml
Due: push-aws

fix-preview
  aws/v17.0.0-alpha1/release.yaml
Due: push-aws

Archive AWS release v13.2.0
  README.md
  aws/archived/v13.2.0/README.md
  aws/archived/v13.2.0/announcement.md
  aws/archived/v13.2.0/kustomization.yaml
  aws/archived/v13.2.0/release.diff
  aws/archived/v13.2.0/release.yaml
  aws/kustomization.yaml
Due: push-aws

Archive AWS release v13.2.0 (#918)
  README.md
  aws/archived/v13.2.0/README.md
  aws/archived/v13.2.0/announcement.md
  aws/archived/v13.2.0/kustomization.yaml
  aws/archived/v13.2.0/release.diff
  aws/archived/v13.2.0/release.yaml
  aws/kustomization.yaml
Due: push-aws

aws-ebs-csi-driver patch
  aws/v16.4.0/README.md
  aws/v16.4.0/release.diff
  aws/v16.4.0/release.yaml
Due: push-aws

aws-ebs-csi-driver patch
  aws/v16.4.0/README.md
Due: push-aws

azure-operator 5.14
  azure/v17.0.0-alpha1/README.md
  azure/v17.0.0-alpha1/release.diff
  azure/v17.0.0-alpha1/release.yaml
Due: push-azure

Update cluster-api app
  azure/v20.0.0-alpha1/release.yaml
Due: push-azure
