Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

Request app-operator 5.4.1 for KVM
  kvm/requests.yaml
Due: push-kvm

Fix CI
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Request app-operator 5.4.1 for AWS and Azure (#904)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

azure release 17.0.0-alpha1
  README.md
  azure/kustomization.yaml
  azure/v17.0.0-alpha1/README.md
  azure/v17.0.0-alpha1/kustomization.yaml
  azure/v17.0.0-alpha1/release.diff
  azure/v17.0.0-alpha1/release.yaml
Due: push-azure

azure release 17.0.0-alpha1
  azure/requests.yaml
Due: push-azure

bump azure operator
  azure/v17.0.0-alpha1/README.md
  azure/v17.0.0-alpha1/kustomization.yaml
  azure/v17.0.0-alpha1/release.diff
  azure/v17.0.0-alpha1/release.yaml
Due: push-azure

azure release 17.0.0-alpha1
  azure/v17.0.0-alpha1/release.yaml
Due: push-azure

bumped calico
  azure/v17.0.0-alpha1/release.yaml
Due: push-azure

Add azure release 17.0.0-alpha1
  azure/v17.0.0-alpha1/README.md
  azure/v17.0.0-alpha1/kustomization.yaml
  azure/v17.0.0-alpha1/release.diff
  azure/v17.0.0-alpha1/release.yaml
Due: push-azure

Add aws release 17.0.0-alpha1
  azure/v17.0.0-alpha1/README.md
  azure/v17.0.0-alpha1/release.diff
  azure/v17.0.0-alpha1/release.yaml
Due: push-azure

Request app-operator 5.4.1 for KVM (#905)
  kvm/requests.yaml
Due: push-kvm

Request external-dns 2.8.0 in upcoming aws and azure platform releases
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Update aws/requests.yaml
  aws/requests.yaml
Due: push-aws

Request external-dns 2.8.0 in upcoming aws and azure platform releases (#906)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

AWS 16.3.1
  aws/kustomization.yaml
  aws/v16.3.1/README.md
  aws/v16.3.1/kustomization.yaml
  aws/v16.3.1/release.diff
  aws/v16.3.1/release.yaml
Due: push-aws

AWS 16.3.1
  README.md
Due: none

Add aws release 17.0.0-alpha1
  README.md
  aws/kustomization.yaml
  aws/v17.0.0-alpha1/README.md
  aws/v17.0.0-alpha1/kustomization.yaml
  aws/v17.0.0-alpha1/release.diff
  aws/v17.0.0-alpha1/release.yaml
Due: push-aws

Add aws release 17.0.0-alpha1
  aws/requests.yaml
Due: push-aws

Add aws release 17.0.0-alpha1
  aws/v17.0.0-alpha1/release.yaml
Due: push-aws

Add aws release 17.0.0-alpha1
  aws/v17.0.0-alpha1/README.md
  aws/v17.0.0-alpha1/release.diff
  aws/v17.0.0-alpha1/release.yaml
Due: push-aws

Add azure release 17.0.0-alpha1
  aws/v17.0.0-alpha1/release.yaml
Due: push-aws

Add aws release 17.0.0-alpha1
  aws/v16.3.0/release.yaml
  aws/v17.0.0-alpha1/README.md
  aws/v17.0.0-alpha1/release.diff
  aws/v17.0.0-alpha1/release.yaml
Due: push-aws

release description and announcement
  aws/v16.3.1/README.md
  aws/v16.3.1/announcement.md
Due: push-aws

update release date
  aws/v16.3.1/release.diff
  aws/v16.3.1/release.yaml
Due: push-aws

deprecate AWS v16.3.0
  aws/v16.3.0/release.yaml
Due: push-aws

AWS 16.3.1 (#907)
  README.md
  aws/kustomization.yaml
  aws/v16.3.1/README.md
  aws/v16.3.1/announcement.md
  aws/v16.3.1/kustomization.yaml
  aws/v16.3.1/release.diff
  aws/v16.3.1/release.yaml
Due: push-aws

update release v16.3.1 description and announcement
  aws/v16.3.1/README.md
  aws/v16.3.1/announcement.md
Due: push-aws

update release v16.3.1 description and announcement (#908)
  aws/v16.3.1/README.md
  aws/v16.3.1/announcement.md
Due: push-aws

Request external-dns v2.9.0 in upcoming platform releases
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Request external-dns v2.9.0 in upcoming platform releases (#909)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Upgrade kyverno policies
  azure/v20.0.0-alpha1/release.yaml
Due: push-azure

aws-16-4-0
  aws/kustomization.yaml
  aws/v16.4.0/README.md
  aws/v16.4.0/kustomization.yaml
  aws/v16.4.0/release.diff
  aws/v16.4.0/release.yaml
Due: push-aws

aws-16-4-0
  aws/v16.3.1/release.yaml
  aws/v16.4.0/README.md
Due: push-aws

Path conditions:
  push-aws: any of: aws/.*
  push-azure: any of: azure/.*
  push-kvm: any of: kvm/.*
