Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.3

jobs:
  validate:
    docker:
      - image: quay.io/giantswarm/architect
    steps:
      - checkout
      - run:
          name: Validate releases
          command: CGO_ENABLED=0 go test ./...

workflows:
  workflow:
    jobs:
      - validate
      - path-filtering/filter:
          name: filter
          mapping: |
            aws/.* push-aws true
            azure/.* push-azure true
            kvm/.* push-kvm true
          base-revision: master
          config-path: .circleci/provider_config.yml
          requires:
            - validate

Update requests.yaml
  azure/requests.yaml
Due: push-azure

Request new azure operator for 17.0.0 (#938)
  azure/requests.yaml
Due: push-azure

update kube-state-metrics
  aws/v17.0.0/README.md
  aws/v17.0.0/release.diff
  aws/v17.0.0/release.yaml
  aws/v17.0.0/test.yaml
Due: push-aws

downgrade cluster operator
  azure/v17.0.0-alpha1/release.diff
  azure/v17.0.0-alpha1/release.yaml
Due: push-azure

fix flatcar
  azure/v17.0.0-alpha1/release.diff
  azure/v17.0.0-alpha1/release.yaml
Due: push-azure

Downgrade autoscaler to previous
  azure/v17.0.0-alpha1/release.diff
  azure/v17.0.0-alpha1/release.yaml
Due: push-azure

fix components
  azure/requests.yaml
  azure/v17.0.0-alpha1/README.md
  azure/v17.0.0-alpha1/release.diff
  azure/v17.0.0-alpha1/release.yaml
Due: push-azure

add readme
  README.md
Due: none

Add vpa
  azure/v17.0.0-alpha1/release.diff
  azure/v17.0.0-alpha1/release.yaml
Due: push-azure

Add Azure v17.0.0-alpha1
  azure/kustomization.yaml
  azure/v17.0.0-alpha1/README.md
  azure/v17.0.0-alpha1/kustomization.yaml
  azure/v17.0.0-alpha1/release.diff
  azure/v17.0.0-alpha1/release.yaml
Due: push-azure

Add Azure requests
  azure/requests.yaml
Due: push-azure

update release notes and announcement
  aws/v17.0.0/README.md
  aws/v17.0.0/announcement.md
Due: push-aws

update kube-state-metrics release notes
  aws/v17.0.0/README.md
Due: push-aws

update CVE count list
  aws/v17.0.0/README.md
Due: push-aws

small release notes & announcement correction
  aws/v17.0.0/README.md
  aws/v17.0.0/announcement.md
Due: push-aws

update release date
  aws/v17.0.0/release.diff
  aws/v17.0.0/release.yaml
Due: push-aws

deprecate AWS v17.0.0-alpha1
  aws/v17.0.0-alpha1/release.yaml
Due: push-aws

small release notes and announcement correction
  aws/v17.0.0/README.md
  aws/v17.0.0/announcement.md
Due: push-aws

AWS v17.0.0 (#925)
  README.md
  aws/kustomization.yaml
  aws/v17.0.0/README.md
  aws/v17.0.0/announcement.md
  aws/v17.0.0/kustomization.yaml
  aws/v17.0.0/release.diff
  aws/v17.0.0/release.yaml
Due: push-aws

bump azure-ad-pod-identity in 20.0.0-alpha1 while we wait to move it to the provider collection
  azure/v20.0.0-alpha1/release.yaml
Due: push-azure

bump azure-ad-pod-identity in 20.0.0-alpha1 while we wait to move it to the provider collection (#939)
  azure/v20.0.0-alpha1/release.yaml
Due: push-azure

fix diff
  azure/v17.0.0-alpha1/release.diff
Due: push-azure

bump architect-orb to v4.13.0
  .circleci/provider_config.yml
Due: none

bump architect-orb to v4.13.0 (#940)
  .circleci/provider_config.yml
Due: none

bump azure-ad-pod-identity in 20.0.0-alpha1 while we wait to move it to the provider collection
  azure/v17.0.0-alpha1/release.yaml
Due: push-azure

AWS v16.1.1
  README.md
  aws/kustomization.yaml
  aws/v16.1.1/README.md
  aws/v16.1.1/kustomization.yaml
  aws/v16.1.1/release.diff
  aws/v16.1.1/release.yaml
Due: push-aws

Update README.md
  aws/v16.1.1/README.md
Due: push-aws

release announcement
  aws/v16.1.1/announcement.md
Due: push-aws

AWS v16.1.1 (#941)
  README.md
  aws/kustomization.yaml
  aws/v16.1.1/README.md
  aws/v16.1.1/announcement.md
  aws/v16.1.1/kustomization.yaml
  aws/v16.1.1/release.diff
  aws/v16.1.1/release.yaml
Due: push-aws

Bump core-dns version in requests
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Backport request to new v16 releases
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Bump core-dns version in requests (#942)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

add aws release 16.4.1 with coredns 1.8.0
  README.md
  aws/kustomization.yaml
  aws/v16.4.1/README.md
  aws/v16.4.1/kustomization.yaml
  aws/v16.4.1/release.diff
  aws/v16.4.1/release.yaml
Due: push-aws

add aws release 17.0.1 with coredns 1.8.0
  README.md
  aws/kustomization.yaml
  aws/v17.0.1/README.md
  aws/v17.0.1/kustomization.yaml
  aws/v17.0.1/release.diff
  aws/v17.0.1/release.yaml
Due: push-aws

add aws release 17.0.1 with coredns 1.8.0
  aws/requests.yaml
Due: push-aws

Add latest az-operator
  azure/v17.0.0-alpha1/README.md
  azure/v17.0.0-alpha1/release.diff
  azure/v17.0.0-alpha1/release.yaml
Due: push-azure
