Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm, push-vsphere

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.3

jobs:
  build:
    docker:
      - image: quay.io/giantswarm/architect
    steps:
      - checkout
      - run:
          name: Install kustomize
          command: |
            CGO_ENABLED=0 go install sigs.k8s.io/kustomize/kustomize/v3
      - run:
          name: Install releaseNotesURLTransformer kustomize plugin
          command: |
            CGO_ENABLED=0 go get github.com/giantswarm/kustomize-plugin-releasenotesurlannotationtransformer@v0.2.0
            mkdir -p "$PLUGIN_PATH"
            cp /go/bin/kustomize-plugin-releasenotesurlannotationtransformer "$PLUGIN_PATH/releaseNotesURLAnnotationTransformer"
          environment:
            PLUGIN_PATH: "./kustomize/plugin/giantswarm.io/v1/releasenotesurlannotationtransformer"
      - run:
          name: Kustomize helm charts
          command: |
            export XDG_CONFIG_HOME=$(pwd)
            for i in aws azure kvm vsphere; do mkdir -p helm/releases-$i/templates; kustomize build --enable_alpha_plugins ./$i > helm/releases-$i/templates/releases.yaml; done
      - persist_to_workspace:
          root: .
          paths:
            - helm
  validate:
    docker:
      - image: quay.io/giantswarm/architect
    steps:
      - checkout
      - run:
          name: Validate releases
          command: CGO_ENABLED=0 go test ./...

workflows:
  workflow:
    jobs:
      - validate
      - build
      - path-filtering/filter:
          name: filter
          mapping: |
            aws/.* push-aws true
            azure/.* push-azure true
            kvm/.* push-kvm true
            vsphere/.* push-vsphere true
          base-revision: master
          config-path: .circleci/push_config.yml
          requires:
            - build
            - validate

use dynamic workflow per provider
  .circleci/config.yml
  .circleci/push_config.yml
Due: none

change one
  aws/v20.0.0/release.yaml
Due: push-aws

change all
  azure/v15.1.1/release.yaml
  kvm/v15.0.0/release.yaml
Due: push-azure, push-kvm

Revert "change all"
  azure/v15.1.1/release.yaml
  kvm/v15.0.0/release.yaml
Due: push-azure, push-kvm

Revert "change one"
  aws/v20.0.0/release.yaml
Due: push-aws

Only push releases for changed providers (#809)
  .circleci/config.yml
  .circleci/push_config.yml
Due: none

Add azure 16.0.0 release
  README.md
  azure/kustomization.yaml
  azure/v16.0.0/README.md
  azure/v16.0.0/kustomization.yaml
  azure/v16.0.0/release.diff
  azure/v16.0.0/release.yaml
Due: push-azure

fixed catalog
  azure/v16.0.0/release.yaml
Due: push-azure

Add azure 16.0.0 release
  azure/v16.0.0/release.diff
  azure/v16.0.0/release.yaml
Due: push-azure

Add azure 16.0.0 release
  azure/v16.0.0/release.yaml
Due: push-azure

Bumped all components and apps to latest versions
  azure/v16.0.0/release.diff
  azure/v16.0.0/release.yaml
Due: push-azure

Reverted calico to 3.15
  azure/v16.0.0/release.diff
  azure/v16.0.0/release.yaml
Due: push-azure

Bump azure operator
  azure/v16.0.0/release.yaml
Due: push-azure

Add KVM v16.0.0 release (#807)
  README.md
  kvm/kustomization.yaml
  kvm/v16.0.0/README.md
  kvm/v16.0.0/kustomization.yaml
  kvm/v16.0.0/release.diff
  kvm/v16.0.0/release.yaml
Due: push-kvm

Added release notes and announcement
  azure/v16.0.0/README.md
  azure/v16.0.0/announcement.md
  azure/v16.0.0/release.diff
Due: push-azure

Added release notes and announcement
  azure/v16.0.0/README.md
Due: push-azure

Add azure 16.0.0 release (#794)
  README.md
  azure/kustomization.yaml
  azure/v16.0.0/README.md
  azure/v16.0.0/announcement.md
  azure/v16.0.0/kustomization.yaml
  azure/v16.0.0/release.diff
  azure/v16.0.0/release.yaml
Due: push-azure

Revert "Only push releases for changed providers (#809)"
  .circleci/config.yml
  .circleci/push_config.yml
Due: none

Revert "Only push releases for changed providers (#809)" (#810)
  .circleci/config.yml
  .circleci/push_config.yml
Due: none

Revert "Revert "Only push releases for changed providers (#809)" (#810)"
  .circleci/config.yml
  .circleci/push_config.yml
Due: none

build for each provider workflow instead of at top-level
  .circleci/config.yml
  .circleci/provider_config.yml
Due: none

test change azure
  azure/v16.0.0/release.yaml
Due: push-azure

change all three
  aws/v20.0.0/release.yaml
  kvm/v16.0.0/release.yaml
Due: push-aws, push-kvm

name job
  .circleci/provider_config.yml
Due: none

add capa aws cni operator
  aws/v20.0.0/release.yaml
Due: push-aws

archive old kvm releases and cleanup requests
  README.md
  kvm/archived/v13.1.0/README.md
  kvm/archived/v13.1.0/kustomization.yaml
  kvm/archived/v13.1.0/release.diff
  kvm/archived/v13.1.0/release.yaml
  kvm/archived/v14.1.1/README.md
  kvm/archived/v14.1.1/announcement.md
  kvm/archived/v14.1.1/kustomization.yaml
  kvm/archived/v14.1.1/release.diff
  kvm/archived/v14.1.1/release.yaml
  kvm/kustomization.yaml
  kvm/requests.yaml
Due: push-kvm

update capa
  aws/v20.0.0/release.yaml
Due: push-aws

Archived unused azure release 14.1.6
  azure/archived/v14.1.6/README.md
  azure/archived/v14.1.6/announcement.md
  azure/archived/v14.1.6/kustomization.yaml
  azure/archived/v14.1.6/release.diff
  azure/archived/v14.1.6/release.yaml
  azure/kustomization.yaml
Due: push-azure

fixed readme
  README.md
Due: none

Revert "change all three"
  aws/v20.0.0/release.yaml
  kvm/v16.0.0/release.yaml
Due: push-aws, push-kvm

Revert "test change azure"
  azure/v16.0.0/release.yaml
Due: push-azure

Archived unused azure release 14.1.6 (#815)
  README.md
  azure/archived/v14.1.6/README.md
  azure/archived/v14.1.6/announcement.md
  azure/archived/v14.1.6/kustomization.yaml
  azure/archived/v14.1.6/release.diff
  azure/archived/v14.1.6/release.yaml
  azure/kustomization.yaml
Due: push-azure

Only push releases for changed providers - fixed (#812)
  .circleci/config.yml
  .circleci/provider_config.yml
Due: none

archive old kvm releases and cleanup requests (#813)
  README.md
  kvm/archived/v13.1.0/README.md
  kvm/archived/v13.1.0/kustomization.yaml
  kvm/archived/v13.1.0/release.diff
  kvm/archived/v13.1.0/release.yaml
  kvm/archived/v14.1.1/README.md
  kvm/archived/v14.1.1/announcement.md
  kvm/archived/v14.1.1/kustomization.yaml
  kvm/archived/v14.1.1/release.diff
  kvm/archived/v14.1.1/release.yaml
  kvm/kustomization.yaml
  kvm/requests.yaml
Due: push-kvm

aws-20-0-0-aws-cni (#814)
  aws/v20.0.0/release.yaml
Due: push-aws
