Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

Align files (#1063)
  .github/workflows/zz_generated.add-to-project-board.yaml
Due: none

add azure release 19.0.0
  README.md
  azure/kustomization.yaml
  azure/v19.0.0/README.md
  azure/v19.0.0/kustomization.yaml
  azure/v19.0.0/release.diff
  azure/v19.0.0/release.yaml
Due: push-azure

Update release.yaml
  azure/v19.0.0/release.yaml
Due: push-azure

require metrics server 2.0.0
  azure/v19.0.0/release.yaml
Due: push-azure

azure release 19.0.0
  azure/v19.0.0/release.yaml
Due: push-azure

Update requests.yaml
  aws/requests.yaml
Due: push-aws

Adjust requests
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Update requests.yaml (#1064)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

add node local dns cache to v19+
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

add node local dns cache to v19+
  azure/requests.yaml
Due: push-azure

add node local dns cache to v19+ (#1065)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

node-exporter
  aws/requests.yaml
Due: push-aws

node-exporter (#1066)
  aws/requests.yaml
Due: push-aws

archive aws release v16.1.1
  README.md
  aws/archived/v16.1.1/README.md
  aws/archived/v16.1.1/announcement.md
  aws/archived/v16.1.1/kustomization.yaml
  aws/archived/v16.1.1/release.diff
  aws/archived/v16.1.1/release.yaml
  aws/kustomization.yaml
Due: push-aws

archive aws release v16.1.1 (#1067)
  README.md
  aws/archived/v16.1.1/README.md
  aws/archived/v16.1.1/announcement.md
  aws/archived/v16.1.1/kustomization.yaml
  aws/archived/v16.1.1/release.diff
  aws/archived/v16.1.1/release.yaml
  aws/kustomization.yaml
Due: push-aws

Update pull_request_template.md
  pull_request_template.md
Due: none

Update requests.yaml (#1068)
  aws/requests.yaml
Due: push-aws

Use new board
  pull_request_template.md
Due: none

Update pull_request_template.md (#1069)
  pull_request_template.md
Due: none

AWS v18.1.1
  README.md
  aws/kustomization.yaml
  aws/requests.yaml
  aws/v18.1.1/README.md
  aws/v18.1.1/kustomization.yaml
  aws/v18.1.1/release.diff
  aws/v18.1.1/release.yaml
Due: push-aws

placeholder
  aws/v18.1.1/README.md
  aws/v18.1.1/announcement.md
  aws/v18.1.1/release.diff
  aws/v18.1.1/release.yaml
Due: push-aws

Deprecate 18.1.0
  aws/v18.1.0/release.yaml
Due: push-aws

Update README.md
  aws/v18.1.1/README.md
Due: push-aws

Update announcement.md
  aws/v18.1.1/announcement.md
Due: push-aws

Update README.md
  aws/v18.1.0/README.md
Due: push-aws

AWS v18.1.1 (#1070)
  README.md
  aws/kustomization.yaml
  aws/requests.yaml
  aws/v18.1.0/README.md
  aws/v18.1.1/README.md
  aws/v18.1.1/announcement.md
  aws/v18.1.1/kustomization.yaml
  aws/v18.1.1/release.diff
  aws/v18.1.1/release.yaml
Due: push-aws

set changelong in readme
  azure/v19.0.0/README.md
  azure/v19.0.0/release.diff
  azure/v19.0.0/release.yaml
Due: push-azure

Update requests.yaml
  azure/requests.yaml
Due: push-azure

Update requests.yaml (#1073)
  azure/requests.yaml
Due: push-azure

Create announcement.md
  azure/v19.0.0/announcement.md
Due: push-azure

Update README.md
  azure/v19.0.0/README.md
Due: push-azure

Path conditions:
  push-aws: any of: aws/.*
  push-azure: any of: azure/.*
  push-kvm: any of: kvm/.*
