Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.3

jobs:
  validate:
    docker:
      - image: quay.io/giantswarm/architect
    steps:
      - checkout
      - run:
          name: Validate releases
          command: CGO_ENABLED=0 go test ./...

workflows:
  workflow:
    jobs:
      - validate
      - path-filtering/filter:
          name: filter
          mapping: |
            aws/.* push-aws true
            azure/.* push-azure true
            kvm/.* push-kvm true
          base-revision: master
          config-path: .circleci/provider_config.yml
          requires:
            - validate

Update cilium requests (#1606)
  azure/requests.yaml
  capa/requests.yaml
  cloud-director/requests.yaml
  vsphere/requests.yaml
Due: push-azure

Archive Vintage AWS 19.3.5
  README.md
  aws/archived/v19.3.5/README.md
  aws/archived/v19.3.5/announcement.md
  aws/archived/v19.3.5/kustomization.yaml
  aws/archived/v19.3.5/release.diff
  aws/archived/v19.3.5/release.yaml
Due: push-aws

remove 19.3.5 from kustomization
  aws/kustomization.yaml
Due: push-aws

Archive Vintage AWS 19.3.5 (#1609)
  README.md
  aws/archived/v19.3.5/README.md
  aws/archived/v19.3.5/announcement.md
  aws/archived/v19.3.5/kustomization.yaml
  aws/archived/v19.3.5/release.diff
  aws/archived/v19.3.5/release.yaml
  aws/kustomization.yaml
Due: push-aws

Update security-bundle to 1.10.0 for v31 releases
  azure/requests.yaml
  capa/requests.yaml
  cloud-director/requests.yaml
  vsphere/requests.yaml
Due: push-azure

Update security-bundle to 1.10.0 for >=v30.1 releases
  azure/requests.yaml
  capa/requests.yaml
  cloud-director/requests.yaml
  vsphere/requests.yaml
Due: push-azure

Update security-bundle to 1.10.0 for >=v30.1 releases (#1610)
  azure/requests.yaml
  capa/requests.yaml
  cloud-director/requests.yaml
  vsphere/requests.yaml
Due: push-azure

I need a reason for a PR.
  README.md
Due: none

CAPVCD: Release v30.0.0.
  README.md
  cloud-director/kustomization.yaml
  cloud-director/releases.json
  cloud-director/v30.0.0/README.md
  cloud-director/v30.0.0/announcement.md
  cloud-director/v30.0.0/kustomization.yaml
  cloud-director/v30.0.0/release.diff
  cloud-director/v30.0.0/release.yaml
Due: none

Add capa support for Kubernetes 1.32.3
  capa/v32.0.0/release.yaml
Due: none

Add capa support for Kubernetes 1.31.7
  capa/v31.0.0/release.yaml
Due: none

Add capa support for Kubernetes 1.30.11
  capa/v30.1.0/release.yaml
Due: none

CAPVCD: Release v30.0.0. (#1616)
  README.md
  cloud-director/kustomization.yaml
  cloud-director/releases.json
  cloud-director/v30.0.0/README.md
  cloud-director/v30.0.0/announcement.md
  cloud-director/v30.0.0/kustomization.yaml
  cloud-director/v30.0.0/release.diff
  cloud-director/v30.0.0/release.yaml
Due: none

Remove v69.
  sdk/builder_test.go
  sdk/client.go
  sdk/client_test.go
  sdk/go.mod
  sdk/go.sum
Due: none

Fix README.md.
  README.md
Due: none

CAPV: Release v30.1.0.
  README.md
  vsphere/kustomization.yaml
  vsphere/releases.json
  vsphere/v30.1.0/README.md
  vsphere/v30.1.0/announcement.md
  vsphere/v30.1.0/kustomization.yaml
  vsphere/v30.1.0/release.diff
  vsphere/v30.1.0/release.yaml
Due: none

Fix announcement.md.
  vsphere/v30.1.0/announcement.md
Due: none

Update README.md.
  vsphere/v30.1.0/README.md
Due: none

Update release.diff.
  vsphere/v30.1.0/release.diff
Due: none

Update releases.json.
  vsphere/releases.json
Due: none

Bump other apps.
  vsphere/v30.1.0/release.yaml
Due: none

Use `cluster-vsphere` v1.0.0-5fa2e52498eaede78e5c3977cd6c339ba92ec1.
  vsphere/v30.1.0/release.yaml
Due: none

Use `cluster-vsphere` v1.0.0-be7bf400e85db8b9db216a3f6deac529f5a17d.
  vsphere/v30.1.0/README.md
  vsphere/v30.1.0/release.yaml
Due: none

Use `cluster-vsphere` v1.1.0.
  vsphere/v30.1.0/release.diff
  vsphere/v30.1.0/release.yaml
Due: none

CAPV: Release v30.1.0. (#1626)
  README.md
  vsphere/kustomization.yaml
  vsphere/releases.json
  vsphere/v30.1.0/README.md
  vsphere/v30.1.0/announcement.md
  vsphere/v30.1.0/kustomization.yaml
  vsphere/v30.1.0/release.diff
  vsphere/v30.1.0/release.yaml
Due: none

CAPVCD: Release v30.1.0.
  README.md
  cloud-director/kustomization.yaml
  cloud-director/releases.json
  cloud-director/v30.1.0/README.md
  cloud-director/v30.1.0/announcement.md
  cloud-director/v30.1.0/kustomization.yaml
  cloud-director/v30.1.0/release.diff
  cloud-director/v30.1.0/release.yaml
Due: none

CAPVCD: Release v30.1.0. (#1629)
  README.md
  cloud-director/kustomization.yaml
  cloud-director/releases.json
  cloud-director/v30.1.0/README.md
  cloud-director/v30.1.0/announcement.md
  cloud-director/v30.1.0/kustomization.yaml
  cloud-director/v30.1.0/release.diff
  cloud-director/v30.1.0/release.yaml
Due: none

CAPA: Release v27.5.3.
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v27.5.3/README.md
  capa/v27.5.3/announcement.md
  capa/v27.5.3/kustomization.yaml
  capa/v27.5.3/release.diff
  capa/v27.5.3/release.yaml
Due: none

CAPA: Release v28.5.4.
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v28.5.4/README.md
  capa/v28.5.4/announcement.md
  capa/v28.5.4/kustomization.yaml
  capa/v28.5.4/release.diff
  capa/v28.5.4/release.yaml
Due: none

CAPA: Release v29.6.3.
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v29.6.3/README.md
  capa/v29.6.3/announcement.md
  capa/v29.6.3/kustomization.yaml
  capa/v29.6.3/release.diff
  capa/v29.6.3/release.yaml
Due: none

CAPA: Release v30.1.0.
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v30.1.0/README.md
  capa/v30.1.0/announcement.md
  capa/v30.1.0/kustomization.yaml
  capa/v30.1.0/release.diff
  capa/v30.1.0/release.yaml
Due: none
