Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

Release 20.1.2 (#1294)
  README.md
  aws/kustomization.yaml
  aws/v20.1.2/README.md
  aws/v20.1.2/kustomization.yaml
  aws/v20.1.2/release.diff
  aws/v20.1.2/release.yaml
Due: push-aws

add release notes for CAPA v25 (#1292)
  capa/v25.0.0/README.md
  capa/v25.0.0/announcement.md
Due: none

Deprecate 20.1.1
  aws/v20.1.1/release.yaml
Due: push-aws

Create announcement.md
  aws/v20.1.2/announcement.md
Due: push-aws

Deprecate AWS release v20.1.1 (#1297)
  aws/v20.1.1/release.yaml
  aws/v20.1.2/announcement.md
Due: push-aws

Remove alpha releases
  capa/v25.0.0-alpha.1/kustomization.yaml
  capa/v25.0.0-alpha.1/release.yaml
Due: none

Delete capa/v25.0.0-alpha.2 directory
  capa/v25.0.0-alpha.2/kustomization.yaml
  capa/v25.0.0-alpha.2/release.yaml
Due: none

Delete capa/v25.0.0-alpha.3 directory
  capa/v25.0.0-alpha.3/kustomization.yaml
  capa/v25.0.0-alpha.3/release.yaml
Due: none

Remove alpha releases (#1298)
  capa/v25.0.0-alpha.1/kustomization.yaml
  capa/v25.0.0-alpha.1/release.yaml
  capa/v25.0.0-alpha.2/kustomization.yaml
  capa/v25.0.0-alpha.2/release.yaml
  capa/v25.0.0-alpha.3/kustomization.yaml
  capa/v25.0.0-alpha.3/release.yaml
Due: none

Added docs about running the E2E tests against PRs
  .github/pull_request_template.md
  README.md
Due: none

Added docs about running the E2E tests against PRs (#1299)
  .github/pull_request_template.md
  README.md
Due: none

Use existing PR template
  .github/pull_request_template.md
  pull_request_template.md
Due: none

Use existing PR template (#1300)
  .github/pull_request_template.md
  pull_request_template.md
Due: none

Update release.yaml
  azure/v25.0.0/release.yaml
Due: push-azure

CAPZ v25.0.0
  azure/kustomization.yaml
Due: push-azure

CAPZ v25.0.0
  releases_test.go
Due: none

CAPZ v25.0.0
  azure/v25.0.0/README.md
Due: push-azure

CAPZ v25.0.0
  azure/requests.yaml
  capa/requests.yaml
  releases_test.go
Due: push-azure

CAPZ v25.0.0
  README.md
  capa/archived/.gitkeep
Due: none

CAPZ v25.0.0
  capa/kustomization.yaml
Due: none

CAPZ v25.0.0
  .github/workflows/create-draft-release.yaml
Due: none

bump cilium
  azure/v25.0.0/release.yaml
Due: push-azure

Updated readme with details about the upgrade tests
  README.md
Due: none

Updated readme with details about the upgrade tests (#1301)
  README.md
Due: none

testing
  azure/v25.0.0/release.yaml
Due: push-azure

release 19.3.5
  aws/kustomization.yaml
  aws/v19.3.5/README.md
  aws/v19.3.5/kustomization.yaml
  aws/v19.3.5/release.diff
  aws/v19.3.5/release.yaml
Due: push-aws

changelog
  README.md
Due: none

new release
  README.md
  aws/kustomization.yaml
  aws/v20.1.3/README.md
  aws/v20.1.3/kustomization.yaml
  aws/v20.1.3/release.diff
  aws/v20.1.3/release.yaml
Due: push-aws

Adding patch release
  capa/kustomization.yaml
  capa/v25.1.0/README.md
  capa/v25.1.0/announcement.md
  capa/v25.1.0/kustomization.yaml
  capa/v25.1.0/release.yaml
Due: none

Remove nonexisting paths
  capa/kustomization.yaml
Due: none

Adding small changes
  azure/v25.0.0/release.yaml
Due: push-azure

Path conditions:
  push-aws: any of: aws/.*
  push-azure: any of: azure/.*
  push-kvm: any of: kvm/.*
