Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

update release notes for aws-operator
  aws/v16.0.0/README.md
Due: push-aws

update release notes for app-operator
  aws/v16.0.0/README.md
Due: push-aws

update release notes for cert-manager
  aws/v16.0.0/README.md
Due: push-aws

update release notes for chart-operator
  aws/v16.0.0/README.md
Due: push-aws

update release notes for cluster-autoscaler
  aws/v16.0.0/README.md
Due: push-aws

update release notes for external-dns
  aws/v16.0.0/README.md
Due: push-aws

update release notes for aws-ebs-csi-driver
  aws/v16.0.0/README.md
Due: push-aws

update release notes for containerlinux
  aws/v16.0.0/README.md
Due: push-aws

update release notes for kubernetes
  aws/v16.0.0/README.md
Due: push-aws

update release notes with release description
  aws/v16.0.0/README.md
Due: push-aws

add release announcement
  aws/v16.0.0/announcement.md
Due: push-aws

update release date
  aws/v16.0.0/release.yaml
Due: push-aws

diff release against v15.2.2
  aws/v16.0.0/release.diff
Due: push-aws

udpate release notes to mention no impact for existing clusters
  aws/v16.0.0/README.md
Due: push-aws

update release anouncement to mention v1.21 instead of v1.21
  aws/v16.0.0/announcement.md
Due: push-aws

aws-16-0-0 (#784)
  README.md
  aws/kustomization.yaml
  aws/v16.0.0/README.md
  aws/v16.0.0/announcement.md
  aws/v16.0.0/kustomization.yaml
  aws/v16.0.0/release.diff
  aws/v16.0.0/release.yaml
Due: push-aws

aws-release-20-update-cni
  aws/v20.0.0/release.yaml
Due: push-aws

Add dummy release for testing tests
  aws/kustomization.yaml
  aws/v17.1.2/README.md
  aws/v17.1.2/kustomization.yaml
  aws/v17.1.2/release.diff
  aws/v17.1.2/release.yaml
Due: push-aws

aws-release-20-update-cni (#828)
  aws/v20.0.0/release.yaml
Due: push-aws

Bump kvm-operator
  kvm/v15.1.0/release.yaml
Due: push-kvm

Azure Workload Cluster Release 16.0.1
  README.md
  azure/kustomization.yaml
  azure/v16.0.1/README.md
  azure/v16.0.1/announcement.md
  azure/v16.0.1/kustomization.yaml
  azure/v16.0.1/release.diff
  azure/v16.0.1/release.yaml
Due: push-azure

Update azure/v16.0.1/announcement.md
  azure/v16.0.1/announcement.md
Due: push-azure

Update azure/v16.0.1/README.md
  azure/v16.0.1/README.md
Due: push-azure

Bump kvm-operator to final release
  kvm/v15.1.0/README.md
  kvm/v15.1.0/release.diff
  kvm/v15.1.0/release.yaml
Due: push-kvm

Add release description.
  kvm/v15.1.0/README.md
  kvm/v15.1.0/announcement.md
Due: push-kvm

renamed capa-iam-controller to capa-iam-operator
  aws/v20.0.0/release.yaml
Due: push-aws

aws-20-0-0-update-kyverno-p
  aws/v20.0.0/release.yaml
Due: push-aws

renamed capa-iam-controller to capa-iam-operator (#831)
  aws/v20.0.0/release.yaml
Due: push-aws

Azure Workload Cluster Release 16.0.1 (#830)
  README.md
  azure/kustomization.yaml
  azure/v16.0.1/README.md
  azure/v16.0.1/announcement.md
  azure/v16.0.1/kustomization.yaml
  azure/v16.0.1/release.diff
  azure/v16.0.1/release.yaml
Due: push-azure

update readme
  kvm/v15.1.0/README.md
Due: push-kvm

Add kvm release v16.1.0
  kvm/kustomization.yaml
  kvm/v16.1.0/README.md
  kvm/v16.1.0/kustomization.yaml
  kvm/v16.1.0/release.diff
  kvm/v16.1.0/release.yaml
Due: push-kvm

aws-20-0-0-update-kyverno-p (#832)
  aws/v20.0.0/release.yaml
Due: push-aws

KVM release 15.1.0 (#823)
  README.md
  kvm/kustomization.yaml
  kvm/v15.1.0/README.md
  kvm/v15.1.0/announcement.md
  kvm/v15.1.0/kustomization.yaml
  kvm/v15.1.0/release.diff
  kvm/v15.1.0/release.yaml
Due: push-kvm

Fix typo
  README.md
Due: none

Azure Workload Cluster 15.1.2 Release
  README.md
  azure/kustomization.yaml
  azure/requests.yaml
  azure/v15.1.2/README.md
  azure/v15.1.2/announcement.md
  azure/v15.1.2/kustomization.yaml
  azure/v15.1.2/release.diff
  azure/v15.1.2/release.yaml
Due: push-azure

Archive 15.1.1
  README.md
  azure/archived/v15.1.1/README.md
  azure/archived/v15.1.1/announcement.md
  azure/archived/v15.1.1/kustomization.yaml
  azure/archived/v15.1.1/release.diff
  azure/archived/v15.1.1/release.yaml
  azure/kustomization.yaml
Due: push-azure

Update release.yaml
  vsphere/v0.1.0/release.yaml
Due: none

Azure Workload Cluster 15.1.2 Release (#834)
  README.md
  azure/archived/v15.1.1/README.md
  azure/archived/v15.1.1/announcement.md
  azure/archived/v15.1.1/kustomization.yaml
  azure/archived/v15.1.1/release.diff
  azure/archived/v15.1.1/release.yaml
  azure/kustomization.yaml
  azure/requests.yaml
  azure/v15.1.2/README.md
  azure/v15.1.2/announcement.md
  azure/v15.1.2/kustomization.yaml
  azure/v15.1.2/release.diff
  azure/v15.1.2/release.yaml
Due: push-azure

Path conditions:
  push-aws: any of: aws/.*
  push-azure: any of: azure/.*
  push-kvm: any of: kvm/.*
