Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

Add azure release 15.1.3 (#856)
  README.md
  azure/kustomization.yaml
  azure/requests.yaml
  azure/v15.1.3/README.md
  azure/v15.1.3/announcement.md
  azure/v15.1.3/kustomization.yaml
  azure/v15.1.3/release.diff
  azure/v15.1.3/release.yaml
  azure/v16.0.2/README.md
Due: push-azure

Update README.md
  README.md
Due: none

Add OpenStack v20.0.0-alpha1 release (#854)
  .circleci/config.yml
  .circleci/provider_config.yml
  README.md
  helm/releases-openstack/Chart.yaml
  helm/releases-openstack/values.yaml
  openstack/archived/.gitkeep
  openstack/kustomization.yaml
  openstack/releaseNotesTransformer.yaml
  openstack/requests.yaml
  openstack/v20.0.0-alpha1/README.md
  openstack/v20.0.0-alpha1/kustomization.yaml
  openstack/v20.0.0-alpha1/release.yaml
  releases_test.go
Due: none

Add azure release 16.0.3
  README.md
  azure/kustomization.yaml
  azure/v16.0.3/README.md
  azure/v16.0.3/kustomization.yaml
  azure/v16.0.3/release.diff
  azure/v16.0.3/release.yaml
Due: push-azure

Rename release v20.0.0 to v20.0.0-alpha1 (#852)
  README.md
  aws/kustomization.yaml
  aws/v20.0.0-alpha1/README.md
  aws/v20.0.0-alpha1/announcement.md
  aws/v20.0.0-alpha1/kustomization.yaml
  aws/v20.0.0-alpha1/release.diff
  aws/v20.0.0-alpha1/release.yaml
  aws/v20.0.0/README.md
Due: push-aws

update openstack
  openstack/kustomization.yaml
Due: none

Update docs URL for all providers (#853)
  aws/kustomization.yaml
  azure/kustomization.yaml
  kvm/kustomization.yaml
  openstack/kustomization.yaml
  vsphere/kustomization.yaml
Due: push-aws, push-azure, push-kvm

AWS 16.1.0
  README.md
  aws/kustomization.yaml
  aws/v16.1.0/README.md
  aws/v16.1.0/kustomization.yaml
  aws/v16.1.0/release.diff
  aws/v16.1.0/release.yaml
Due: push-aws

AWS 16.1.0
  aws/v16.1.0/release.diff
  aws/v16.1.0/release.yaml
Due: push-aws

test
  aws/v16.1.0/release.yaml
Due: push-aws

update aws-cni
  aws/v16.1.0/release.diff
  aws/v16.1.0/release.yaml
Due: push-aws

Archived unused aws release 14.2.1
  README.md
  aws/archived/v14.2.1/README.md
  aws/archived/v14.2.1/announcement.md
  aws/archived/v14.2.1/kustomization.yaml
  aws/archived/v14.2.1/release.diff
  aws/archived/v14.2.1/release.yaml
  aws/kustomization.yaml
Due: push-aws

Archived unused aws release 14.2.1 (#860)
  README.md
  aws/archived/v14.2.1/README.md
  aws/archived/v14.2.1/announcement.md
  aws/archived/v14.2.1/kustomization.yaml
  aws/archived/v14.2.1/release.diff
  aws/archived/v14.2.1/release.yaml
  aws/kustomization.yaml
Due: push-aws

update
  aws/v16.1.0/README.md
  aws/v16.1.0/release.diff
  aws/v16.1.0/release.yaml
Due: push-aws

update
  aws/v16.1.0/README.md
Due: push-aws

typo
  aws/v16.1.0/release.yaml
Due: push-aws

AWS 16.1.0
  aws/v16.1.0/README.md
  aws/v16.1.0/release.diff
  aws/v16.1.0/release.yaml
Due: push-aws

update capi/capa components
  aws/v20.0.0-alpha1/release.yaml
Due: push-aws

update capi/capa components (#861)
  aws/v20.0.0-alpha1/release.yaml
Due: push-aws

update flatcar image
  aws/v16.1.0/README.md
  aws/v16.1.0/release.diff
  aws/v16.1.0/release.yaml
Due: push-aws

Patch capi components
  aws/v20.0.0-alpha1/release.yaml
Due: push-aws

Patch capi components (#862)
  aws/v20.0.0-alpha1/release.yaml
Due: push-aws

fix-webhook-port
  aws/v20.0.0-alpha1/release.yaml
Due: push-aws

Update kyverno policies
  azure/v20.0.0-alpha1/release.yaml
Due: push-azure

Upgrade kyverno policies
  aws/v20.0.0-alpha1/release.yaml
Due: push-aws

Upgrade kyverno policies (#863)
  aws/v20.0.0-alpha1/release.yaml
Due: push-aws

Remove helm keep annotation
  azure/v20.0.0-alpha1/release.yaml
Due: push-azure

update aws-cni release notes
  aws/v16.1.0/README.md
  aws/v16.1.0/release.diff
Due: push-aws

update aws-ebs-csi-driver release notes
  aws/v16.1.0/README.md
Due: push-aws

update containerlinux release notes
  aws/v16.1.0/README.md
Due: push-aws

Request cert-operator v1.1.0 for Azure
  azure/requests.yaml
Due: push-azure

update kubernetes release notes
  aws/v16.1.0/README.md
Due: push-aws

Request cert-operator v1.1.0 for Azure (#864)
  azure/requests.yaml
Due: push-azure

Request cert-operator v1.1.0 for KVM
  kvm/requests.yaml
Due: push-kvm

Request cert-operator v1.1.0 for KVM (#865)
  kvm/requests.yaml
Due: push-kvm

Request newer kube-state-metrics for next aws and azure releases
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Request newer kube-state-metrics for next aws and azure releases
  aws/requests.yaml
Due: push-aws

Request newer kube-state-metrics for next aws and azure releases (#866)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

update release notes description and release announcement
  aws/v16.1.0/README.md
  aws/v16.1.0/announcement.md
Due: push-aws

bump aws-operator
  aws/v16.1.0/README.md
  aws/v16.1.0/release.diff
  aws/v16.1.0/release.yaml
Due: push-aws

Path conditions:
  push-aws: any of: aws/.*
  push-azure: any of: azure/.*
  push-kvm: any of: kvm/.*
