Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

AWS v18.4.0
  aws/v18.4.0/README.md
  aws/v18.4.0/release.diff
  aws/v18.4.0/release.yaml
Due: push-aws

AWS v18.4.0
  aws/v18.4.0/release.diff
  aws/v18.4.0/release.yaml
Due: push-aws

add depends on for 19.0.0 beta1
  aws/v19.0.0-beta1/release.diff
  aws/v19.0.0-beta1/release.yaml
Due: push-aws

drop kube-state-metrics
  aws/requests.yaml
Due: push-aws

add depends on for 19.0.0 beta1 (#1106)
  aws/v19.0.0-beta1/release.diff
  aws/v19.0.0-beta1/release.yaml
Due: push-aws

AWS v18.4.0
  aws/v18.4.0/README.md
  aws/v18.4.0/announcement.md
Due: push-aws

Update Beta
  aws/v19.0.0-beta1/README.md
  aws/v19.0.0-beta1/release.diff
  aws/v19.0.0-beta1/release.yaml
Due: push-aws

Update Beta (#1107)
  aws/v19.0.0-beta1/README.md
  aws/v19.0.0-beta1/release.diff
  aws/v19.0.0-beta1/release.yaml
Due: push-aws

Bump observability-bundle to 0.4.1
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Bump observability-bundle to 0.4.2
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

update observability-bundle
  aws/v18.4.0/README.md
  aws/v18.4.0/release.diff
  aws/v18.4.0/release.yaml
Due: push-aws

Update README.md
  aws/v18.4.0/README.md
Due: push-aws

Update announcement.md
  aws/v18.4.0/announcement.md
Due: push-aws

Bump observability-bundle to 0.4.2 (#1108)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

update aws-operator
  aws/v18.4.0/README.md
  aws/v18.4.0/release.diff
  aws/v18.4.0/release.yaml
Due: push-aws

update aws-operator
  aws/v19.0.0-beta1/README.md
  aws/v19.0.0-beta1/release.diff
  aws/v19.0.0-beta1/release.yaml
Due: push-aws

update aws-operator (#1109)
  aws/v19.0.0-beta1/README.md
  aws/v19.0.0-beta1/release.diff
  aws/v19.0.0-beta1/release.yaml
Due: push-aws

Bump observability-bundle to 0.4.3
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

AWS v18.4.0 (#1105)
  README.md
  aws/kustomization.yaml
  aws/requests.yaml
  aws/v18.4.0/README.md
  aws/v18.4.0/announcement.md
  aws/v18.4.0/kustomization.yaml
  aws/v18.4.0/release.diff
  aws/v18.4.0/release.yaml
Due: push-aws

AWS v18.2.2
  README.md
  aws/kustomization.yaml
  aws/v18.2.2/README.md
  aws/v18.2.2/kustomization.yaml
  aws/v18.2.2/release.diff
  aws/v18.2.2/release.yaml
Due: push-aws

AWS v18.2.2
  aws/v18.2.2/README.md
  aws/v18.2.2/release.diff
  aws/v18.2.2/release.yaml
Due: push-aws

AWS v18.2.2
  aws/requests.yaml
Due: push-aws

Bump observability-bundle to 0.4.3 (#1110)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

AWS v18.3.1
  README.md
  aws/kustomization.yaml
  aws/v18.3.1/README.md
  aws/v18.3.1/kustomization.yaml
  aws/v18.3.1/release.diff
  aws/v18.3.1/release.yaml
Due: push-aws

AWS v18.2.2
  aws/v18.2.2/README.md
  aws/v18.2.2/announcement.md
Due: push-aws

AWS v18.3.1
  aws/v18.3.1/README.md
  aws/v18.3.1/announcement.md
Due: push-aws

AWS v18.3.1
  aws/v18.3.0/release.yaml
Due: push-aws

AWS v18.2.2
  aws/v18.2.1/release.yaml
Due: push-aws

AWS v18.3.1 (#1112)
  README.md
  aws/kustomization.yaml
  aws/v18.3.1/README.md
  aws/v18.3.1/announcement.md
  aws/v18.3.1/kustomization.yaml
  aws/v18.3.1/release.diff
  aws/v18.3.1/release.yaml
Due: push-aws

AWS v18.2.2 (#1111)
  README.md
  aws/kustomization.yaml
  aws/requests.yaml
  aws/v18.2.2/README.md
  aws/v18.2.2/announcement.md
  aws/v18.2.2/kustomization.yaml
  aws/v18.2.2/release.diff
  aws/v18.2.2/release.yaml
Due: push-aws

delete azure v20 release
  README.md
  azure/kustomization.yaml
  azure/v20.0.0-alpha1/README.md
  azure/v20.0.0-alpha1/announcement.md
  azure/v20.0.0-alpha1/kustomization.yaml
  azure/v20.0.0-alpha1/release.diff
  azure/v20.0.0-alpha1/release.yaml
Due: push-azure

delete azure v20 release (#1113)
  README.md
  azure/kustomization.yaml
  azure/v20.0.0-alpha1/README.md
  azure/v20.0.0-alpha1/announcement.md
  azure/v20.0.0-alpha1/kustomization.yaml
  azure/v20.0.0-alpha1/release.diff
  azure/v20.0.0-alpha1/release.yaml
Due: push-azure

Path conditions:
  push-aws: any of: aws/.*
  push-azure: any of: azure/.*
  push-kvm: any of: kvm/.*
