Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.3

jobs:
  validate:
    docker:
      - image: quay.io/giantswarm/architect
    steps:
      - checkout
      - run:
          name: Validate releases
          command: CGO_ENABLED=0 go test ./...

workflows:
  workflow:
    jobs:
      - validate
      - path-filtering/filter:
          name: filter
          mapping: |
            aws/.* push-aws true
            azure/.* push-azure true
            kvm/.* push-kvm true
          base-revision: master
          config-path: .circleci/provider_config.yml
          requires:
            - validate

Bump CAPA version
  aws/v20.0.0-alpha1/release.yaml
Due: push-aws

Deactivate 16.1.0 due to bug
  azure/v16.1.0/release.yaml
Due: push-azure

Update release.yaml
  azure/v16.1.0/release.yaml
Due: push-azure

Remove CAPI and CAPA apps from the release
  aws/v20.0.0-alpha1/release.yaml
Due: push-aws

Override cluster operator for old azure releases
  azure/v15.1.2/release.yaml
  azure/v15.1.3/release.yaml
  azure/v16.0.1/release.yaml
  azure/v16.0.2/release.yaml
Due: push-azure

Override cluster operator for old azure releases (#881)
  azure/v15.1.2/release.yaml
  azure/v15.1.3/release.yaml
  azure/v16.0.1/release.yaml
  azure/v16.0.2/release.yaml
Due: push-azure

WIP
  README.md
  azure/kustomization.yaml
  azure/v16.1.1/README.md
  azure/v16.1.1/kustomization.yaml
  azure/v16.1.1/release.diff
  azure/v16.1.1/release.yaml
Due: push-azure

Add azure release 16.1.1
  azure/v16.1.0/release.yaml
  azure/v16.1.1/README.md
  azure/v16.1.1/announcement.md
  azure/v16.1.1/release.diff
  azure/v16.1.1/release.yaml
Due: push-azure

Add azure release 16.1.1
  README.md
Due: none

Add azure 16.1.1 (#882)
  README.md
  azure/kustomization.yaml
  azure/v16.1.1/README.md
  azure/v16.1.1/announcement.md
  azure/v16.1.1/kustomization.yaml
  azure/v16.1.1/release.diff
  azure/v16.1.1/release.yaml
Due: push-azure

Bump policies version
  aws/v20.0.0-alpha1/release.yaml
Due: push-aws

archived azure release 16.1.0
  README.md
  azure/archived/v16.1.0/README.md
  azure/archived/v16.1.0/announcement.md
  azure/archived/v16.1.0/kustomization.yaml
  azure/archived/v16.1.0/release.diff
  azure/archived/v16.1.0/release.yaml
  azure/kustomization.yaml
Due: push-azure

archived azure release 16.1.0 (#883)
  README.md
  azure/archived/v16.1.0/README.md
  azure/archived/v16.1.0/announcement.md
  azure/archived/v16.1.0/kustomization.yaml
  azure/archived/v16.1.0/release.diff
  azure/archived/v16.1.0/release.yaml
  azure/kustomization.yaml
Due: push-azure

Add aws release 16.2.0
  README.md
  aws/kustomization.yaml
  aws/v16.2.0/README.md
  aws/v16.2.0/kustomization.yaml
  aws/v16.2.0/release.diff
  aws/v16.2.0/release.yaml
Due: push-aws

Add aws release 16.2.0
  aws/v16.2.0/README.md
  aws/v16.2.0/release.diff
  aws/v16.2.0/release.yaml
Due: push-aws

Add aws release 16.2.0
  aws/v16.2.0/README.md
  aws/v16.2.0/announcement.md
Due: push-aws

request to update ebs csi driver to 2.8.0
  aws/requests.yaml
Due: push-aws

aws release 16.2.0
  aws/v16.2.0/README.md
  aws/v16.2.0/release.diff
  aws/v16.2.0/release.yaml
Due: push-aws

Update aws/v16.2.0/release.yaml
  aws/v16.2.0/release.yaml
Due: push-aws

Update release.diff
  aws/v16.2.0/release.diff
Due: push-aws

Apply suggestions from code review
  aws/v16.2.0/README.md
  aws/v16.2.0/announcement.md
Due: push-aws

Add aws release 16.2.0 (#876)
  README.md
  aws/kustomization.yaml
  aws/v16.2.0/README.md
  aws/v16.2.0/announcement.md
  aws/v16.2.0/kustomization.yaml
  aws/v16.2.0/release.diff
  aws/v16.2.0/release.yaml
Due: push-aws

Request cert-exporter 2.0.1
  aws/requests.yaml
  azure/requests.yaml
  kvm/requests.yaml
Due: push-aws, push-azure, push-kvm

Request cert-exporter 2.0.1 (#885)
  aws/requests.yaml
  azure/requests.yaml
  kvm/requests.yaml
Due: push-aws, push-azure, push-kvm

Request cert-manager 2.12.0 in upcoming AWS releases
  aws/requests.yaml
Due: push-aws

Request external-dns in upcoming Azure and AWS releases
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Request external-dns in upcoming Azure and AWS releases (#887)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Request cert-manager 2.12.0 in upcoming AWS releases (#886)
  aws/requests.yaml
Due: push-aws

bump cert operator to 0.1.0-3 for ancient aws releases
  aws/v13.1.0/release.yaml
  aws/v13.2.0/release.yaml
  aws/v14.1.1/release.yaml
Due: push-aws

bump cert operator to 0.1.0-3 for ancient aws releases (#888)
  aws/v13.1.0/release.yaml
  aws/v13.2.0/release.yaml
  aws/v14.1.1/release.yaml
Due: push-aws

add warning about cgroups and jdk versions
  aws/v16.2.0/README.md
  azure/v16.1.1/README.md
Due: push-aws, push-azure

mention JDK 16
  aws/v16.2.0/README.md
  azure/v16.1.1/README.md
Due: push-aws, push-azure

add warning about cgroups and jdk versions (#889)
  aws/v16.2.0/README.md
  azure/v16.1.1/README.md
Due: push-aws, push-azure

deprecate AWS v16.2.0 and Azure v16.1.1
  aws/v16.2.0/release.yaml
  azure/v16.1.1/release.yaml
Due: push-aws, push-azure

deprecate AWS v16.2.0 and Azure v16.1.1 (#890)
  aws/v16.2.0/release.yaml
  azure/v16.1.1/release.yaml
Due: push-aws, push-azure

Add azure release 16.1.2
  azure/kustomization.yaml
  azure/v16.1.2/README.md
  azure/v16.1.2/announcement.md
  azure/v16.1.2/kustomization.yaml
  azure/v16.1.2/release.diff
  azure/v16.1.2/release.yaml
Due: push-azure

Add azure release 16.1.2
  azure/v16.1.2/README.md
  azure/v16.1.2/release.diff
  azure/v16.1.2/release.yaml
Due: push-azure

Add azure release 16.1.2
  README.md
Due: none

Changed to preview state and added notice
  azure/v20.0.0-alpha1/release.yaml
Due: push-azure
