Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

Azure: Request `kube-state-metrics` >= 1.13.0.
  azure/requests.yaml
Due: push-azure

Request `kube-state-metrics` >= 1.13.0. (#1038)
  aws/requests.yaml
  azure/requests.yaml
  kvm/requests.yaml
Due: push-aws, push-azure, push-kvm

AWS: Request `cluster-operator` >= 4.6.1
  aws/requests.yaml
Due: push-aws

Azure: Request `cluster-operator` >= 4.6.1.
  azure/requests.yaml
Due: push-azure

Request `cluster-operator` >= 4.6.1 (#1039)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

add azure release v18.0.1
  README.md
  azure/kustomization.yaml
  azure/requests.yaml
  azure/v18.0.1/README.md
  azure/v18.0.1/announcement.md
  azure/v18.0.1/kustomization.yaml
  azure/v18.0.1/release.diff
  azure/v18.0.1/release.yaml
Due: push-azure

add azure release v18.0.1
  azure/v18.0.1/announcement.md
Due: push-azure

Update azure/v18.0.1/README.md
  azure/v18.0.1/README.md
Due: push-azure

add azure release v18.0.1 (#1040)
  README.md
  azure/kustomization.yaml
  azure/requests.yaml
  azure/v18.0.1/README.md
  azure/v18.0.1/announcement.md
  azure/v18.0.1/kustomization.yaml
  azure/v18.0.1/release.diff
  azure/v18.0.1/release.yaml
Due: push-azure

archive azure release 18.0.0
  README.md
  azure/archived/v18.0.0/README.md
  azure/archived/v18.0.0/announcement.md
  azure/archived/v18.0.0/kustomization.yaml
  azure/archived/v18.0.0/release.diff
  azure/archived/v18.0.0/release.yaml
  azure/kustomization.yaml
Due: push-azure

archive azure release 18.0.0 (#1041)
  README.md
  azure/archived/v18.0.0/README.md
  azure/archived/v18.0.0/announcement.md
  azure/archived/v18.0.0/kustomization.yaml
  azure/archived/v18.0.0/release.diff
  azure/archived/v18.0.0/release.yaml
  azure/kustomization.yaml
Due: push-azure

Align files
  .github/workflows/zz_generated.add-to-project-board.yaml
Due: none

Align files (#1042)
  .github/workflows/zz_generated.add-to-project-board.yaml
Due: none

archive azure v16 releases
  README.md
  azure/archived/v16.0.2/README.md
  azure/archived/v16.0.2/announcement.md
  azure/archived/v16.0.2/kustomization.yaml
  azure/archived/v16.0.2/release.diff
  azure/archived/v16.0.2/release.yaml
  azure/archived/v16.1.3/README.md
  azure/archived/v16.1.3/announcement.md
  azure/archived/v16.1.3/kustomization.yaml
  azure/archived/v16.1.3/release.diff
  azure/archived/v16.1.3/release.yaml
  azure/kustomization.yaml
Due: push-azure

archive azure v16 releases (#1043)
  README.md
  azure/archived/v16.0.2/README.md
  azure/archived/v16.0.2/announcement.md
  azure/archived/v16.0.2/kustomization.yaml
  azure/archived/v16.0.2/release.diff
  azure/archived/v16.0.2/release.yaml
  azure/archived/v16.1.3/README.md
  azure/archived/v16.1.3/announcement.md
  azure/archived/v16.1.3/kustomization.yaml
  azure/archived/v16.1.3/release.diff
  azure/archived/v16.1.3/release.yaml
  azure/kustomization.yaml
Due: push-azure

ask latest cluster operator and app operator for v19 + cleanup
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

ask latest cluster operator and app operator for v19 + cleanup (#1045)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

bump VPA on existing releases
  aws/v17.4.1/README.md
  aws/v17.4.1/release.diff
  aws/v17.4.1/release.yaml
  aws/v17.4.3/release.diff
  aws/v17.4.3/release.yaml
  azure/v17.1.0/README.md
  azure/v17.1.0/release.diff
  azure/v17.1.0/release.yaml
  azure/v17.2.0/release.diff
  azure/v17.2.0/release.yaml
Due: push-aws, push-azure

bump VPA on existing releases (#1046)
  aws/v17.4.1/README.md
  aws/v17.4.1/release.diff
  aws/v17.4.1/release.yaml
  aws/v17.4.3/release.diff
  aws/v17.4.3/release.yaml
  azure/v17.1.0/README.md
  azure/v17.1.0/release.diff
  azure/v17.1.0/release.yaml
  azure/v17.2.0/release.diff
  azure/v17.2.0/release.yaml
Due: push-aws, push-azure

archive azure release 17.0.0
  README.md
  azure/v17.0.0/README.md
  azure/v17.0.0/announcement.md
  azure/v17.0.0/kustomization.yaml
  azure/v17.0.0/release.diff
  azure/v17.0.0/release.yaml
Due: push-azure

archive azure release 17.0.0
  azure/archived/v17.0.0/README.md
  azure/archived/v17.0.0/announcement.md
  azure/archived/v17.0.0/kustomization.yaml
  azure/archived/v17.0.0/release.diff
  azure/archived/v17.0.0/release.yaml
  azure/kustomization.yaml
Due: push-azure

archive azure release 17.0.0 (#1047)
  README.md
  azure/archived/v17.0.0/README.md
  azure/archived/v17.0.0/announcement.md
  azure/archived/v17.0.0/kustomization.yaml
  azure/archived/v17.0.0/release.diff
  azure/archived/v17.0.0/release.yaml
  azure/kustomization.yaml
Due: push-azure

Update requests.yaml
  aws/requests.yaml
Due: push-aws

Align files
  .github/workflows/zz_generated.add-team-labels.yaml
  .github/workflows/zz_generated.add-to-project-board.yaml
  CODEOWNERS
Due: none

Align files (#1048)
  .github/workflows/zz_generated.add-team-labels.yaml
  .github/workflows/zz_generated.add-to-project-board.yaml
  CODEOWNERS
Due: none

add azure release 18.0.2
  README.md
  azure/kustomization.yaml
  azure/v18.0.2/README.md
  azure/v18.0.2/kustomization.yaml
  azure/v18.0.2/release.diff
  azure/v18.0.2/release.yaml
Due: push-azure

add azure release 18.0.2
  azure/requests.yaml
Due: push-azure

AWS: Request cert-manager >= 2.17.1 for >= 19.0.0.
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Update README.md
  azure/v18.0.2/README.md
Due: push-azure

Azure: Request `azure-operator` v6.0.3.
  azure/requests.yaml
Due: push-azure

add aws release 18.0.3
  README.md
  aws/kustomization.yaml
  aws/v18.0.3/README.md
  aws/v18.0.3/announcement.md
  aws/v18.0.3/kustomization.yaml
  aws/v18.0.3/release.diff
  aws/v18.0.3/release.yaml
Due: push-aws

add aws release 18.0.3
  aws/requests.yaml
  aws/v18.0.3/README.md
  aws/v18.0.3/release.yaml
Due: push-aws

archive aws release 17.3.2
  README.md
  aws/archived/v17.3.2/README.md
  aws/archived/v17.3.2/announcement.md
  aws/archived/v17.3.2/kustomization.yaml
  aws/archived/v17.3.2/release.diff
  aws/archived/v17.3.2/release.yaml
  aws/kustomization.yaml
Due: push-aws

add aws release 18.0.3
  aws/v18.0.3/release.diff
Due: push-aws

archive aws release 17.3.2 (#1052)
  README.md
  aws/archived/v17.3.2/README.md
  aws/archived/v17.3.2/announcement.md
  aws/archived/v17.3.2/kustomization.yaml
  aws/archived/v17.3.2/release.diff
  aws/archived/v17.3.2/release.yaml
  aws/kustomization.yaml
Due: push-aws

add aws release 18.0.3
  aws/v18.0.3/README.md
  aws/v18.0.3/release.diff
  aws/v18.0.3/release.yaml
Due: push-aws

add aws release 18.0.3
  aws/v18.0.3/release.diff
  aws/v18.0.3/release.yaml
Due: push-aws

Update aws/v18.0.3/README.md
  aws/v18.0.3/README.md
Due: push-aws

add aws release 18.0.3 (#1051)
  README.md
  aws/kustomization.yaml
  aws/requests.yaml
  aws/v18.0.3/README.md
  aws/v18.0.3/announcement.md
  aws/v18.0.3/kustomization.yaml
  aws/v18.0.3/release.diff
  aws/v18.0.3/release.yaml
Due: push-aws

Path conditions:
  push-aws: any of: aws/.*
  push-azure: any of: azure/.*
  push-kvm: any of: kvm/.*
