Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

Azure Workload Cluster release 15.0.1
  README.md
  azure/kustomization.yaml
  azure/requests.yaml
  azure/v15.0.1/README.md
  azure/v15.0.1/announcement.md
  azure/v15.0.1/kustomization.yaml
  azure/v15.0.1/release.diff
  azure/v15.0.1/release.yaml
Due: push-azure

Azure Workload Cluster release 15.0.1 (#835)
  README.md
  azure/kustomization.yaml
  azure/requests.yaml
  azure/v15.0.1/README.md
  azure/v15.0.1/announcement.md
  azure/v15.0.1/kustomization.yaml
  azure/v15.0.1/release.diff
  azure/v15.0.1/release.yaml
Due: push-azure

Move 0.1.0 to v20.0.0 for cross provider consistency
  vsphere/kustomization.yaml
  vsphere/v0.1.0/README.md
  vsphere/v0.1.0/announcement.md
  vsphere/v20.0.0/README.md
  vsphere/v20.0.0/announcement.md
  vsphere/v20.0.0/kustomization.yaml
  vsphere/v20.0.0/release.yaml
Due: none

Fix README
  README.md
Due: none

Move 0.1.0 to v20.0.0 for cross provider consistency (#836)
  README.md
  vsphere/kustomization.yaml
  vsphere/v0.1.0/README.md
  vsphere/v0.1.0/announcement.md
  vsphere/v20.0.0/README.md
  vsphere/v20.0.0/announcement.md
  vsphere/v20.0.0/kustomization.yaml
  vsphere/v20.0.0/release.yaml
Due: none

update capa components
  aws/v20.0.0/release.yaml
Due: push-aws

update capa components (#837)
  aws/v20.0.0/release.yaml
Due: push-aws

update capa components (#838)
  aws/v20.0.0/release.yaml
Due: push-aws

aws-20-0-0-update-capa
  aws/v20.0.0/release.yaml
Due: push-aws

Add release
  README.md
  azure/kustomization.yaml
  azure/v16.1.0-adrian/README.md
  azure/v16.1.0-adrian/kustomization.yaml
  azure/v16.1.0-adrian/release.diff
  azure/v16.1.0-adrian/release.yaml
Due: push-azure

aws-20-0-0-update-capa (#840)
  aws/v20.0.0/release.yaml
Due: push-aws

Update docs and deprecate kvm v16.0.0
  kvm/v16.0.0/release.yaml
  kvm/v16.1.0/README.md
  kvm/v16.1.0/release.diff
  kvm/v16.1.0/release.yaml
Due: push-kvm

use ebs-csi-driver >= 2.7.0
  aws/requests.yaml
Due: push-aws

use ebs-csi-driver >= 2.7.0 (#841)
  aws/requests.yaml
Due: push-aws

Bump kvm-operator
  kvm/v16.1.0/README.md
  kvm/v16.1.0/release.diff
  kvm/v16.1.0/release.yaml
Due: push-kvm

Update release notes
  kvm/v16.1.0/README.md
Due: push-kvm

Add changelog for kvm-operator
  kvm/v16.1.0/README.md
Due: push-kvm

Adding requests for cert-operator in azure and aws
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

update capi components
  aws/v20.0.0/release.yaml
Due: push-aws

update capi components (#843)
  aws/v20.0.0/release.yaml
Due: push-aws

Adding requests for cert-operator in azure and aws (#842)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Add kvm release v16.1.0 (#833)
  README.md
  kvm/kustomization.yaml
  kvm/v16.1.0/README.md
  kvm/v16.1.0/kustomization.yaml
  kvm/v16.1.0/release.diff
  kvm/v16.1.0/release.yaml
Due: push-kvm

AWS v16.0.1
  README.md
  aws/kustomization.yaml
  aws/v16.0.1/README.md
  aws/v16.0.1/announcement.md
  aws/v16.0.1/kustomization.yaml
  aws/v16.0.1/release.diff
  aws/v16.0.1/release.yaml
Due: push-aws

AWS v16.0.1
  aws/requests.yaml
Due: push-aws

Update requests.yaml
  aws/requests.yaml
Due: push-aws

test fix for pod routing rules deleted
  aws/v16.0.1/release.yaml
Due: push-aws

undo aws-operator update
  aws/v16.0.1/release.yaml
Due: push-aws

Archive Azure 14.1.7
  README.md
  azure/archived/v14.1.7/README.md
  azure/archived/v14.1.7/announcement.md
  azure/archived/v14.1.7/kustomization.yaml
  azure/archived/v14.1.7/release.diff
  azure/archived/v14.1.7/release.yaml
  azure/kustomization.yaml
Due: push-azure

Archive Azure 14.1.7 (#845)
  README.md
  azure/archived/v14.1.7/README.md
  azure/archived/v14.1.7/announcement.md
  azure/archived/v14.1.7/kustomization.yaml
  azure/archived/v14.1.7/release.diff
  azure/archived/v14.1.7/release.yaml
  azure/kustomization.yaml
Due: push-azure

Request cert-exporter 2.0.0 in upcoming platform releases
  aws/requests.yaml
  azure/requests.yaml
  kvm/requests.yaml
Due: push-aws, push-azure, push-kvm

Request cert-exporter 2.0.0 in upcoming platform releases (#846)
  aws/requests.yaml
  azure/requests.yaml
  kvm/requests.yaml
Due: push-aws, push-azure, push-kvm

Align files
  CODEOWNERS
Due: none

Align files (#847)
  CODEOWNERS
Due: none

AWS v16.0.1 (#844)
  README.md
  aws/kustomization.yaml
  aws/requests.yaml
  aws/v16.0.1/README.md
  aws/v16.0.1/announcement.md
  aws/v16.0.1/kustomization.yaml
  aws/v16.0.1/release.diff
  aws/v16.0.1/release.yaml
Due: push-aws

Fix webhook admission review versions
  aws/v20.0.0/release.yaml
Due: push-aws

Fix webhook admission review versions (#848)
  aws/v20.0.0/release.yaml
Due: push-aws

deprecate v16.0.0 release
  aws/v16.0.0/release.yaml
Due: push-aws

deprecate v16.0.0 release (#849)
  aws/v16.0.0/release.yaml
Due: push-aws

Path conditions:
  push-aws: any of: aws/.*
  push-azure: any of: azure/.*
  push-kvm: any of: kvm/.*
