Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.3

jobs:
  validate:
    docker:
      - image: quay.io/giantswarm/architect
    steps:
      - checkout
      - run:
          name: Validate releases
          command: CGO_ENABLED=0 go test ./...

workflows:
  workflow:
    jobs:
      - validate
      - path-filtering/filter:
          name: filter
          mapping: |
            aws/.* push-aws true
            azure/.* push-azure true
            kvm/.* push-kvm true
          base-revision: master
          config-path: .circleci/provider_config.yml
          requires:
            - validate

Update README.md
  aws/v18.2.0/README.md
Due: push-aws

Update aws/v18.2.0/README.md
  aws/v18.2.0/README.md
Due: push-aws

Update announcement.md
  aws/v18.2.0/announcement.md
Due: push-aws

AWS v18.2.0 (#1071)
  README.md
  aws/kustomization.yaml
  aws/v18.2.0/README.md
  aws/v18.2.0/announcement.md
  aws/v18.2.0/kustomization.yaml
  aws/v18.2.0/release.diff
  aws/v18.2.0/release.yaml
Due: push-aws

Update README.md (#1080)
  aws/v18.2.0/README.md
Due: push-aws

patch v18.1.0
  aws/v18.1.0/release.yaml
Due: push-aws

patch v18.1.0 (#1081)
  aws/v18.1.0/release.yaml
Due: push-aws

Request `coredns-app` >= 1.14.0
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Request `coredns-app` >= 1.14.0 (#1082)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

All: Request `coredns-app` >= 1.14.1.
  aws/requests.yaml
  azure/requests.yaml
  kvm/requests.yaml
Due: push-aws, push-azure, push-kvm

All: Request `coredns-app` >= 1.14.1. (#1083)
  aws/requests.yaml
  azure/requests.yaml
  kvm/requests.yaml
Due: push-aws, push-azure, push-kvm

All: Request `coredns-app` >= 1.14.2.
  aws/requests.yaml
  azure/requests.yaml
  kvm/requests.yaml
Due: push-aws, push-azure, push-kvm

All: Request `coredns-app` >= 1.14.2. (#1084)
  aws/requests.yaml
  azure/requests.yaml
  kvm/requests.yaml
Due: push-aws, push-azure, push-kvm

Update observability bundle requirement
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Update observability bundle requirement (#1085)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

AWS v18.2.1
  aws/kustomization.yaml
  aws/v18.2.1/README.md
  aws/v18.2.1/kustomization.yaml
  aws/v18.2.1/release.diff
  aws/v18.2.1/release.yaml
Due: push-aws

AWS v18.2.1
  README.md
  aws/v18.2.0/release.yaml
Due: push-aws

AWS v18.2.1
  aws/requests.yaml
Due: push-aws

AWS v18.2.1
  aws/v18.2.1/announcement.md
Due: push-aws

Update README.md
  aws/v18.2.1/README.md
Due: push-aws

AWS v18.2.1 (#1087)
  README.md
  aws/kustomization.yaml
  aws/requests.yaml
  aws/v18.2.1/README.md
  aws/v18.2.1/announcement.md
  aws/v18.2.1/kustomization.yaml
  aws/v18.2.1/release.diff
  aws/v18.2.1/release.yaml
Due: push-aws

archive aws release 17.0.1
  README.md
  aws/archived/v17.0.1/README.md
  aws/archived/v17.0.1/announcement.md
  aws/archived/v17.0.1/kustomization.yaml
  aws/archived/v17.0.1/release.diff
  aws/archived/v17.0.1/release.yaml
  aws/kustomization.yaml
Due: push-aws

archive aws release 17.0.1 (#1090)
  README.md
  aws/archived/v17.0.1/README.md
  aws/archived/v17.0.1/announcement.md
  aws/archived/v17.0.1/kustomization.yaml
  aws/archived/v17.0.1/release.diff
  aws/archived/v17.0.1/release.yaml
  aws/kustomization.yaml
Due: push-aws

archive unused aws releases
  README.md
  aws/archived/v17.0.2/README.md
  aws/archived/v17.0.2/announcement.md
  aws/archived/v17.0.2/kustomization.yaml
  aws/archived/v17.0.2/release.diff
  aws/archived/v17.0.2/release.yaml
  aws/archived/v17.1.0/README.md
  aws/archived/v17.1.0/announcement.md
  aws/archived/v17.1.0/kustomization.yaml
  aws/archived/v17.1.0/release.diff
  aws/archived/v17.1.0/release.yaml
  aws/archived/v17.2.0/README.md
  aws/archived/v17.2.0/announcement.md
  aws/archived/v17.2.0/kustomization.yaml
  aws/archived/v17.2.0/release.diff
  aws/archived/v17.2.0/release.yaml
  aws/archived/v17.3.3/README.md
  aws/archived/v17.3.3/announcement.md
  aws/archived/v17.3.3/kustomization.yaml
  aws/archived/v17.3.3/release.diff
  aws/archived/v17.3.3/release.yaml
  aws/archived/v17.4.1/README.md
  aws/archived/v17.4.1/announcement.md
  aws/archived/v17.4.1/kustomization.yaml
  aws/archived/v17.4.1/release.diff
  aws/archived/v17.4.1/release.yaml
  aws/kustomization.yaml
Due: push-aws

archive unused aws releases (#1092)
  README.md
  aws/archived/v17.0.2/README.md
  aws/archived/v17.0.2/announcement.md
  aws/archived/v17.0.2/kustomization.yaml
  aws/archived/v17.0.2/release.diff
  aws/archived/v17.0.2/release.yaml
  aws/archived/v17.1.0/README.md
  aws/archived/v17.1.0/announcement.md
  aws/archived/v17.1.0/kustomization.yaml
  aws/archived/v17.1.0/release.diff
  aws/archived/v17.1.0/release.yaml
  aws/archived/v17.2.0/README.md
  aws/archived/v17.2.0/announcement.md
  aws/archived/v17.2.0/kustomization.yaml
  aws/archived/v17.2.0/release.diff
  aws/archived/v17.2.0/release.yaml
  aws/archived/v17.3.3/README.md
  aws/archived/v17.3.3/announcement.md
  aws/archived/v17.3.3/kustomization.yaml
  aws/archived/v17.3.3/release.diff
  aws/archived/v17.3.3/release.yaml
  aws/archived/v17.4.1/README.md
  aws/archived/v17.4.1/announcement.md
  aws/archived/v17.4.1/kustomization.yaml
  aws/archived/v17.4.1/release.diff
  aws/archived/v17.4.1/release.yaml
  aws/kustomization.yaml
Due: push-aws

added requests for VPA
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

added requests for VPA (#1093)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

19.0.0 alpha1
  README.md
  aws/kustomization.yaml
  aws/requests.yaml
  aws/v19.0.0-alpha1/README.md
  aws/v19.0.0-alpha1/kustomization.yaml
  aws/v19.0.0-alpha1/release.diff
  aws/v19.0.0-alpha1/release.yaml
Due: push-aws

19.0.0 alpha1
  aws/v19.0.0-alpha1/README.md
  aws/v19.0.0-alpha1/release.diff
Due: push-aws

Add release notes
  aws/v19.0.0-alpha1/README.md
  aws/v19.0.0-alpha1/announcement.md
Due: push-aws

Readme v2
  aws/v19.0.0-alpha1/README.md
Due: push-aws

Update announcement.md
  aws/v19.0.0-alpha1/announcement.md
Due: push-aws

Aws 19.0.0 alpha1 (#1094)
  README.md
  aws/kustomization.yaml
  aws/requests.yaml
  aws/v19.0.0-alpha1/README.md
  aws/v19.0.0-alpha1/announcement.md
  aws/v19.0.0-alpha1/kustomization.yaml
  aws/v19.0.0-alpha1/release.diff
  aws/v19.0.0-alpha1/release.yaml
Due: push-aws

add-observability-bundle-requests
  aws/requests.yaml
Due: push-aws

Update requests.yaml
  aws/requests.yaml
Due: push-aws
