Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.3

jobs:
  validate:
    docker:
      - image: quay.io/giantswarm/architect
    steps:
      - checkout
      - run:
          name: Validate releases
          command: CGO_ENABLED=0 go test ./...

workflows:
  workflow:
    jobs:
      - validate
      - path-filtering/filter:
          name: filter
          mapping: |
            aws/.* push-aws true
            azure/.* push-azure true
            kvm/.* push-kvm true
          base-revision: master
          config-path: .circleci/provider_config.yml
          requires:
            - validate

Indent
  .github/workflows/create-draft-release.yaml
Due: none

Update capa/v25.0.0/README.md
  capa/v25.0.0/README.md
Due: none

skip release.yaml when not found
  .github/workflows/create-draft-release.yaml
Due: none

undo
  .github/workflows/create-draft-release.yaml
Due: none

Update README.md
  capa/v25.0.0/README.md
Due: none

Update aws/v20.1.2/README.md
  aws/v20.1.2/README.md
Due: push-aws

Fix CAPZ workflows and CircleCi Jobs (#1295)
  .circleci/provider_config.yml
  .github/workflows/create-release.yaml
Due: none

Update versions and alpha release number
  capa/kustomization.yaml
  capa/v26.0.0-alpha.2/kustomization.yaml
  capa/v26.0.0-alpha.2/release.yaml
Due: none

CAPZ v25.0.0
  README.md
  azure/v25.0.0/kustomization.yaml
  azure/v25.0.0/release.yaml
Due: push-azure

Update announcement.md
  capa/v25.0.0/announcement.md
Due: none
