Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.3

jobs:
  validate:
    docker:
      - image: quay.io/giantswarm/architect
    steps:
      - checkout
      - run:
          name: Validate releases
          command: CGO_ENABLED=0 go test ./...

workflows:
  workflow:
    jobs:
      - validate
      - path-filtering/filter:
          name: filter
          mapping: |
            aws/.* push-aws true
            azure/.* push-azure true
            kvm/.* push-kvm true
          base-revision: master
          config-path: .circleci/provider_config.yml
          requires:
            - validate

Archive AWS release v14.1.1
  README.md
  aws/archived/v14.1.1/README.md
  aws/archived/v14.1.1/announcement.md
  aws/archived/v14.1.1/kustomization.yaml
  aws/archived/v14.1.1/release.diff
  aws/archived/v14.1.1/release.yaml
  aws/kustomization.yaml
Due: push-aws

Archive AWS release v14.1.1 (#919)
  README.md
  aws/archived/v14.1.1/README.md
  aws/archived/v14.1.1/announcement.md
  aws/archived/v14.1.1/kustomization.yaml
  aws/archived/v14.1.1/release.diff
  aws/archived/v14.1.1/release.yaml
  aws/kustomization.yaml
Due: push-aws

update release notes and add announcement
  aws/v17.0.0-alpha1/README.md
  aws/v17.0.0-alpha1/announcement.md
Due: push-aws

Archive AWS release v15.0.0
  README.md
  aws/archived/v15.0.0/README.md
  aws/archived/v15.0.0/announcement.md
  aws/archived/v15.0.0/kustomization.yaml
  aws/archived/v15.0.0/release.diff
  aws/archived/v15.0.0/release.yaml
  aws/kustomization.yaml
Due: push-aws

Request app-operator v5.6.0 for AWS and Azure
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Request app-operator v5.6.0 for KVM
  kvm/requests.yaml
Due: push-kvm

update README
  aws/v16.4.0/README.md
Due: push-aws

bump aws-operator
  aws/v16.4.0/release.diff
  aws/v16.4.0/release.yaml
Due: push-aws

Archive AWS release v15.0.0 (#920)
  README.md
  aws/archived/v15.0.0/README.md
  aws/archived/v15.0.0/announcement.md
  aws/archived/v15.0.0/kustomization.yaml
  aws/archived/v15.0.0/release.diff
  aws/archived/v15.0.0/release.yaml
  aws/kustomization.yaml
Due: push-aws

Request app-operator v5.6.0 for AWS and Azure (#921)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Add aws release 17.0.0-alpha1 (#903)
  README.md
  aws/kustomization.yaml
  aws/requests.yaml
  aws/v17.0.0-alpha1/README.md
  aws/v17.0.0-alpha1/announcement.md
  aws/v17.0.0-alpha1/kustomization.yaml
  aws/v17.0.0-alpha1/release.diff
  aws/v17.0.0-alpha1/release.yaml
Due: push-aws

Request app-operator v5.6.0 for KVM (#922)
  kvm/requests.yaml
Due: push-kvm

Archive AWS release v15.1.0
  README.md
  aws/archived/v15.1.0/README.md
  aws/archived/v15.1.0/announcement.md
  aws/archived/v15.1.0/kustomization.yaml
  aws/archived/v15.1.0/release.diff
  aws/archived/v15.1.0/release.yaml
  aws/kustomization.yaml
Due: push-aws

Archive AWS release v15.1.0 (#923)
  README.md
  aws/archived/v15.1.0/README.md
  aws/archived/v15.1.0/announcement.md
  aws/archived/v15.1.0/kustomization.yaml
  aws/archived/v15.1.0/release.diff
  aws/archived/v15.1.0/release.yaml
  aws/kustomization.yaml
Due: push-aws

update release date
  aws/v16.4.0/release.diff
  aws/v16.4.0/release.yaml
Due: push-aws

release description and announcement
  aws/v16.4.0/README.md
  aws/v16.4.0/announcement.md
Due: push-aws

AWS v17.0.0
  README.md
  aws/kustomization.yaml
  aws/v17.0.0/README.md
  aws/v17.0.0/kustomization.yaml
  aws/v17.0.0/release.diff
  aws/v17.0.0/release.yaml
Due: push-aws

AWS v17.0.0
  aws/v17.0.0/release.diff
  aws/v17.0.0/release.yaml
Due: push-aws

bumped kiam-watchdog
  aws/v16.4.0/README.md
  aws/v16.4.0/release.diff
  aws/v16.4.0/release.yaml
Due: push-aws

update release highlights with latest additions
  aws/v16.4.0/README.md
Due: push-aws

AWS v17.0.0
  aws/v17.0.0/release.yaml
Due: push-aws

section to explain how the key rotation works
  aws/v16.4.0/README.md
Due: push-aws

fix grammatical error
  aws/v16.4.0/README.md
Due: push-aws

add key rotation process info
  aws/v16.4.0/README.md
Due: push-aws

update key rotation instructions
  aws/v16.4.0/README.md
Due: push-aws

aws-16-4-0 (#910)
  README.md
  aws/kustomization.yaml
  aws/v16.4.0/README.md
  aws/v16.4.0/announcement.md
  aws/v16.4.0/kustomization.yaml
  aws/v16.4.0/release.diff
  aws/v16.4.0/release.yaml
Due: push-aws

fix small grammatical error in v16.4.0 release description and announcement
  aws/v16.4.0/README.md
  aws/v16.4.0/announcement.md
Due: push-aws

fix small grammatical error in v16.4.0 release description and announcement (#926)
  aws/v16.4.0/README.md
  aws/v16.4.0/announcement.md
Due: push-aws

release 16.2.0 for KVM
  kvm/kustomization.yaml
  kvm/v16.2.0/README.md
  kvm/v16.2.0/kustomization.yaml
  kvm/v16.2.0/release.diff
  kvm/v16.2.0/release.yaml
Due: push-kvm

bump cert-operator version in requests to fix CI
  README.md
  kvm/requests.yaml
Due: push-kvm

drop requests
  kvm/requests.yaml
Due: push-kvm

deprecate 16.1.1
  kvm/v16.2.0/release.diff
Due: push-kvm

Update kvm/v16.2.0/README.md
  kvm/v16.2.0/README.md
Due: push-kvm

update the release notes
  azure/v20.0.0-alpha1/README.md
Due: push-azure

update release announcement
  azure/v20.0.0-alpha1/announcement.md
Due: push-azure

Added cluster-autoscaler version bump to v17 requests
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Add note to README about 'kubectl get machinepools'
  azure/v20.0.0-alpha1/README.md
Due: push-azure

Added cluster-autoscaler version bump to v17 requests (#928)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

update release notes and announcement
  azure/v20.0.0-alpha1/README.md
  azure/v20.0.0-alpha1/announcement.md
Due: push-azure
