Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.3

jobs:
  validate:
    docker:
      - image: quay.io/giantswarm/architect
    steps:
      - checkout
      - run:
          name: Validate releases
          command: CGO_ENABLED=0 go test ./...

workflows:
  workflow:
    jobs:
      - validate
      - path-filtering/filter:
          name: filter
          mapping: |
            aws/.* push-aws true
            azure/.* push-azure true
            kvm/.* push-kvm true
          base-revision: master
          config-path: .circleci/provider_config.yml
          requires:
            - validate

aws release 19.1.0
  aws/v19.1.0/release.yaml
Due: push-aws

add k8s-audit-metrics
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

add k8s-audit-metrics
  aws/requests.yaml
  aws/v19.0.0-beta1/cluster.yaml
  aws/v19.0.0-beta1/release-nick.yaml
Due: push-aws

azure 19.1.1 test
  README.md
  azure/kustomization.yaml
  azure/v19.1.1/README.md
  azure/v19.1.1/kustomization.yaml
  azure/v19.1.1/release.diff
  azure/v19.1.1/release.yaml
Due: push-azure

blah
  azure/v19.1.1/README.md
  azure/v19.1.1/release.diff
  azure/v19.1.1/release.yaml
Due: push-azure

Delete cluster.yaml
  aws/v19.0.0-beta1/cluster.yaml
Due: push-aws

Delete release-nick.yaml
  aws/v19.0.0-beta1/release-nick.yaml
Due: push-aws

Add k8s-audit-metrics (#1148)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Bump security-bundle to 0.16.2
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Bump security-bundle to 0.16.2 (#1150)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Update Cilium
  aws/v19.0.0/release.yaml
Due: push-aws

Update Cilium (#1152)
  aws/v19.0.0/release.yaml
Due: push-aws

Update node-local-dns
  aws/v19.0.0/release.diff
  aws/v19.0.0/release.yaml
Due: push-aws

Config: Remove `nginx-ingress-controller` override.
  app/config/override.yaml
Due: none

Config: Remove `nginx-ingress-controller` override. (#1154)
  app/config/override.yaml
Due: none

fix readme
  aws/v19.0.0/README.md
Due: push-aws

Update node-local-dns (#1153)
  aws/v19.0.0/README.md
  aws/v19.0.0/release.diff
  aws/v19.0.0/release.yaml
Due: push-aws

Upgrade coredns
  aws/v19.0.0/README.md
  aws/v19.0.0/release.diff
  aws/v19.0.0/release.yaml
Due: push-aws

Upgrade coredns (#1155)
  aws/v19.0.0/README.md
  aws/v19.0.0/release.diff
  aws/v19.0.0/release.yaml
Due: push-aws

Align files
  .github/workflows/zz_generated.add-team-labels.yaml
  .github/workflows/zz_generated.add-to-project-board.yaml
Due: none

Align files (#1156)
  .github/workflows/zz_generated.add-team-labels.yaml
  .github/workflows/zz_generated.add-to-project-board.yaml
Due: none

archive aws 18.2.1 and 18.4.0
  README.md
  aws/archived/v18.2.1/README.md
  aws/archived/v18.2.1/announcement.md
  aws/archived/v18.2.1/kustomization.yaml
  aws/archived/v18.2.1/release.diff
  aws/archived/v18.2.1/release.yaml
  aws/archived/v18.4.0/README.md
  aws/archived/v18.4.0/announcement.md
  aws/archived/v18.4.0/kustomization.yaml
  aws/archived/v18.4.0/release.diff
  aws/archived/v18.4.0/release.yaml
  aws/kustomization.yaml
Due: push-aws

Update v19 cluster-operator
  aws/v19.0.0/release.yaml
Due: push-aws

Update release readme and diff
  aws/v19.0.0/README.md
  aws/v19.0.0/release.diff
Due: push-aws

Update diff
  aws/v19.0.0/release.diff
Due: push-aws

archive aws 18.2.1 and 18.4.0 (#1157)
  README.md
  aws/archived/v18.2.1/README.md
  aws/archived/v18.2.1/announcement.md
  aws/archived/v18.2.1/kustomization.yaml
  aws/archived/v18.2.1/release.diff
  aws/archived/v18.2.1/release.yaml
  aws/archived/v18.4.0/README.md
  aws/archived/v18.4.0/announcement.md
  aws/archived/v18.4.0/kustomization.yaml
  aws/archived/v18.4.0/release.diff
  aws/archived/v18.4.0/release.yaml
  aws/kustomization.yaml
Due: push-aws

Update v19 cluster-operator (#1158)
  aws/v19.0.0/README.md
  aws/v19.0.0/release.diff
  aws/v19.0.0/release.yaml
Due: push-aws

bump coredns to 1.17.1 on azure v19.1.0
  azure/v19.1.0/README.md
  azure/v19.1.0/release.diff
  azure/v19.1.0/release.yaml
Due: push-azure

bump coredns to 1.17.1 on azure v19.1.0 (#1159)
  azure/v19.1.0/README.md
  azure/v19.1.0/release.diff
  azure/v19.1.0/release.yaml
Due: push-azure

Upgrade cert-manager-app to 2.24.1 in AWS v19.0.0
  aws/v19.0.0/release.diff
  aws/v19.0.0/release.yaml
Due: push-aws

Add cert-manager-app changelog in v19.0.0 README
  aws/v19.0.0/README.md
Due: push-aws

Upgrade cert-manager-app to 2.24.1 in AWS v19.0.0 (#1160)
  aws/v19.0.0/README.md
  aws/v19.0.0/release.diff
  aws/v19.0.0/release.yaml
Due: push-aws

Bump cilium-servicemonitors to 0.1.2
  aws/requests.yaml
Due: push-aws

bump aws op in 19.0.0
  aws/v19.0.0/README.md
  aws/v19.0.0/release.diff
  aws/v19.0.0/release.yaml
Due: push-aws

bump aws op in 19.0.0 (#1162)
  aws/v19.0.0/README.md
  aws/v19.0.0/release.diff
  aws/v19.0.0/release.yaml
Due: push-aws

archive aws release 18.3.0
  README.md
  aws/archived/v18.3.0/README.md
  aws/archived/v18.3.0/announcement.md
  aws/archived/v18.3.0/kustomization.yaml
  aws/archived/v18.3.0/release.diff
  aws/archived/v18.3.0/release.yaml
  aws/kustomization.yaml
Due: push-aws

archive aws release 18.3.0 (#1163)
  README.md
  aws/archived/v18.3.0/README.md
  aws/archived/v18.3.0/announcement.md
  aws/archived/v18.3.0/kustomization.yaml
  aws/archived/v18.3.0/release.diff
  aws/archived/v18.3.0/release.yaml
  aws/kustomization.yaml
Due: push-aws

bump coredns to 1.18.0 on azure 19.1.0 release
  azure/v19.1.0/README.md
  azure/v19.1.0/release.diff
  azure/v19.1.0/release.yaml
Due: push-azure

bump coredns to 1.18.0 on azure 19.1.0 release (#1164)
  azure/v19.1.0/README.md
  azure/v19.1.0/release.diff
  azure/v19.1.0/release.yaml
Due: push-azure
