Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

Update release.yaml
  aws/v18.0.0/release.yaml
Due: push-aws

Update announcement.md
  aws/v18.0.0/announcement.md
Due: push-aws

Update release.diff
  aws/v18.0.0/release.diff
Due: push-aws

Add aws release 18.0.0 (#1020)
  README.md
  aws/kustomization.yaml
  aws/v18.0.0/README.md
  aws/v18.0.0/announcement.md
  aws/v18.0.0/kustomization.yaml
  aws/v18.0.0/release.diff
  aws/v18.0.0/release.yaml
Due: push-aws

external-dns: Request v2.15.2.
  aws/requests.yaml
Due: push-aws

external-dns: Request v2.15.2.
  azure/requests.yaml
Due: push-azure

Update release.yaml (#1024)
  aws/v18.0.0/release.yaml
Due: push-aws

Update requests.yaml
  aws/requests.yaml
Due: push-aws

Revert "Update requests.yaml"
  aws/requests.yaml
Due: push-aws

cert-manager: Request v2.15.3.
  aws/requests.yaml
Due: push-aws

add azure release 18.0.0
  README.md
  azure/kustomization.yaml
  azure/v18.0.0/README.md
  azure/v18.0.0/kustomization.yaml
  azure/v18.0.0/release.diff
  azure/v18.0.0/release.yaml
Due: push-azure

add azure release 18.0.0
  azure/v18.0.0/release.yaml
Due: push-azure

external-dns: Request v2.15.2. (#1023)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

cert-manager: Request v2.15.3. (#1025)
  aws/requests.yaml
Due: push-aws

add azure release 18.0.0
  azure/v17.2.0/release.yaml
  azure/v18.0.0/release.yaml
Due: push-azure

add aws release 18.0.1
  README.md
  aws/kustomization.yaml
  aws/v18.0.1/README.md
  aws/v18.0.1/kustomization.yaml
  aws/v18.0.1/release.diff
  aws/v18.0.1/release.yaml
Due: push-aws

add aws release 18.0.1
  aws/v18.0.1/release.yaml
Due: push-aws

Update release.yaml
  aws/v18.0.1/release.yaml
Due: push-aws

add azurefile csi driver app
  azure/v18.0.0/release.yaml
Due: push-azure

wip
  azure/v18.0.0/release.yaml
Due: push-azure

bump aws-operator to 13.2.0
  aws/v18.0.1/release.diff
  aws/v18.0.1/release.yaml
Due: push-aws

bump azuredisk-csi-driver to 1.21.0-gs4
  azure/v18.0.0/release.yaml
Due: push-azure

release notes
  aws/v18.0.1/README.md
  aws/v18.0.1/announcement.md
  aws/v18.0.1/release.diff
Due: push-aws

make 18.0.1 active
  aws/v18.0.1/release.yaml
Due: push-aws

bump stuff
  aws/v18.0.1/README.md
  aws/v18.0.1/release.diff
  aws/v18.0.1/release.yaml
Due: push-aws

Path conditions:
  push-aws: any of: aws/.*
  push-azure: any of: azure/.*
  push-kvm: any of: kvm/.*
