Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

Update chart-operator
  azure/v20.0.0/release.yaml
Due: push-azure

Mark v20 as wip
  azure/v20.0.0/release.yaml
Due: push-azure

bump policies
  azure/v20.0.0/release.yaml
Due: push-azure

Mark v20 as deprecated
  azure/v20.0.0/release.yaml
Due: push-azure

Add v20 announcement and README
  azure/v20.0.0/README.md
  azure/v20.0.0/announcement.md
Due: push-azure

use released capv app
  vsphere/v20.0.0/release.yaml
Due: none

Update kyverno policies
  azure/v20.0.0/release.yaml
Due: push-azure

Improve release notes
  azure/v20.0.0/README.md
Due: push-azure

Add azure release 16.0.2
  README.md
  azure/kustomization.yaml
  azure/v16.0.2/README.md
  azure/v16.0.2/kustomization.yaml
  azure/v16.0.2/release.diff
  azure/v16.0.2/release.yaml
Due: push-azure

Add azure release 16.0.2
  azure/v16.0.2/release.yaml
Due: push-azure

Add azure release 16.0.2
  azure/v16.0.2/README.md
  azure/v16.0.2/release.diff
  azure/v16.0.2/release.yaml
Due: push-azure

Add azure release 16.0.2
  azure/v16.0.2/release.diff
  azure/v16.0.2/release.yaml
Due: push-azure

Rename release v20.0.0 to v20.0.0-alpha1
  README.md
  aws/kustomization.yaml
  aws/v20.0.0-alpha1/README.md
  aws/v20.0.0-alpha1/announcement.md
  aws/v20.0.0-alpha1/kustomization.yaml
  aws/v20.0.0-alpha1/release.diff
  aws/v20.0.0-alpha1/release.yaml
  aws/v20.0.0/README.md
Due: push-aws

Rename release to v20.0.0-alpha1
  README.md
  azure/kustomization.yaml
  azure/v20.0.0-alpha1/README.md
  azure/v20.0.0-alpha1/announcement.md
  azure/v20.0.0-alpha1/kustomization.yaml
  azure/v20.0.0-alpha1/release.diff
  azure/v20.0.0-alpha1/release.yaml
Due: push-azure

fix releate notes annotation transformer args
  vsphere/releaseNotesTransformer.yaml
Due: none

rename to v20.0.0-alpha1
  vsphere/v20.0.0-alpha1/README.md
  vsphere/v20.0.0-alpha1/announcement.md
  vsphere/v20.0.0-alpha1/kustomization.yaml
  vsphere/v20.0.0-alpha1/release.yaml
  vsphere/v20.0.0/README.md
  vsphere/v20.0.0/announcement.md
Due: none

update docs url for all providers
  aws/kustomization.yaml
  azure/kustomization.yaml
  kvm/kustomization.yaml
Due: push-aws, push-azure, push-kvm

fix readme
  README.md
Due: none

add to kustomization
  vsphere/kustomization.yaml
Due: none

create release
  .circleci/config.yml
  .circleci/provider_config.yml
  README.md
  helm/releases-openstack/Chart.yaml
  helm/releases-openstack/values.yaml
  openstack/archived/.gitkeep
  openstack/kustomization.yaml
  openstack/releaseNotesTransformer.yaml
  openstack/requests.yaml
  openstack/v20.0.0-alpha1/README.md
  openstack/v20.0.0-alpha1/kustomization.yaml
  openstack/v20.0.0-alpha1/release.yaml
  releases_test.go
Due: none

change capo version
  openstack/v20.0.0-alpha1/release.yaml
Due: none

bump date
  openstack/v20.0.0-alpha1/release.yaml
Due: none

bump date
  vsphere/v20.0.0-alpha1/release.yaml
Due: none

Add vSphere v20.0.0-alpha1 release (#804)
  .circleci/config.yml
  .circleci/provider_config.yml
  README.md
  helm/releases-vsphere/Chart.yaml
  helm/releases-vsphere/values.yaml
  releases_test.go
  vsphere/archived/.gitkeep
  vsphere/kustomization.yaml
  vsphere/releaseNotesTransformer.yaml
  vsphere/requests.yaml
  vsphere/v20.0.0-alpha1/README.md
  vsphere/v20.0.0-alpha1/announcement.md
  vsphere/v20.0.0-alpha1/kustomization.yaml
  vsphere/v20.0.0-alpha1/release.yaml
Due: none

add vsphere
  vsphere/kustomization.yaml
Due: none

Add azure release 16.0.2
  azure/v16.0.2/announcement.md
Due: push-azure

Add azure release 16.0.2 (#851)
  README.md
  azure/kustomization.yaml
  azure/v16.0.2/README.md
  azure/v16.0.2/announcement.md
  azure/v16.0.2/kustomization.yaml
  azure/v16.0.2/release.diff
  azure/v16.0.2/release.yaml
Due: push-azure

Request cluster-operator 3.11.0 for AWS
  aws/requests.yaml
Due: push-aws

Request cluster-operator 3.11.0 for AWS (#855)
  aws/requests.yaml
Due: push-aws

Add azure release 15.1.3
  README.md
  azure/kustomization.yaml
  azure/requests.yaml
  azure/v15.1.3/README.md
  azure/v15.1.3/announcement.md
  azure/v15.1.3/kustomization.yaml
  azure/v15.1.3/release.diff
  azure/v15.1.3/release.yaml
  azure/v16.0.2/README.md
Due: push-azure

Add azure release 15.1.3
  azure/v15.1.3/README.md
  azure/v15.1.3/release.diff
  azure/v15.1.3/release.yaml
Due: push-azure

Add azure release 15.1.3
  azure/v15.1.2/release.yaml
  azure/v15.1.3/release.yaml
Due: push-azure

Path conditions:
  push-aws: any of: aws/.*
  push-azure: any of: azure/.*
  push-kvm: any of: kvm/.*
