Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

Update aws/v20.1.5/README.md
  aws/v20.1.5/README.md
Due: push-aws

fix release
  aws/v20.1.5/release.diff
Due: push-aws

CAPZ: Deprecate v29.1.0.
  azure/releases.json
  azure/v29.1.0/release.diff
  azure/v29.1.0/release.yaml
Due: push-azure

CAPZ: Deprecate v29.1.0. (#1430)
  azure/releases.json
  azure/v29.1.0/release.diff
  azure/v29.1.0/release.yaml
Due: push-azure

Update README.md
  aws/v20.1.5/README.md
Due: push-aws

Create announcement.md
  aws/v20.1.5/announcement.md
Due: push-aws

Update release.yaml
  aws/v20.1.4/release.yaml
Due: push-aws

AWS: Release v20.1.5 (#1429)
  README.md
  aws/kustomization.yaml
  aws/v20.1.5/README.md
  aws/v20.1.5/announcement.md
  aws/v20.1.5/kustomization.yaml
  aws/v20.1.5/release.diff
  aws/v20.1.5/release.yaml
Due: push-aws

CAPA: Deprecate v29.2.0.
  capa/releases.json
  capa/v29.2.0/release.diff
  capa/v29.2.0/release.yaml
Due: none

CAPA: Deprecate v29.2.0. (#1432)
  capa/releases.json
  capa/v29.2.0/release.diff
  capa/v29.2.0/release.yaml
Due: none

Warn about breaking change in cluster-aws
  capa/v29.2.0/README.md
Due: none

Update module github.com/google/go-github/v65 to v66
  sdk/builder_test.go
  sdk/client.go
  sdk/client_test.go
  sdk/go.mod
  sdk/go.sum
Due: none

Update README.md
  capa/v29.3.0/README.md
Due: none

Update capa/v29.2.0/README.md
  capa/v29.2.0/README.md
Due: none

Update capa/v29.3.0/README.md
  capa/v29.3.0/README.md
Due: none

CAPA: Warn about breaking changes. (#1431)
  capa/v29.2.0/README.md
  capa/v29.3.0/README.md
Due: none

Bump go to v1.23.2.
  go.mod
Due: none

Clean dependencies.
  go.mod
  go.sum
Due: none

CAPA release 25.1.2
  capa/kustomization.yaml
  capa/v25.1.2/README.md
  capa/v25.1.2/kustomization.yaml
  capa/v25.1.2/release.diff
  capa/v25.1.2/release.yaml
Due: none

Add link to readme
  README.md
Due: none

updating cluster-vsphere version
  vsphere/v27.0.0/release.yaml
Due: none

Add Vsphere provider support
  sdk/api/v1alpha1/types.go
Due: none

Add Vsphere provider support
  sdk/CHANGELOG.md
Due: none

Add Vsphere provider support
  sdk/repo.go
Due: none

Add Vsphere provider support (#1440)
  sdk/CHANGELOG.md
  sdk/api/v1alpha1/types.go
  sdk/repo.go
Due: none

CAPA v25.1.2: Improvements.
  capa/v25.1.2/README.md
  capa/v25.1.2/release.diff
  capa/v25.1.2/release.yaml
Due: none

Added cloud-director as a future provider, currently unsupported
  sdk/CHANGELOG.md
  sdk/api/v1alpha1/types.go
  sdk/repo.go
Due: none

CAPA v25.1.2: Add announcement.
  capa/v25.1.2/README.md
  capa/v25.1.2/announcement.md
Due: none

Added cloud-director as a future provider, currently unsupported (#1441)
  sdk/CHANGELOG.md
  sdk/api/v1alpha1/types.go
  sdk/repo.go
Due: none

CAPA v25.1.2: Fix `cluster-aws` version in `README.md`.
  capa/v25.1.2/README.md
Due: none

CAPA v25.1.2: Fix release version in `announcement.md`.
  capa/v25.1.2/announcement.md
Due: none

CAPA v25.1.2: Oups, forgot to bump the version in the CR.
  capa/v25.1.2/release.diff
  capa/v25.1.2/release.yaml
Due: none

CAPA: Release v25.1.2. (#1439)
  README.md
  capa/kustomization.yaml
  capa/v25.1.2/README.md
  capa/v25.1.2/announcement.md
  capa/v25.1.2/kustomization.yaml
  capa/v25.1.2/release.diff
  capa/v25.1.2/release.yaml
Due: none

Update releases.json
  capa/releases.json
Due: none

CAPA: Release v26.1.2.
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v26.1.2/README.md
  capa/v26.1.2/announcement.md
  capa/v26.1.2/kustomization.yaml
  capa/v26.1.2/release.diff
  capa/v26.1.2/release.yaml
Due: none

CAPA: Release v25.2.2.
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v25.2.2/README.md
  capa/v25.2.2/announcement.md
  capa/v25.2.2/kustomization.yaml
  capa/v25.2.2/release.diff
  capa/v25.2.2/release.yaml
Due: none

CAPA: Release v27.2.1.
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v27.2.1/README.md
  capa/v27.2.1/announcement.md
  capa/v27.2.1/kustomization.yaml
  capa/v27.2.1/release.diff
  capa/v27.2.1/release.yaml
Due: none

Releases for vsphere (#1422)
  README.md
  releases_test.go
  renovate.go
  vsphere/archived/.gitkeep
  vsphere/kustomization.yaml
  vsphere/releaseNotesTransformer.yaml
  vsphere/releases.json
  vsphere/requests.yaml
  vsphere/v27.0.0/README.md
  vsphere/v27.0.0/announcement.md
  vsphere/v27.0.0/kustomization.yaml
  vsphere/v27.0.0/release.yaml
Due: none

Update releases.json
  vsphere/releases.json
Due: none

vSphere release gh workflow
  .github/workflows/releases.yaml
Due: none

Path conditions:
  push-aws: any of: aws/.*
  push-azure: any of: azure/.*
  push-kvm: any of: kvm/.*
