Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.3

jobs:
  validate:
    docker:
      - image: quay.io/giantswarm/architect
    steps:
      - checkout
      - run:
          name: Validate releases
          command: CGO_ENABLED=0 go test ./...

workflows:
  workflow:
    jobs:
      - validate
      - path-filtering/filter:
          name: filter
          mapping: |
            aws/.* push-aws true
            azure/.* push-azure true
            kvm/.* push-kvm true
          base-revision: master
          config-path: .circleci/provider_config.yml
          requires:
            - validate

add aws release 18.0.1 (#1027)
  README.md
  aws/kustomization.yaml
  aws/v18.0.1/README.md
  aws/v18.0.1/announcement.md
  aws/v18.0.1/kustomization.yaml
  aws/v18.0.1/release.diff
  aws/v18.0.1/release.yaml
Due: push-aws

archive aws release 17.3.1
  README.md
  aws/archived/v17.3.1/README.md
  aws/archived/v17.3.1/announcement.md
  aws/archived/v17.3.1/kustomization.yaml
  aws/archived/v17.3.1/release.diff
  aws/archived/v17.3.1/release.yaml
  aws/kustomization.yaml
Due: push-aws

bump az op
  azure/v18.0.0/release.yaml
Due: push-azure

bump azure op
  azure/v18.0.0/release.yaml
Due: push-azure

archive aws release 17.3.1 (#1028)
  README.md
  aws/archived/v17.3.1/README.md
  aws/archived/v17.3.1/announcement.md
  aws/archived/v17.3.1/kustomization.yaml
  aws/archived/v17.3.1/release.diff
  aws/archived/v17.3.1/release.yaml
  aws/kustomization.yaml
Due: push-aws

revert KSM
  azure/v18.0.0/release.yaml
Due: push-azure

archive aws 18.0.0-alpha1
  README.md
  aws/archived/v18.0.0-alpha1/README.md
  aws/archived/v18.0.0-alpha1/announcement.md
  aws/archived/v18.0.0-alpha1/kustomization.yaml
  aws/archived/v18.0.0-alpha1/release.diff
  aws/archived/v18.0.0-alpha1/release.yaml
  aws/kustomization.yaml
Due: push-aws

bump azure operator
  azure/v18.0.0/release.diff
  azure/v18.0.0/release.yaml
Due: push-azure

archive aws 18.0.0-alpha1 (#1029)
  README.md
  aws/archived/v18.0.0-alpha1/README.md
  aws/archived/v18.0.0-alpha1/announcement.md
  aws/archived/v18.0.0-alpha1/kustomization.yaml
  aws/archived/v18.0.0-alpha1/release.diff
  aws/archived/v18.0.0-alpha1/release.yaml
  aws/kustomization.yaml
Due: push-aws

bump azure ccm
  azure/v18.0.0/release.diff
  azure/v18.0.0/release.yaml
Due: push-azure

bump cluster operator and KSM
  azure/v18.0.0/release.diff
  azure/v18.0.0/release.yaml
Due: push-azure

add changelog and announcement
  azure/v18.0.0/README.md
  azure/v18.0.0/announcement.md
  azure/v18.0.0/release.diff
  azure/v18.0.0/release.yaml
Due: push-azure

add changelog and announcement
  azure/v17.2.0/release.yaml
Due: push-azure

bump azure operator
  azure/v18.0.0/release.yaml
Due: push-azure

Deprecate release 18.0.1
  aws/v18.0.1/release.yaml
Due: push-aws

add aws 18.0.2
  README.md
  aws/kustomization.yaml
  aws/v18.0.2/README.md
  aws/v18.0.2/kustomization.yaml
  aws/v18.0.2/release.diff
  aws/v18.0.2/release.yaml
Due: push-aws

Deprecate release 18.0.1 (#1030)
  aws/v18.0.1/release.yaml
Due: push-aws

Update README.md
  aws/v18.0.2/README.md
Due: push-aws

Create announcement.md
  aws/v18.0.2/announcement.md
Due: push-aws

add aws 18.0.2
  azure/v18.0.0/release.yaml
Due: push-azure

add aws 18.0.2
  aws/v18.0.2/README.md
  aws/v18.0.2/release.diff
  aws/v18.0.2/release.yaml
Due: push-aws

bump azure op
  azure/v18.0.0/README.md
  azure/v18.0.0/release.diff
  azure/v18.0.0/release.yaml
Due: push-azure

add aws 18.0.2 (#1031)
  README.md
  aws/kustomization.yaml
  aws/v18.0.2/README.md
  aws/v18.0.2/announcement.md
  aws/v18.0.2/kustomization.yaml
  aws/v18.0.2/release.diff
  aws/v18.0.2/release.yaml
Due: push-aws

add azure release 18.0.0 (#1026)
  README.md
  azure/kustomization.yaml
  azure/v18.0.0/README.md
  azure/v18.0.0/announcement.md
  azure/v18.0.0/kustomization.yaml
  azure/v18.0.0/release.diff
  azure/v18.0.0/release.yaml
Due: push-azure

archive aws release 18.0.1
  README.md
  aws/archived/v18.0.1/README.md
  aws/archived/v18.0.1/announcement.md
  aws/archived/v18.0.1/kustomization.yaml
  aws/archived/v18.0.1/release.diff
  aws/archived/v18.0.1/release.yaml
  aws/kustomization.yaml
Due: push-aws

archive aws release 18.0.0
  README.md
  aws/archived/v18.0.0/README.md
  aws/archived/v18.0.0/announcement.md
  aws/archived/v18.0.0/kustomization.yaml
  aws/archived/v18.0.0/release.diff
  aws/archived/v18.0.0/release.yaml
  aws/kustomization.yaml
Due: push-aws

archive aws release 18.0.1 (#1032)
  README.md
  aws/archived/v18.0.1/README.md
  aws/archived/v18.0.1/announcement.md
  aws/archived/v18.0.1/kustomization.yaml
  aws/archived/v18.0.1/release.diff
  aws/archived/v18.0.1/release.yaml
  aws/kustomization.yaml
Due: push-aws

bump azure op
  azure/v18.0.0/README.md
  azure/v18.0.0/release.yaml
Due: push-azure

bump azure op
  azure/v18.0.0/release.diff
Due: push-azure

Hotfix azure 18.0.0 (#1034)
  azure/v18.0.0/README.md
  azure/v18.0.0/release.diff
  azure/v18.0.0/release.yaml
Due: push-azure

archive aws release 18.0.0 (#1033)
  README.md
  aws/archived/v18.0.0/README.md
  aws/archived/v18.0.0/announcement.md
  aws/archived/v18.0.0/kustomization.yaml
  aws/archived/v18.0.0/release.diff
  aws/archived/v18.0.0/release.yaml
  aws/kustomization.yaml
Due: push-aws

Align files
  .github/workflows/zz_generated.add-team-labels.yaml
  .github/workflows/zz_generated.add-to-project-board.yaml
Due: none

Align files (#1035)
  .github/workflows/zz_generated.add-team-labels.yaml
  .github/workflows/zz_generated.add-to-project-board.yaml
Due: none

require metrics server 2.0.0
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

require metrics server 2.0.0 (#1037)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

KVM: Request `kube-state-metrics` >= 1.13.0.
  kvm/requests.yaml
Due: push-kvm

AWS: Request `kube-state-metrics` >= 1.13.0.
  aws/requests.yaml
Due: push-aws
