Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.3

jobs:
  validate:
    docker:
      - image: quay.io/giantswarm/architect
    steps:
      - checkout
      - run:
          name: Validate releases
          command: CGO_ENABLED=0 go test ./...

workflows:
  workflow:
    jobs:
      - validate
      - path-filtering/filter:
          name: filter
          mapping: |
            aws/.* push-aws true
            azure/.* push-azure true
            kvm/.* push-kvm true
          base-revision: master
          config-path: .circleci/provider_config.yml
          requires:
            - validate

update all apps + readme
  aws/v19.0.0/README.md
  aws/v19.0.0/release.diff
  aws/v19.0.0/release.yaml
Due: push-aws

update all apps + readme
  aws/v19.0.0/release.diff
  aws/v19.0.0/release.yaml
Due: push-aws

fix dependencies
  aws/v19.0.0/release.diff
  aws/v19.0.0/release.yaml
Due: push-aws

Update README.md
  aws/v19.0.0/README.md
Due: push-aws

Create announcement.md
  aws/v19.0.0/announcement.md
Due: push-aws

Update announcement.md
  aws/v19.0.0/announcement.md
Due: push-aws

Aws 19.0.0 (#1044)
  README.md
  aws/kustomization.yaml
  aws/requests.yaml
  aws/v19.0.0/README.md
  aws/v19.0.0/announcement.md
  aws/v19.0.0/kustomization.yaml
  aws/v19.0.0/release.diff
  aws/v19.0.0/release.yaml
Due: push-aws

azure 19.1.0
  README.md
  azure/kustomization.yaml
  azure/v19.1.0/README.md
  azure/v19.1.0/kustomization.yaml
  azure/v19.1.0/release.diff
  azure/v19.1.0/release.yaml
Due: push-azure

azure 19.1.0
  azure/v19.1.0/release.diff
  azure/v19.1.0/release.yaml
Due: push-azure

azure 19.1.0
  azure/v19.1.0/README.md
  azure/v19.1.0/release.diff
  azure/v19.1.0/release.yaml
Due: push-azure

archive azure 19.0.0
  README.md
  azure/archived/v19.0.0/README.md
  azure/archived/v19.0.0/announcement.md
  azure/archived/v19.0.0/kustomization.yaml
  azure/archived/v19.0.0/release.diff
  azure/archived/v19.0.0/release.yaml
  azure/kustomization.yaml
Due: push-azure

archive azure 19.0.0 (#1123)
  README.md
  azure/archived/v19.0.0/README.md
  azure/archived/v19.0.0/announcement.md
  azure/archived/v19.0.0/kustomization.yaml
  azure/archived/v19.0.0/release.diff
  azure/archived/v19.0.0/release.yaml
  azure/kustomization.yaml
Due: push-azure

Upgrade atlas apps
  aws/requests.yaml
  azure/requests.yaml
  azure/v20.0.0-beta1/release.yaml
Due: push-aws, push-azure

Upgrade atlas apps (#1124)
  aws/requests.yaml
  azure/requests.yaml
  azure/v20.0.0-beta1/release.yaml
Due: push-aws, push-azure

Add vpa-crd dependency to more default apps
  aws/v19.0.0/release.yaml
Due: push-aws

Add vpa-crd dependency to more default apps (#1125)
  aws/v19.0.0/release.yaml
Due: push-aws

Request cert-manager 2.22.0 in upcoming AWS release
  aws/requests.yaml
Due: push-aws

Request cert-manager 2.22.0 in upcoming AWS release (#1126)
  aws/requests.yaml
Due: push-aws

azure 19.1.0
  README.md
  aws/v19.0.0/release-eni.yaml
  azure/kustomization.yaml
  azure/v19.1.0/README.md
  azure/v19.1.0/kustomization.yaml
  azure/v19.1.0/release.diff
  azure/v19.1.0/release.yaml
Due: push-aws, push-azure

bump observability-bundle to 0.7.0 for new releases
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

bump observability bundle on azure v20
  azure/v20.0.0-beta1/README.md
  azure/v20.0.0-beta1/release.diff
  azure/v20.0.0-beta1/release.yaml
Due: push-azure

bump observability bundle on azure v20 (#1129)
  azure/v20.0.0-beta1/README.md
  azure/v20.0.0-beta1/release.diff
  azure/v20.0.0-beta1/release.yaml
Due: push-azure

bump observability-bundle to 0.7.0
  azure/v19.1.0/release.yaml
Due: push-azure

Bump requested version of net-exporter
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

bump azure version
  azure/requests.yaml
Due: push-azure

bump azure release version
  azure/requests.yaml
Due: push-azure

Update azure/requests.yaml
  azure/requests.yaml
Due: push-azure

bump observability-bundle to 0.7.0 for new releases (#1128)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Request cert-manager-app in upcoming AWS platform release
  aws/requests.yaml
Due: push-aws

Request cert-manager-app in upcoming AWS platform release (#1131)
  aws/requests.yaml
Due: push-aws

patch external-dns in aws v19
  aws/v19.0.0/README.md
  aws/v19.0.0/release.diff
  aws/v19.0.0/release.yaml
Due: push-aws

patch aws 18.4.2 to remove cilium migration stuff
  aws/v18.4.2/README.md
  aws/v18.4.2/release.diff
  aws/v18.4.2/release.yaml
Due: push-aws

patch aws 18.4.2 to remove cilium migration stuff
  aws/v18.4.2/release.diff
  aws/v18.4.2/release.yaml
Due: push-aws

patch aws 18.4.2 to remove cilium migration stuff (#1133)
  aws/v18.4.2/README.md
  aws/v18.4.2/release.diff
  aws/v18.4.2/release.yaml
Due: push-aws

patch aws 19.0.0 to remove cilium migration stuff
  aws/v19.0.0/README.md
  aws/v19.0.0/release.diff
  aws/v19.0.0/release.yaml
Due: push-aws

patch aws 19.0.0 to remove cilium migration stuff (#1135)
  aws/v19.0.0/README.md
  aws/v19.0.0/release.diff
  aws/v19.0.0/release.yaml
Due: push-aws
