Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.3

jobs:
  validate:
    docker:
      - image: quay.io/giantswarm/architect
    steps:
      - checkout
      - run:
          name: Validate releases
          command: CGO_ENABLED=0 go test ./...

workflows:
  workflow:
    jobs:
      - validate
      - path-filtering/filter:
          name: filter
          mapping: |
            aws/.* push-aws true
            azure/.* push-azure true
            kvm/.* push-kvm true
          base-revision: master
          config-path: .circleci/provider_config.yml
          requires:
            - validate

Drop requests for pre-AWS 13.x releases
  aws/requests.yaml
Due: push-aws

typo
  aws/v16.1.0/README.md
Due: push-aws

Request Flatcar 2983.2.1 in AWS 16.1.x or above
  aws/requests.yaml
Due: push-aws

Drop requests for pre-AWS 13.x releases (#867)
  aws/requests.yaml
Due: push-aws

update kube-state-metrics
  aws/v16.1.0/README.md
  aws/v16.1.0/release.diff
  aws/v16.1.0/release.yaml
Due: push-aws

Request Flatcar 2983.2.1 in AWS 16.1.x or above (#868)
  aws/requests.yaml
Due: push-aws

Upgrade kyverno policies
  azure/v20.0.0-alpha1/release.yaml
Due: push-azure

archived unused azure release 15.0.0
  README.md
  azure/archived/v15.0.0/README.md
  azure/archived/v15.0.0/announcement.md
  azure/archived/v15.0.0/kustomization.yaml
  azure/archived/v15.0.0/release.diff
  azure/archived/v15.0.0/release.yaml
  azure/kustomization.yaml
Due: push-azure

archived unused azure release 15.0.0 (#869)
  README.md
  azure/archived/v15.0.0/README.md
  azure/archived/v15.0.0/announcement.md
  azure/archived/v15.0.0/kustomization.yaml
  azure/archived/v15.0.0/release.diff
  azure/archived/v15.0.0/release.yaml
  azure/kustomization.yaml
Due: push-azure

revert cert-exporter to 1.8.0
  aws/v16.1.0/README.md
  aws/v16.1.0/release.diff
  aws/v16.1.0/release.yaml
Due: push-aws

revert requests.yaml for cert-exporter
  aws/requests.yaml
Due: push-aws

update release date
  aws/v16.1.0/release.diff
  aws/v16.1.0/release.yaml
Due: push-aws

AWS 16.1.0 (#859)
  README.md
  aws/kustomization.yaml
  aws/requests.yaml
  aws/v16.1.0/README.md
  aws/v16.1.0/announcement.md
  aws/v16.1.0/kustomization.yaml
  aws/v16.1.0/release.diff
  aws/v16.1.0/release.yaml
Due: push-aws

update openstack v20 release
  openstack/v20.0.0-alpha1/release.yaml
Due: none

azure force bump cluster operator
  azure/requests.yaml
Due: push-azure

azure force bump cluster operator (#871)
  azure/requests.yaml
Due: push-azure

update openstack v20 release (#870)
  openstack/v20.0.0-alpha1/release.yaml
Due: none

request newest azure-scheduled-events for next release
  azure/requests.yaml
Due: push-azure

request newest azure-scheduled-events for next release (#872)
  azure/requests.yaml
Due: push-azure

remove coredns for openstack
  openstack/v20.0.0-alpha1/release.yaml
Due: none

remove coredns for openstack (#873)
  openstack/v20.0.0-alpha1/release.yaml
Due: none

Update CAPA and CAPI apps in v20-alpha1
  aws/v20.0.0-alpha1/release.yaml
Due: push-aws

lower containerlinux request for aws
  aws/requests.yaml
Due: push-aws

lower containerlinux request for aws (#877)
  aws/requests.yaml
Due: push-aws

Archive azure release 16.0.0
  README.md
  azure/archived/v16.0.0/README.md
  azure/archived/v16.0.0/announcement.md
  azure/archived/v16.0.0/kustomization.yaml
  azure/archived/v16.0.0/release.diff
  azure/archived/v16.0.0/release.yaml
  azure/kustomization.yaml
Due: push-azure

Archive azure release 16.0.0 (#878)
  README.md
  azure/archived/v16.0.0/README.md
  azure/archived/v16.0.0/announcement.md
  azure/archived/v16.0.0/kustomization.yaml
  azure/archived/v16.0.0/release.diff
  azure/archived/v16.0.0/release.yaml
  azure/kustomization.yaml
Due: push-azure

Archive Azure 15.0.1
  README.md
  azure/archived/v15.0.1/README.md
  azure/archived/v15.0.1/announcement.md
  azure/archived/v15.0.1/kustomization.yaml
  azure/archived/v15.0.1/release.diff
  azure/archived/v15.0.1/release.yaml
  azure/kustomization.yaml
Due: push-azure

Archive Azure 15.0.1 (#879)
  README.md
  azure/archived/v15.0.1/README.md
  azure/archived/v15.0.1/announcement.md
  azure/archived/v15.0.1/kustomization.yaml
  azure/archived/v15.0.1/release.diff
  azure/archived/v15.0.1/release.yaml
  azure/kustomization.yaml
Due: push-azure

Add azure release 16.1.0
  README.md
  azure/kustomization.yaml
  azure/v16.1.0/README.md
  azure/v16.1.0/kustomization.yaml
  azure/v16.1.0/release.diff
  azure/v16.1.0/release.yaml
Due: push-azure

Add azure release 16.1.0
  azure/v16.1.0/README.md
  azure/v16.1.0/release.diff
  azure/v16.1.0/release.yaml
Due: push-azure

Add azure release 16.1.0
  azure/v16.1.0/README.md
  azure/v16.1.0/announcement.md
Due: push-azure

Add aws release 16.2.0
  azure/v16.1.0/README.md
Due: push-azure

Update CAPA version to use upstream version
  aws/v20.0.0-alpha1/release.yaml
Due: push-aws

Add azure release 16.1.0 (#874)
  README.md
  azure/kustomization.yaml
  azure/v16.1.0/README.md
  azure/v16.1.0/announcement.md
  azure/v16.1.0/kustomization.yaml
  azure/v16.1.0/release.diff
  azure/v16.1.0/release.yaml
Due: push-azure

Bump CAPI version
  aws/v20.0.0-alpha1/release.yaml
Due: push-aws

Bump CAPA version
  aws/v20.0.0-alpha1/release.yaml
Due: push-aws
