Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

Add aws release 16.2.1
  README.md
  aws/kustomization.yaml
  aws/v16.2.1/README.md
  aws/v16.2.1/announcement.md
  aws/v16.2.1/kustomization.yaml
  aws/v16.2.1/release.diff
  aws/v16.2.1/release.yaml
Due: push-aws

Add aws release 16.2.1
  aws/requests.yaml
  aws/v16.2.1/README.md
  aws/v16.2.1/release.diff
  aws/v16.2.1/release.yaml
Due: push-aws

Add aws release 16.2.1
  aws/v16.2.1/release.diff
  aws/v16.2.1/release.yaml
Due: push-aws

Update azure/v16.1.2/README.md
  azure/v16.1.2/README.md
Due: push-azure

Add azure release 16.1.2 (#891)
  README.md
  azure/kustomization.yaml
  azure/v16.1.2/README.md
  azure/v16.1.2/announcement.md
  azure/v16.1.2/kustomization.yaml
  azure/v16.1.2/release.diff
  azure/v16.1.2/release.yaml
Due: push-azure

added componentversion
  azure/v16.1.2/release.yaml
Due: push-azure

archive azure release 16.1.1
  README.md
  azure/archived/v16.1.1/README.md
  azure/archived/v16.1.1/announcement.md
  azure/archived/v16.1.1/kustomization.yaml
  azure/archived/v16.1.1/release.diff
  azure/archived/v16.1.1/release.yaml
  azure/kustomization.yaml
  azure/requests.yaml
Due: push-azure

archive azure release 16.1.1 (#893)
  README.md
  azure/archived/v16.1.1/README.md
  azure/archived/v16.1.1/announcement.md
  azure/archived/v16.1.1/kustomization.yaml
  azure/archived/v16.1.1/release.diff
  azure/archived/v16.1.1/release.yaml
  azure/kustomization.yaml
  azure/requests.yaml
Due: push-azure

fix release notes link in announcement
  aws/v16.2.1/announcement.md
Due: push-aws

Add aws release 16.2.1 (#892)
  README.md
  aws/kustomization.yaml
  aws/requests.yaml
  aws/v16.2.1/README.md
  aws/v16.2.1/announcement.md
  aws/v16.2.1/kustomization.yaml
  aws/v16.2.1/release.diff
  aws/v16.2.1/release.yaml
Due: push-aws

Deprecate aws 16.2.1
  aws/v16.2.1/release.yaml
Due: push-aws

Deprecate aws 16.2.1 (#894)
  aws/v16.2.1/release.yaml
Due: push-aws

Request aws-cni 1.10.1 for next aws release
  aws/requests.yaml
Due: push-aws

Request aws-cni 1.10.1 for next aws release (#895)
  aws/requests.yaml
Due: push-aws

Update requests.yaml
  aws/requests.yaml
Due: push-aws

Update requests.yaml (#896)
  aws/requests.yaml
Due: push-aws

Add request for cert-operator
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Add request for cert-operator
  azure/requests.yaml
Due: push-azure

Add request for cert-operator (#897)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Add aws release 16.3.0
  README.md
  aws/kustomization.yaml
  aws/v16.3.0/README.md
  aws/v16.3.0/kustomization.yaml
  aws/v16.3.0/release.diff
  aws/v16.3.0/release.yaml
Due: push-aws

update cloud provider openstack
  openstack/v20.0.0-alpha1/release.yaml
Due: none

update cloud provider openstack (#899)
  openstack/v20.0.0-alpha1/release.yaml
Due: none

Add aws release 16.3.0
  aws/v16.3.0/release.yaml
Due: push-aws

Add aws release 16.3.0
  aws/v16.3.0/README.md
  aws/v16.3.0/release.diff
  aws/v16.3.0/release.yaml
Due: push-aws

Fixed readme
  aws/v16.3.0/README.md
Due: push-aws

add release announcement
  aws/v16.3.0/README.md
  aws/v16.3.0/announcement.md
Due: push-aws

update release description in release notes
  aws/v16.3.0/README.md
Due: push-aws

Add aws release 16.3.0 (#898)
  README.md
  aws/kustomization.yaml
  aws/v16.3.0/README.md
  aws/v16.3.0/announcement.md
  aws/v16.3.0/kustomization.yaml
  aws/v16.3.0/release.diff
  aws/v16.3.0/release.yaml
Due: push-aws

Upgrade policies
  aws/v20.0.0-alpha1/release.yaml
Due: push-aws

Upgrade policies (#900)
  aws/v20.0.0-alpha1/release.yaml
Due: push-aws

Update capz app
  azure/v20.0.0-alpha1/release.yaml
Due: push-azure

Comment out azure release validation
  releases_test.go
Due: none

Use test catalog
  azure/v20.0.0-alpha1/release.yaml
Due: push-azure

Update cluster-api app
  azure/v20.0.0-alpha1/release.yaml
Due: push-azure

Upgrade capz app
  azure/v20.0.0-alpha1/release.yaml
Due: push-azure

Upgrade kyverno policies
  azure/v20.0.0-alpha1/release.yaml
Due: push-azure

Request calico 3.21 for 17.x releases
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Request calico 3.21 for 17.x releases (#902)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Request app-operator 5.4.1 for AWS and Azure
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Path conditions:
  push-aws: any of: aws/.*
  push-azure: any of: azure/.*
  push-kvm: any of: kvm/.*
