Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

update release notes and announcement
  azure/v20.0.0-alpha1/README.md
Due: push-azure

update release notes and announcement
  azure/v20.0.0-alpha1/announcement.md
Due: push-azure

Add release with azure CAPZ controllers (#632)
  README.md
  azure/kustomization.yaml
  azure/requests.yaml
  azure/v20.0.0-alpha1/README.md
  azure/v20.0.0-alpha1/announcement.md
  azure/v20.0.0-alpha1/kustomization.yaml
  azure/v20.0.0-alpha1/release.diff
  azure/v20.0.0-alpha1/release.yaml
  go.mod
  go.sum
Due: push-azure

bump vpa version
  aws/v17.0.0/release.yaml
Due: push-aws

update cluster-autoscaler
  aws/v17.0.0/release.diff
  aws/v17.0.0/release.yaml
Due: push-aws

update README
  aws/v17.0.0/README.md
Due: push-aws

update azure v20.0.0-alpha1 release date, notes and announcement
  azure/v20.0.0-alpha1/README.md
  azure/v20.0.0-alpha1/announcement.md
  azure/v20.0.0-alpha1/release.yaml
Due: push-azure

update azure v20.0.0-alpha1 release date, notes and announcement (#929)
  azure/v20.0.0-alpha1/README.md
  azure/v20.0.0-alpha1/announcement.md
  azure/v20.0.0-alpha1/release.yaml
Due: push-azure

mention blog post the v20.0.0-alpha1 release notes
  azure/v20.0.0-alpha1/README.md
Due: push-azure

mention blog post the v20.0.0-alpha1 release notes (#930)
  azure/v20.0.0-alpha1/README.md
Due: push-azure

bump vpa
  aws/v17.0.0/README.md
  aws/v17.0.0/release.diff
  aws/v17.0.0/release.yaml
Due: push-aws

bumped azure-scheduled events in 17.0.0 alpha1
  azure/v17.0.0-alpha1/README.md
  azure/v17.0.0-alpha1/release.diff
  azure/v17.0.0-alpha1/release.yaml
Due: push-azure

request azure-scheduled events 0.6.0 in 17.0.0 alpha1
  azure/requests.yaml
Due: push-azure

request azure-scheduled events 0.6.0 in 17.0.0 alpha1 (#931)
  azure/requests.yaml
Due: push-azure

Align files
  LICENSE
Due: none

Align files (#932)
  LICENSE
Due: none

Update capi APP to 1.0.2
  azure/v20.0.0-alpha1/release.yaml
Due: push-azure

Don't merge: Testing flux
  README.md
  azure/kustomization.yaml
  azure/requests.yaml
  azure/v16.1.3/README.md
  azure/v16.1.3/kustomization.yaml
  azure/v16.1.3/release.diff
  azure/v16.1.3/release.yaml
Due: push-azure

Remove v15 mentions
  azure/requests.yaml
Due: push-azure

Remove v15 mentions (#935)
  azure/requests.yaml
Due: push-azure

Update capi APP to 1.0.2 (#933)
  azure/v20.0.0-alpha1/release.yaml
Due: push-azure

bump architect-orb to v4.12.0
  .circleci/provider_config.yml
Due: none

bump architect-orb to v4.12.0 (#936)
  .circleci/provider_config.yml
Due: none

update flatcar release and kubernetes release
  aws/v17.0.0/README.md
  aws/v17.0.0/release.diff
  aws/v17.0.0/release.yaml
Due: push-aws

update aws-operator
  aws/v17.0.0/README.md
  aws/v17.0.0/release.diff
  aws/v17.0.0/release.yaml
Due: push-aws

Add Azure v17.0.0-alpha1
  azure/kustomization.yaml
  azure/v17.0.0-alpha1/README.md
  azure/v17.0.0-alpha1/kustomization.yaml
  azure/v17.0.0-alpha1/release.diff
  azure/v17.0.0-alpha1/release.yaml
Due: push-azure

Add Azure requests
  azure/requests.yaml
Due: push-azure

fix components
  azure/requests.yaml
  azure/v17.0.0-alpha1/README.md
  azure/v17.0.0-alpha1/release.diff
  azure/v17.0.0-alpha1/release.yaml
Due: push-azure

update aws-cni
  aws/v17.0.0/README.md
  aws/v17.0.0/release.diff
  aws/v17.0.0/release.yaml
  aws/v17.0.0/test.yaml
Due: push-aws

fix flatcar
  azure/v17.0.0-alpha1/release.diff
  azure/v17.0.0-alpha1/release.yaml
Due: push-azure

add readme
  README.md
Due: none

update aws-operator to disable rpcbind
  aws/v17.0.0/README.md
  aws/v17.0.0/release.diff
  aws/v17.0.0/release.yaml
Due: push-aws

Add vpa
  azure/v17.0.0-alpha1/release.diff
  azure/v17.0.0-alpha1/release.yaml
Due: push-azure

Request new azure operator for 17.0.0
  azure/requests.yaml
Due: push-azure

Path conditions:
  push-aws: any of: aws/.*
  push-azure: any of: azure/.*
  push-kvm: any of: kvm/.*
