Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

Docs: Fix CAPVCD release list. (#1526)
  README.md
Due: none

CAPA: Release v25.4.0.
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v25.4.0/README.md
  capa/v25.4.0/announcement.md
  capa/v25.4.0/kustomization.yaml
  capa/v25.4.0/release.diff
  capa/v25.4.0/release.yaml
Due: none

CAPA: Release v25.4.0. (#1518)
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v25.4.0/README.md
  capa/v25.4.0/announcement.md
  capa/v25.4.0/kustomization.yaml
  capa/v25.4.0/release.diff
  capa/v25.4.0/release.yaml
Due: none

CAPA: Release v26.3.0.
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v26.3.0/README.md
  capa/v26.3.0/announcement.md
  capa/v26.3.0/kustomization.yaml
  capa/v26.3.0/release.diff
  capa/v26.3.0/release.yaml
Due: none

CAPA: Release v26.3.0. (#1517)
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v26.3.0/README.md
  capa/v26.3.0/announcement.md
  capa/v26.3.0/kustomization.yaml
  capa/v26.3.0/release.diff
  capa/v26.3.0/release.yaml
Due: none

CAPA: Request `aws-ebs-csi-driver` v3.0.0.
  capa/requests.yaml
Due: none

CAPA: Request `aws-ebs-csi-driver` v3.0.0. (#1528)
  capa/requests.yaml
Due: none

CAPA: Release v27.4.0.
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v27.4.0/README.md
  capa/v27.4.0/announcement.md
  capa/v27.4.0/kustomization.yaml
  capa/v27.4.0/release.diff
  capa/v27.4.0/release.yaml
Due: none

CAPA: Release v27.4.0. (#1519)
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v27.4.0/README.md
  capa/v27.4.0/announcement.md
  capa/v27.4.0/kustomization.yaml
  capa/v27.4.0/release.diff
  capa/v27.4.0/release.yaml
Due: none

CAPA: Release v28.4.0.
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v28.4.0/README.md
  capa/v28.4.0/announcement.md
  capa/v28.4.0/kustomization.yaml
  capa/v28.4.0/release.diff
  capa/v28.4.0/release.yaml
Due: none

CAPA: Release v28.4.0. (#1520)
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v28.4.0/README.md
  capa/v28.4.0/announcement.md
  capa/v28.4.0/kustomization.yaml
  capa/v28.4.0/release.diff
  capa/v28.4.0/release.yaml
Due: none

CAPV: Release v29.2.0.
  README.md
  vsphere/kustomization.yaml
  vsphere/releases.json
  vsphere/v29.2.0/README.md
  vsphere/v29.2.0/announcement.md
  vsphere/v29.2.0/kustomization.yaml
  vsphere/v29.2.0/release.diff
  vsphere/v29.2.0/release.yaml
Due: none

CAPV: Release v29.2.0. (#1525)
  README.md
  vsphere/kustomization.yaml
  vsphere/releases.json
  vsphere/v29.2.0/README.md
  vsphere/v29.2.0/announcement.md
  vsphere/v29.2.0/kustomization.yaml
  vsphere/v29.2.0/release.diff
  vsphere/v29.2.0/release.yaml
Due: none

CAPVCD: Release v29.2.0.
  README.md
  cloud-director/kustomization.yaml
  cloud-director/releases.json
  cloud-director/v29.2.0/README.md
  cloud-director/v29.2.0/announcement.md
  cloud-director/v29.2.0/kustomization.yaml
  cloud-director/v29.2.0/release.diff
  cloud-director/v29.2.0/release.yaml
Due: none

CAPVCD: Release v29.2.0. (#1527)
  README.md
  cloud-director/kustomization.yaml
  cloud-director/releases.json
  cloud-director/v29.2.0/README.md
  cloud-director/v29.2.0/announcement.md
  cloud-director/v29.2.0/kustomization.yaml
  cloud-director/v29.2.0/release.diff
  cloud-director/v29.2.0/release.yaml
Due: none

CAPZ: Release v29.4.0.
  README.md
  azure/kustomization.yaml
  azure/releases.json
  azure/v29.4.0/README.md
  azure/v29.4.0/announcement.md
  azure/v29.4.0/kustomization.yaml
  azure/v29.4.0/release.diff
  azure/v29.4.0/release.yaml
Due: push-azure

CAPZ: Release v29.4.0. (#1522)
  README.md
  azure/kustomization.yaml
  azure/releases.json
  azure/v29.4.0/README.md
  azure/v29.4.0/announcement.md
  azure/v29.4.0/kustomization.yaml
  azure/v29.4.0/release.diff
  azure/v29.4.0/release.yaml
Due: push-azure

CAPA: Release v29.5.0.
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v29.5.0/README.md
  capa/v29.5.0/announcement.md
  capa/v29.5.0/kustomization.yaml
  capa/v29.5.0/release.diff
  capa/v29.5.0/release.yaml
Due: none

CAPA: Release v29.5.0. (#1529)
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v29.5.0/README.md
  capa/v29.5.0/announcement.md
  capa/v29.5.0/kustomization.yaml
  capa/v29.5.0/release.diff
  capa/v29.5.0/release.yaml
Due: none

Archive AWS Vintage releases not used
  README.md
  aws/archived/v19.2.1/README.md
  aws/archived/v19.2.1/announcement.md
  aws/archived/v19.2.1/kustomization.yaml
  aws/archived/v19.2.1/release.diff
  aws/archived/v19.2.1/release.yaml
  aws/archived/v19.3.1/README.md
  aws/archived/v19.3.1/announcement.md
  aws/archived/v19.3.1/kustomization.yaml
  aws/archived/v19.3.1/release.diff
  aws/archived/v19.3.1/release.yaml
  aws/archived/v19.3.4/README.md
  aws/archived/v19.3.4/announcement.md
  aws/archived/v19.3.4/kustomization.yaml
  aws/archived/v19.3.4/release.diff
  aws/archived/v19.3.4/release.yaml
  aws/archived/v20.1.0/README.md
  aws/archived/v20.1.0/announcement.md
  aws/archived/v20.1.0/kustomization.yaml
  aws/archived/v20.1.0/release.diff
  aws/archived/v20.1.0/release.yaml
  aws/archived/v20.1.1/README.md
  aws/archived/v20.1.1/announcement.md
  aws/archived/v20.1.1/kustomization.yaml
  aws/archived/v20.1.1/release.diff
  aws/archived/v20.1.1/release.yaml
  aws/archived/v20.1.3/README.md
  aws/archived/v20.1.3/announcement.md
  aws/archived/v20.1.3/kustomization.yaml
  aws/archived/v20.1.3/release.diff
  aws/archived/v20.1.3/release.yaml
Due: push-aws

remove from kustomization
  aws/kustomization.yaml
Due: push-aws

fix typo
  README.md
Due: none

Archive AWS Vintage releases not used (#1530)
  README.md
  aws/archived/v19.2.1/README.md
  aws/archived/v19.2.1/announcement.md
  aws/archived/v19.2.1/kustomization.yaml
  aws/archived/v19.2.1/release.diff
  aws/archived/v19.2.1/release.yaml
  aws/archived/v19.3.1/README.md
  aws/archived/v19.3.1/announcement.md
  aws/archived/v19.3.1/kustomization.yaml
  aws/archived/v19.3.1/release.diff
  aws/archived/v19.3.1/release.yaml
  aws/archived/v19.3.4/README.md
  aws/archived/v19.3.4/announcement.md
  aws/archived/v19.3.4/kustomization.yaml
  aws/archived/v19.3.4/release.diff
  aws/archived/v19.3.4/release.yaml
  aws/archived/v20.1.0/README.md
  aws/archived/v20.1.0/announcement.md
  aws/archived/v20.1.0/kustomization.yaml
  aws/archived/v20.1.0/release.diff
  aws/archived/v20.1.0/release.yaml
  aws/archived/v20.1.1/README.md
  aws/archived/v20.1.1/announcement.md
  aws/archived/v20.1.1/kustomization.yaml
  aws/archived/v20.1.1/release.diff
  aws/archived/v20.1.1/release.yaml
  aws/archived/v20.1.3/README.md
  aws/archived/v20.1.3/announcement.md
  aws/archived/v20.1.3/kustomization.yaml
  aws/archived/v20.1.3/release.diff
  aws/archived/v20.1.3/release.yaml
  aws/kustomization.yaml
Due: push-aws

CAPI: Relax Cilium requests.
  azure/requests.yaml
  capa/requests.yaml
  cloud-director/requests.yaml
  vsphere/requests.yaml
Due: push-azure

CAPI: Relax Cilium requests. (#1536)
  azure/requests.yaml
  capa/requests.yaml
  cloud-director/requests.yaml
  vsphere/requests.yaml
Due: push-azure

Request latest os-tooling used for next release
  azure/requests.yaml
  capa/requests.yaml
  cloud-director/requests.yaml
  vsphere/requests.yaml
Due: push-azure

CAPI: Request latest `os-tooling` used for next release. (#1538)
  azure/requests.yaml
  capa/requests.yaml
  cloud-director/requests.yaml
  vsphere/requests.yaml
Due: push-azure

Align files
  LICENSE
Due: none

Align files (#1541)
  LICENSE
Due: none

delete KVM from CircleCI config
  .circleci/provider_config.yml
  helm/releases-kvm/Chart.yaml
  helm/releases-kvm/values.yaml
Due: none

CircleCI: Remove KVM leftovers.
  .circleci/config.yml
Due: none

delete KVM from CircleCI config (#1543)
  .circleci/config.yml
  .circleci/provider_config.yml
  helm/releases-kvm/Chart.yaml
  helm/releases-kvm/values.yaml
Due: none

CAPI: Request `security-bundle` v1.9.1.
  azure/requests.yaml
  capa/requests.yaml
  cloud-director/requests.yaml
  vsphere/requests.yaml
Due: push-azure

CAPI: Request `security-bundle` v1.9.1. (#1544)
  azure/requests.yaml
  capa/requests.yaml
  cloud-director/requests.yaml
  vsphere/requests.yaml
Due: push-azure

CAPA: Test cluster chart PR #418.
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v29.6.0/README.md
  capa/v29.6.0/announcement.md
  capa/v29.6.0/kustomization.yaml
  capa/v29.6.0/release.diff
  capa/v29.6.0/release.yaml
Due: none

CAPZ: Test cluster chart PR #418.
  README.md
  azure/kustomization.yaml
  azure/releases.json
  azure/v29.4.1/README.md
  azure/v29.4.1/announcement.md
  azure/v29.4.1/kustomization.yaml
  azure/v29.4.1/release.diff
  azure/v29.4.1/release.yaml
Due: push-azure

CAPA: Test cluster chart PR #418.
  README.md
  capa/kustomization.yaml
  capa/releases.json
  capa/v29.5.1/README.md
  capa/v29.5.1/announcement.md
  capa/v29.5.1/kustomization.yaml
  capa/v29.5.1/release.diff
  capa/v29.5.1/release.yaml
Due: none

request cilium 0.25.2 with v1.15.13
  azure/requests.yaml
  capa/requests.yaml
  vsphere/requests.yaml
Due: push-azure

request on cloud-director
  cloud-director/requests.yaml
Due: none

CAPVCD: Test cluster chart PR #418.
  README.md
  cloud-director/kustomization.yaml
  cloud-director/releases.json
  cloud-director/v29.2.1/README.md
  cloud-director/v29.2.1/announcement.md
  cloud-director/v29.2.1/kustomization.yaml
  cloud-director/v29.2.1/release.diff
  cloud-director/v29.2.1/release.yaml
Due: none

Path conditions:
  push-aws: any of: aws/.*
  push-azure: any of: azure/.*
  push-kvm: any of: kvm/.*
