Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.3

jobs:
  validate:
    docker:
      - image: quay.io/giantswarm/architect
    steps:
      - checkout
      - run:
          name: Validate releases
          command: CGO_ENABLED=0 go test ./...

workflows:
  workflow:
    jobs:
      - validate
      - path-filtering/filter:
          name: filter
          mapping: |
            aws/.* push-aws true
            azure/.* push-azure true
            kvm/.* push-kvm true
          base-revision: master
          config-path: .circleci/provider_config.yml
          requires:
            - validate

update
  README.md
  aws/v16.0.0/release.yaml
Due: push-aws

update components
  aws/v16.0.0/release.yaml
Due: push-aws

Use cluster-apps-operator v0.6.1
  aws/v20.0.0/release.yaml
Due: push-aws

Use cluster-apps-operator v0.6.1 (#816)
  aws/v20.0.0/release.yaml
Due: push-aws

Added azure 16.0.1
  README.md
  azure/kustomization.yaml
  azure/v16.0.1/README.md
  azure/v16.0.1/kustomization.yaml
  azure/v16.0.1/release.diff
  azure/v16.0.1/release.yaml
Due: push-azure

Archive AWS release v9.3.9
  README.md
  aws/archived/v9.3.9/README.md
  aws/archived/v9.3.9/announcement.md
  aws/archived/v9.3.9/kustomization.yaml
  aws/archived/v9.3.9/release.diff
  aws/archived/v9.3.9/release.yaml
  aws/kustomization.yaml
Due: push-aws

Archive AWS release v9.3.9 (#818)
  README.md
  aws/archived/v9.3.9/README.md
  aws/archived/v9.3.9/announcement.md
  aws/archived/v9.3.9/kustomization.yaml
  aws/archived/v9.3.9/release.diff
  aws/archived/v9.3.9/release.yaml
  aws/kustomization.yaml
Due: push-aws

Archive AWS release v13.0.0
  README.md
  aws/archived/v13.0.0/README.md
  aws/archived/v13.0.0/announcement.md
  aws/archived/v13.0.0/kustomization.yaml
  aws/archived/v13.0.0/release.diff
  aws/archived/v13.0.0/release.yaml
  aws/kustomization.yaml
Due: push-aws

Archive AWS release v13.0.0 (#819)
  README.md
  aws/archived/v13.0.0/README.md
  aws/archived/v13.0.0/announcement.md
  aws/archived/v13.0.0/kustomization.yaml
  aws/archived/v13.0.0/release.diff
  aws/archived/v13.0.0/release.yaml
  aws/kustomization.yaml
Due: push-aws

Archive AWS release v14.0.0
  README.md
  aws/archived/v14.0.0/README.md
  aws/archived/v14.0.0/announcement.md
  aws/archived/v14.0.0/kustomization.yaml
  aws/archived/v14.0.0/release.diff
  aws/archived/v14.0.0/release.yaml
  aws/kustomization.yaml
Due: push-aws

update components
  aws/v20.0.0/release.yaml
Due: push-aws

update all components
  aws/v16.0.0/README.md
  aws/v16.0.0/release.diff
  aws/v16.0.0/release.yaml
Due: push-aws

bumpb cluster austoscaler
  aws/v16.0.0/README.md
  aws/v16.0.0/release.diff
  aws/v16.0.0/release.yaml
Due: push-aws

Archive AWS release v14.0.0 (#821)
  README.md
  aws/archived/v14.0.0/README.md
  aws/archived/v14.0.0/announcement.md
  aws/archived/v14.0.0/kustomization.yaml
  aws/archived/v14.0.0/release.diff
  aws/archived/v14.0.0/release.yaml
  aws/kustomization.yaml
Due: push-aws

Dummy release to test e2e
  azure/kustomization.yaml
  azure/v17.0.0/README.md
  azure/v17.0.0/kustomization.yaml
  azure/v17.0.0/release.diff
  azure/v17.0.0/release.yaml
Due: push-azure

update aws-operator to 10.9.1
  aws/v16.0.0/README.md
  aws/v16.0.0/release.diff
  aws/v16.0.0/release.yaml
Due: push-aws

fix app
  aws/v16.0.0/release.diff
  aws/v16.0.0/release.yaml
Due: push-aws

kvm 15.1.0 release
  README.md
  kvm/kustomization.yaml
  kvm/v15.1.0/README.md
  kvm/v15.1.0/announcement.md
  kvm/v15.1.0/kustomization.yaml
  kvm/v15.1.0/release.diff
  kvm/v15.1.0/release.yaml
Due: push-kvm

fix calico version
  kvm/v15.1.0/release.diff
  kvm/v15.1.0/release.yaml
Due: push-kvm

Create release via devctl
  kvm/v15.1.0/README.md
  kvm/v15.1.0/release.diff
  kvm/v15.1.0/release.yaml
Due: push-kvm

AWS 15.3.0
  aws/kustomization.yaml
  aws/v15.3.0/README.md
  aws/v15.3.0/kustomization.yaml
  aws/v15.3.0/release.diff
  aws/v15.3.0/release.yaml
Due: push-aws

AWS 15.3.0
  aws/v15.3.0/release.diff
  aws/v15.3.0/release.yaml
Due: push-aws

AWS 15.3.0
  README.md
Due: none

Bump kubernetes + calico version
  kvm/v15.1.0/README.md
  kvm/v15.1.0/release.diff
  kvm/v15.1.0/release.yaml
Due: push-kvm

AWS 15.2.2
  README.md
  aws/kustomization.yaml
  aws/v15.2.2/README.md
  aws/v15.2.2/kustomization.yaml
  aws/v15.2.2/release.diff
  aws/v15.2.2/release.yaml
Due: push-aws

AWS 15.2.2
  aws/v15.2.2/release.diff
  aws/v15.2.2/release.yaml
Due: push-aws

AWS 15.2.2
  aws/requests.yaml
Due: push-aws

update release notes description and release announcement
  aws/v15.2.2/README.md
  aws/v15.2.2/announcement.md
Due: push-aws

remove extra spece
  aws/v15.2.2/announcement.md
Due: push-aws

remove Azure mentions from release notes
  aws/v15.2.2/README.md
Due: push-aws

AWS 15.2.2 (#825)
  README.md
  aws/kustomization.yaml
  aws/requests.yaml
  aws/v15.2.2/README.md
  aws/v15.2.2/announcement.md
  aws/v15.2.2/kustomization.yaml
  aws/v15.2.2/release.diff
  aws/v15.2.2/release.yaml
Due: push-aws

update capv app
  vsphere/v0.1.0/release.yaml
Due: none

render
  .circleci/provider_config.yml
Due: none

fix pipeline
  .circleci/provider_config.yml
Due: none

update release
  vsphere/v0.1.0/release.yaml
Due: none

Update requests.yaml
  aws/requests.yaml
Due: push-aws

Update requests.yaml (#826)
  aws/requests.yaml
Due: push-aws

deprecate v15.2.1 release
  aws/v15.2.1/release.yaml
Due: push-aws

update cert-manager
  aws/v16.0.0/README.md
  aws/v16.0.0/release.diff
  aws/v16.0.0/release.yaml
Due: push-aws

deprecate v15.2.1 release (#827)
  aws/v15.2.1/release.yaml
Due: push-aws
