Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

update apps and components
  aws/v17.4.0/README.md
  aws/v17.4.0/release.diff
  aws/v17.4.0/release.yaml
Due: push-aws

update ebs
  aws/v17.4.0/README.md
  aws/v17.4.0/release.diff
  aws/v17.4.0/release.yaml
Due: push-aws

webhook-exporter
  aws/v17.4.0/README.md
  aws/v17.4.0/release.diff
  aws/v17.4.0/release.yaml
Due: push-aws

bump aws-operator
  aws/v17.4.0/README.md
  aws/v17.4.0/release.diff
  aws/v17.4.0/release.yaml
Due: push-aws

update kubernetes again
  aws/v17.4.0/README.md
  aws/v17.4.0/release.diff
  aws/v17.4.0/release.yaml
Due: push-aws

Request cert-manager 2.14.0 for aws >= 17.4.0
  aws/requests.yaml
Due: push-aws

Request cert-manager 2.14.0 for aws >= 17.4.0 (#993)
  aws/requests.yaml
Due: push-aws

Update operator to include upgrade behaviour
  aws/v17.4.0/README.md
  aws/v17.4.0/release.diff
  aws/v17.4.0/release.yaml
Due: push-aws

Update operator to include upgrade behaviour (#994)
  aws/v17.4.0/README.md
  aws/v17.4.0/release.diff
  aws/v17.4.0/release.yaml
Due: push-aws

bump components
  azure/v17.1.0/release.yaml
Due: push-azure

bump components
  azure/v17.1.0/README.md
  azure/v17.1.0/release.diff
  azure/v17.1.0/release.yaml
Due: push-azure

Added readme and announcement
  azure/v17.1.0/README.md
  azure/v17.1.0/announcement.md
Due: push-azure

Archived azure release 16.0.1
  README.md
  azure/archived/v16.0.1/README.md
  azure/archived/v16.0.1/announcement.md
  azure/archived/v16.0.1/kustomization.yaml
  azure/archived/v16.0.1/release.diff
  azure/archived/v16.0.1/release.yaml
  azure/kustomization.yaml
Due: push-azure

Archived azure release 16.0.1 (#995)
  README.md
  azure/archived/v16.0.1/README.md
  azure/archived/v16.0.1/announcement.md
  azure/archived/v16.0.1/kustomization.yaml
  azure/archived/v16.0.1/release.diff
  azure/archived/v16.0.1/release.yaml
  azure/kustomization.yaml
Due: push-azure

Update announcement.md
  azure/v17.1.0/announcement.md
Due: push-azure

Update azure/v17.1.0/README.md
  azure/v17.1.0/README.md
Due: push-azure

update release date
  azure/v17.1.0/release.diff
  azure/v17.1.0/release.yaml
Due: push-azure

tweak release announcement
  azure/v17.1.0/announcement.md
Due: push-azure

add highlights, key rotation details to release notes
  azure/v17.1.0/README.md
Due: push-azure

add azure release 17.1.0 (#957)
  README.md
  azure/kustomization.yaml
  azure/v17.1.0/README.md
  azure/v17.1.0/announcement.md
  azure/v17.1.0/kustomization.yaml
  azure/v17.1.0/release.diff
  azure/v17.1.0/release.yaml
Due: push-azure

Fix azure 17.0.1 date
  azure/v17.0.1/release.yaml
Due: push-azure

Update release.yaml
  azure/v16.1.3/release.yaml
Due: push-azure

Fix azure 17.0.1 date (#996)
  azure/v16.1.3/release.yaml
  azure/v17.0.1/release.yaml
Due: push-azure

Update release.yaml
  aws/v17.4.0/release.yaml
Due: push-aws

Update release.diff
  aws/v17.4.0/release.diff
Due: push-aws

Update README.md
  aws/v17.4.0/README.md
Due: push-aws

Update autoscaler (#997)
  aws/v17.4.0/README.md
  aws/v17.4.0/release.diff
  aws/v17.4.0/release.yaml
Due: push-aws

Upgrade kube-state-metrics to v1.11.0
  aws/v17.3.3/release.yaml
  azure/v17.1.0/release.yaml
  kvm/v16.2.0/release.yaml
Due: push-aws, push-azure, push-kvm

Add cert-manager 2.15.0
  aws/v17.4.0/README.md
  aws/v17.4.0/release.diff
  aws/v17.4.0/release.yaml
Due: push-aws

Add cert-manager 2.15.0 (#999)
  aws/v17.4.0/README.md
  aws/v17.4.0/release.diff
  aws/v17.4.0/release.yaml
Due: push-aws

Upgrade kube-state-metrics to v1.11.0
  aws/requests.yaml
  azure/requests.yaml
  kvm/requests.yaml
Due: push-aws, push-azure, push-kvm

Revert "Upgrade kube-state-metrics to v1.11.0"
  aws/v17.3.3/release.yaml
  azure/v17.1.0/release.yaml
  kvm/v16.2.0/release.yaml
Due: push-aws, push-azure, push-kvm

azure new > 17.1.0 block
  azure/requests.yaml
Due: push-azure

fix azure block
  azure/requests.yaml
Due: push-azure

Upgrade kube-state-metrics to v1.11.0 (#998)
  aws/requests.yaml
  azure/requests.yaml
  kvm/requests.yaml
Due: push-aws, push-azure, push-kvm

Define and activate release 16.2.1 for kvm
  kvm/kustomization.yaml
  kvm/v16.2.1/README.md
  kvm/v16.2.1/kustomization.yaml
  kvm/v16.2.1/release.diff
  kvm/v16.2.1/release.yaml
Due: push-kvm

bump external-dns
  aws/v17.4.0/README.md
  aws/v17.4.0/release.diff
  aws/v17.4.0/release.yaml
Due: push-aws

Bump all components
  aws/v17.4.0/README.md
  aws/v17.4.0/release.diff
  aws/v17.4.0/release.yaml
Due: push-aws

Path conditions:
  push-aws: any of: aws/.*
  push-azure: any of: azure/.*
  push-kvm: any of: kvm/.*
