Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

AWS: Request `cert-manager` >= v2.23.2.
  aws/requests.yaml
Due: push-aws

AWS: Request `cert-manager` >= v2.23.2. (#1134)
  aws/requests.yaml
Due: push-aws

Bump requested version of net-exporter (#1130)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

patch external-dns in aws v19 (#1132)
  aws/v19.0.0/README.md
  aws/v19.0.0/release.diff
  aws/v19.0.0/release.yaml
Due: push-aws

archive aws releases 17.4.3, 18.0.2 and 18.4.1
  README.md
  aws/archived/v17.4.3/README.md
  aws/archived/v17.4.3/announcement.md
  aws/archived/v17.4.3/kustomization.yaml
  aws/archived/v17.4.3/release.diff
  aws/archived/v17.4.3/release.yaml
  aws/archived/v18.0.2/README.md
  aws/archived/v18.0.2/announcement.md
  aws/archived/v18.0.2/kustomization.yaml
  aws/archived/v18.0.2/release.diff
  aws/archived/v18.0.2/release.yaml
  aws/archived/v18.4.1/README.md
  aws/archived/v18.4.1/announcement.md
  aws/archived/v18.4.1/kustomization.yaml
  aws/archived/v18.4.1/release.diff
  aws/archived/v18.4.1/release.yaml
  aws/kustomization.yaml
Due: push-aws

archive aws releases 17.4.3, 18.0.2 and 18.4.1 (#1136)
  README.md
  aws/archived/v17.4.3/README.md
  aws/archived/v17.4.3/announcement.md
  aws/archived/v17.4.3/kustomization.yaml
  aws/archived/v17.4.3/release.diff
  aws/archived/v17.4.3/release.yaml
  aws/archived/v18.0.2/README.md
  aws/archived/v18.0.2/announcement.md
  aws/archived/v18.0.2/kustomization.yaml
  aws/archived/v18.0.2/release.diff
  aws/archived/v18.0.2/release.yaml
  aws/archived/v18.4.1/README.md
  aws/archived/v18.4.1/announcement.md
  aws/archived/v18.4.1/kustomization.yaml
  aws/archived/v18.4.1/release.diff
  aws/archived/v18.4.1/release.yaml
  aws/kustomization.yaml
Due: push-aws

bump azure 19.1.0
  azure/v19.1.0/release.diff
  azure/v19.1.0/release.yaml
Due: push-azure

cert-manager 2.24.0 in upcoming AWS releases
  aws/requests.yaml
Due: push-aws

cert-manager 2.24.0 in upcoming AWS releases (#1137)
  aws/requests.yaml
Due: push-aws

Update release.yaml
  aws/v19.0.0/release.yaml
Due: push-aws

Update release.diff
  aws/v19.0.0/release.diff
Due: push-aws

Update README.md
  aws/v19.0.0/README.md
Due: push-aws

Update release.yaml for new VPA release (#1138)
  aws/v19.0.0/README.md
  aws/v19.0.0/release.diff
  aws/v19.0.0/release.yaml
Due: push-aws

Update README.md
  azure/v19.1.0/README.md
Due: push-azure

Create announcement.md
  azure/v19.1.0/announcement.md
Due: push-azure

add changelog entries
  azure/v19.1.0/README.md
  azure/v19.1.0/announcement.md
  azure/v19.1.0/release.diff
  azure/v19.1.0/release.yaml
Due: push-azure

Update azure/v19.1.0/README.md
  azure/v19.1.0/README.md
Due: push-azure

Update announcement.md
  azure/v19.1.0/announcement.md
Due: push-azure

azure 19.1.0 (#1122)
  README.md
  azure/kustomization.yaml
  azure/v19.1.0/README.md
  azure/v19.1.0/announcement.md
  azure/v19.1.0/kustomization.yaml
  azure/v19.1.0/release.diff
  azure/v19.1.0/release.yaml
Due: push-azure

Update Release 19
  aws/v19.0.0/release.yaml
Due: push-aws

Update Release 19 (#1139)
  aws/v19.0.0/README.md
  aws/v19.0.0/release.yaml
Due: push-aws

Update README.md (#1140)
  azure/v19.1.0/README.md
Due: push-azure

Update request for cert-manager
  aws/requests.yaml
Due: push-aws

Update request for vpa app to 3.5.3
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Update azure request to use a separate block for 19.1.0+
  azure/requests.yaml
Due: push-azure

Update request for cert-manager (#1141)
  aws/requests.yaml
Due: push-aws

Update request for vpa app to 3.5.3 (#1142)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Update version of observability bundle in aws and azure requests
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Update observability bundle in aws and azure
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Update observability bundle in aws and azure (#1144)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

fake release for testing
  README.md
  aws/kustomization.yaml
  aws/v19.1.0/README.md
  aws/v19.1.0/kustomization.yaml
  aws/v19.1.0/release.diff
  aws/v19.1.0/release.yaml
Due: push-aws

fake release for testing
  aws/v19.1.0/README.md
  aws/v19.1.0/release.diff
  aws/v19.1.0/release.yaml
Due: push-aws

aws-cloud-controller-manager v1.24.1-gs9 | cluster-autoscaler v1.24.0-gs3
  aws/v19.0.0/README.md
  aws/v19.0.0/release.diff
  aws/v19.0.0/release.yaml
Due: push-aws

aws-cloud-controller-manager v1.24.1-gs9 | cluster-autoscaler v1.24.0-gs3 (#1146)
  aws/v19.0.0/README.md
  aws/v19.0.0/release.diff
  aws/v19.0.0/release.yaml
Due: push-aws

Path conditions:
  push-aws: any of: aws/.*
  push-azure: any of: azure/.*
  push-kvm: any of: kvm/.*
