Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

deprecate 17.3.0 (#976)
  aws/v17.3.0/release.yaml
Due: push-aws

AWS v17.3.2
  aws/v17.3.2/README.md
  aws/v17.3.2/announcement.md
  aws/v17.3.2/release.yaml
Due: push-aws

AWS v17.3.2
  aws/v17.3.2/release.yaml
Due: push-aws

AWS v17.3.2
  .circleci/provider_config.yml
Due: none

AWS v17.3.2 (#975)
  .circleci/provider_config.yml
  README.md
  aws/kustomization.yaml
  aws/requests.yaml
  aws/v17.3.2/README.md
  aws/v17.3.2/announcement.md
  aws/v17.3.2/kustomization.yaml
  aws/v17.3.2/release.diff
  aws/v17.3.2/release.yaml
Due: push-aws

deprecate AWS v17.3.1 release
  aws/v17.3.1/release.yaml
Due: push-aws

deprecate AWS v17.3.1 release (#977)
  aws/v17.3.1/release.yaml
Due: push-aws

add AWS v17.3.3
  aws/kustomization.yaml
  aws/v17.3.3/README.md
  aws/v17.3.3/kustomization.yaml
  aws/v17.3.3/release.diff
  aws/v17.3.3/release.yaml
Due: push-aws

add AWS v16.4.2
  aws/kustomization.yaml
  aws/v16.4.2/README.md
  aws/v16.4.2/kustomization.yaml
  aws/v16.4.2/release.diff
  aws/v16.4.2/release.yaml
Due: push-aws

add Azure v16.1.3
  azure/kustomization.yaml
  azure/v16.1.3/README.md
  azure/v16.1.3/kustomization.yaml
  azure/v16.1.3/release.diff
  azure/v16.1.3/release.yaml
Due: push-azure

add Azure v17.0.1
  azure/kustomization.yaml
  azure/v17.0.1/README.md
  azure/v17.0.1/kustomization.yaml
  azure/v17.0.1/release.diff
  azure/v17.0.1/release.yaml
Due: push-azure

add KVM v16.2.1
  kvm/kustomization.yaml
  kvm/v16.2.1/README.md
  kvm/v16.2.1/kustomization.yaml
  kvm/v16.2.1/release.diff
  kvm/v16.2.1/release.yaml
Due: push-kvm

request newest metrics-server for next aws release
  aws/requests.yaml
Due: push-aws

archive azure alpha release
  README.md
  azure/archived/v17.0.0-alpha1/README.md
  azure/archived/v17.0.0-alpha1/announcement.md
  azure/archived/v17.0.0-alpha1/kustomization.yaml
  azure/archived/v17.0.0-alpha1/release.diff
  azure/archived/v17.0.0-alpha1/release.yaml
  azure/kustomization.yaml
Due: push-azure

archive azure alpha release (#983)
  README.md
  azure/archived/v17.0.0-alpha1/README.md
  azure/archived/v17.0.0-alpha1/announcement.md
  azure/archived/v17.0.0-alpha1/kustomization.yaml
  azure/archived/v17.0.0-alpha1/release.diff
  azure/archived/v17.0.0-alpha1/release.yaml
  azure/kustomization.yaml
Due: push-azure

bump VPA requests
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

request node exporter 1.12
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

mention cgroups v2 issue with go applications
  aws/v17.0.0/README.md
Due: push-aws

mention cgroups v2 issue with go applications
  azure/v17.0.0/README.md
Due: push-azure

mention cgroups v2 issue with go applications (#984)
  aws/v17.0.0/README.md
  azure/v17.0.0/README.md
Due: push-aws, push-azure

Align files
  .nancy-ignore
Due: none

Align files (#985)
  .nancy-ignore
Due: none

AWS & Azure: Request `external-dns` v2.14.0 in upcoming minor releases.
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

AWS & Azure: Request `external-dns` v2.14.0 in upcoming minor releases. (#987)
  aws/requests.yaml
  azure/requests.yaml
Due: push-aws, push-azure

Prepare a test release for testing cluster operator changes
  aws/v17.3.2-cluster-operator-test/README.md
  aws/v17.3.2-cluster-operator-test/announcement.md
  aws/v17.3.2-cluster-operator-test/kustomization.yaml
  aws/v17.3.2-cluster-operator-test/release.diff
  aws/v17.3.2-cluster-operator-test/release.yaml
Due: push-aws

Fix static checks
  README.md
  aws/kustomization.yaml
  aws/v17.3.2-cluster-operator-test/README.md
  aws/v17.3.2-cluster-operator-test/announcement.md
Due: push-aws

ignore requests
  aws/requests.yaml
Due: push-aws

more fixes
  README.md
  aws/v16.4.1/release.yaml
  aws/v16.4.2/release.yaml
Due: push-aws

Align files (#986)
  .nancy-ignore
Due: none

more fixes
  README.md
  aws/requests.yaml
Due: push-aws

more fixes
  aws/v17.3.2/release.yaml
Due: push-aws

Update README.md
  aws/v16.4.2/README.md
Due: push-aws

Update aws/v16.4.2/README.md
  aws/v16.4.2/README.md
Due: push-aws

Update README.md (#989)
  aws/v16.4.2/README.md
Due: push-aws

update release description and announcement
  aws/v16.4.2/README.md
  aws/v16.4.2/announcement.md
  aws/v16.4.2/release.diff
  aws/v16.4.2/release.yaml
Due: push-aws

update release description and announcement
  aws/v17.3.3/README.md
  aws/v17.3.3/announcement.md
  aws/v17.3.3/release.diff
  aws/v17.3.3/release.yaml
Due: push-aws

Path conditions:
  push-aws: any of: aws/.*
  push-azure: any of: azure/.*
  push-kvm: any of: kvm/.*
