Repository giantswarm/releases: changes, and which CircleCI parameters are due for each by the changed paths.
All: push-aws, push-azure, push-kvm

fix announcement for aws 18.0.3
  aws/v18.0.3/announcement.md
Due: push-aws

Update requests.yaml
  aws/requests.yaml
Due: push-aws

Update requests.yaml
  azure/requests.yaml
Due: push-azure

archive azure release 17.0.1
  README.md
  azure/archived/v17.0.1/README.md
  azure/archived/v17.0.1/announcement.md
  azure/archived/v17.0.1/kustomization.yaml
  azure/archived/v17.0.1/release.diff
  azure/archived/v17.0.1/release.yaml
  azure/kustomization.yaml
Due: push-azure

archive azure release 17.0.1 (#1053)
  README.md
  azure/archived/v17.0.1/README.md
  azure/archived/v17.0.1/announcement.md
  azure/archived/v17.0.1/kustomization.yaml
  azure/archived/v17.0.1/release.diff
  azure/archived/v17.0.1/release.yaml
  azure/kustomization.yaml
Due: push-azure

AWS v18.1.0
  aws/kustomization.yaml
  aws/v18.1.0/README.md
  aws/v18.1.0/kustomization.yaml
  aws/v18.1.0/release.diff
  aws/v18.1.0/release.yaml
Due: push-aws

AWS v18.1.0
  README.md
Due: none

AWS v18.1.0
  aws/v18.1.0/README.md
  aws/v18.1.0/release.diff
  aws/v18.1.0/release.yaml
Due: push-aws

update aws-ebs-csi-driver
  aws/v18.1.0/README.md
  aws/v18.1.0/release.diff
  aws/v18.1.0/release.yaml
Due: push-aws

bump aws-operator
  aws/v18.1.0/README.md
  aws/v18.1.0/release.diff
  aws/v18.1.0/release.yaml
Due: push-aws

update readme
  aws/v18.1.0/README.md
  aws/v18.1.0/announcement.md
Due: push-aws

Update aws/v18.1.0/announcement.md
  aws/v18.1.0/announcement.md
Due: push-aws

Update aws/v18.1.0/README.md
  aws/v18.1.0/README.md
Due: push-aws

AWS v18.1.0 (#1054)
  README.md
  aws/kustomization.yaml
  aws/v18.1.0/README.md
  aws/v18.1.0/announcement.md
  aws/v18.1.0/kustomization.yaml
  aws/v18.1.0/release.diff
  aws/v18.1.0/release.yaml
Due: push-aws

AWS v16.5.2
  README.md
  aws/kustomization.yaml
  aws/v16.5.2/README.md
  aws/v16.5.2/announcement.md
  aws/v16.5.2/kustomization.yaml
  aws/v16.5.2/release.diff
  aws/v16.5.2/release.yaml
Due: push-aws

Update release.yaml
  aws/v16.5.2/release.yaml
Due: push-aws

AWS v16.5.2 (#1055)
  README.md
  aws/kustomization.yaml
  aws/v16.5.2/README.md
  aws/v16.5.2/announcement.md
  aws/v16.5.2/kustomization.yaml
  aws/v16.5.2/release.diff
  aws/v16.5.2/release.yaml
Due: push-aws

Deprecate 16.5.1 in favor of 16.5.2
  aws/v16.5.1/release.yaml
Due: push-aws

Deprecate 16.5.1 in favor of 16.5.2 (#1056)
  aws/v16.5.1/release.yaml
Due: push-aws

Update requests.yaml (#1057)
  azure/requests.yaml
Due: push-azure

Update requests.yaml (#1058)
  aws/requests.yaml
Due: push-aws

AWS 17.4.4
  README.md
  aws/kustomization.yaml
  aws/v17.4.4/README.md
  aws/v17.4.4/kustomization.yaml
  aws/v17.4.4/release.diff
  aws/v17.4.4/release.yaml
  kustomization.yaml
Due: push-aws

requirements
  aws/v17.4.4/README.md
  aws/v17.4.4/release.diff
  aws/v17.4.4/release.yaml
Due: push-aws

fixes
  aws/v17.4.4/README.md
  aws/v17.4.4/release.diff
  aws/v17.4.4/release.yaml
Due: push-aws

update notes
  aws/v17.4.4/README.md
  aws/v17.4.4/announcement.md
Due: push-aws

Update release.yaml
  aws/v17.4.3/release.yaml
Due: push-aws

AWS 17.4.4 (#1059)
  README.md
  aws/kustomization.yaml
  aws/v17.4.4/README.md
  aws/v17.4.4/announcement.md
  aws/v17.4.4/kustomization.yaml
  aws/v17.4.4/release.diff
  aws/v17.4.4/release.yaml
  kustomization.yaml
Due: push-aws

archive azure v17 releases
  README.md
  azure/archived/v17.1.0/README.md
  azure/archived/v17.1.0/announcement.md
  azure/archived/v17.1.0/kustomization.yaml
  azure/archived/v17.1.0/release.diff
  azure/archived/v17.1.0/release.yaml
  azure/archived/v17.2.0/README.md
  azure/archived/v17.2.0/announcement.md
  azure/archived/v17.2.0/kustomization.yaml
  azure/archived/v17.2.0/release.diff
  azure/archived/v17.2.0/release.yaml
  azure/kustomization.yaml
Due: push-azure

archive azure v17 releases (#1060)
  README.md
  azure/archived/v17.1.0/README.md
  azure/archived/v17.1.0/announcement.md
  azure/archived/v17.1.0/kustomization.yaml
  azure/archived/v17.1.0/release.diff
  azure/archived/v17.1.0/release.yaml
  azure/archived/v17.2.0/README.md
  azure/archived/v17.2.0/announcement.md
  azure/archived/v17.2.0/kustomization.yaml
  azure/archived/v17.2.0/release.diff
  azure/archived/v17.2.0/release.yaml
  azure/kustomization.yaml
Due: push-azure

Update requests.yaml (#1061)
  aws/requests.yaml
Due: push-aws

Update requests.yaml (#1062)
  azure/requests.yaml
Due: push-azure

Align files
  .github/workflows/zz_generated.add-to-project-board.yaml
Due: none

Path conditions:
  push-aws: any of: aws/.*
  push-azure: any of: azure/.*
  push-kvm: any of: kvm/.*
